.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}

@media (--tablet) {
  .tablet\:block {
    display: block;
  }

  .tablet\:inline {
    display: inline;
  }

  .tablet\:inline-block {
    display: inline-block;
  }

  .tablet\:flex {
    display: flex;
  }

  .tablet\:inline-flex {
    display: inline-flex;
  }
  
  .tablet\:hide {
    display: none;
  }

  .tablet\:invisible {
    visibility: hidden;
  }
}

@media (--desktop) {
  .desktop\:block {
    display: block;
  }

  .desktop\:inline {
    display: inline;
  }

  .desktop\:inline-block {
    display: inline-block;
  }

  .desktop\:flex {
    display: flex;
  }

  .desktop\:inline-flex {
    display: inline-flex;
  }
  
  .desktop\:hide {
    display: none;
  }

  .desktop\:invisible {
    visibility: hidden;
  }
}