.font-size--md {
  font-size: var(--ancient-font-size);
}

.font-size--sm {
  font-size: var(--ancient-font-size-sm);
}

.font-size--lg {
  font-size: var(--ancient-font-size-lg);
}

@media (--desktop) {  
  .desktop\:font-size--md {
    font-size: var(--ancient-font-size);
  }
  
  .desktop\:font-size--sm {
    font-size: var(--ancient-font-size-sm);
  }
  
  .desktop\:font-size--lg {
    font-size: var(--ancient-font-size-lg);
  }
}

.text-align--center {
  text-align: center;
}

.text-align--left {
  text-align: left;
}

.text-align--right {
  text-align: right;
}

@media (--desktop) {
  .desktop\:text-align--center {
    text-align: center;
  }

  .desktop\:text-align--left {
    text-align: left;
  }

  .desktop\:text-align--right {
    text-align: right;
  }
}