/* =============================================================================
   Margin Utilities
   ========================================================================== */

/**
 * Utilties for adjusting margin properties across media queries.
 */

.margin {
  margin: var( --ancient-utility-margin );
}

.margin--small {
  margin: var( --ancient-utility-margin-small );
}

.margin--large {
  margin: var( --ancient-utility-margin-large );
}

.margin-bottom {
  margin-bottom: var( --ancient-utility-margin );
}

.margin-bottom--small {
  margin-bottom: var( --ancient-utility-margin-small );
}

.margin-bottom--large {
  margin-bottom: var( --ancient-utility-margin-large );
}

.margin-left {
  margin-left: var( --ancient-utility-margin );
}

.margin-left--small {
  margin-left: var( --ancient-utility-margin-small );
}

.margin-left--large {
  margin-left: var( --ancient-utility-margin-large );
}

.margin-right {
  margin-right: var( --ancient-utility-margin );
}

.margin-right--small {
  margin-right: var( --ancient-utility-margin-small );
}

.margin-right--large {
  margin-right: var( --ancient-utility-margin-large );
}

.margin-top {
  margin-top: var( --ancient-utility-margin );
}

.margin-top--small {
  margin-top: var( --ancient-utility-margin-small );
}

.margin-top--large {
  margin-top: var( --ancient-utility-margin-large );
}

@media (--desktop) {

  .desktop\:margin {
    margin: var( --ancient-utility-margin );
  }

  .desktop\:margin--small {
    margin: var( --ancient-utility-margin-small );
  }

  .desktop\:margin--large {
    margin: var( --ancient-utility-margin-large );
  }

  .desktop\:margin-bottom {
    margin-bottom: var( --ancient-utility-margin );
  }

  .desktop\:margin-bottom--small {
    margin-bottom: var( --ancient-utility-margin-small );
  }

  .desktop\:margin-bottom--large {
    margin-bottom: var( --ancient-utility-margin-large );
  }

  .desktop\:margin-left {
    margin-left: var( --ancient-utility-margin );
  }

  .desktop\:margin-left--small {
    margin-left: var( --ancient-utility-margin-small );
  }

  .desktop\:margin-left--large {
    margin-left: var( --ancient-utility-margin-large );
  }

  .desktop\:margin-right {
    margin-right: var( --ancient-utility-margin );
  }

  .desktop\:margin-right--small {
    margin-right: var( --ancient-utility-margin-small );
  }

  .desktop\:margin-right--large {
    margin-right: var( --ancient-utility-margin-large );
  }

  .desktop\:margin-top {
    margin-top: var( --ancient-utility-margin );
  }

  .desktop\:margin-top--small {
    margin-top: var( --ancient-utility-margin-small );
  }

  .desktop\:margin-top--large {
    margin-top: var( --ancient-utility-margin-large );
  }

}