/*
  utilities.color.css
    each element will receive color variables and can modify how they are used
    from within
    
    many components have defaults set for things such as hover lightness delta
    but can be modified (for instance, alternate color variants may want hover
    to decrease lightness instead of increase)
    
    if an element behavior is not expected or wanted you should ovxrride the
    component with custom styles and modify the variables as you see fit!
    
    some components use these variables directly as fallback values (so that you
    don't have to add `.base` to everything) so it is recommended to keep the
    values in `:root` which makes dark mode theming easier, too
*/




/*
  .base
    a neutral contrast for the default colors
*/

.base {
  --hue:        var(--base-hue);
  --saturation: var(--base-saturation);
  --background: var(--base-background);
  --border:     var(--base-border);
  --color:      var(--base-color);
  --divider:    var(--base-divider);
  --text:       var(--base-text);

  --border-hover-delta: var(--base-border-hover-delta, 8%);
  --border-active-delta: var(--base-border-active-delta, 16%);
}

/*
  ._base
    an inverted variant for use on base color
*/

._base {
  --hue:        var(--base-invert-hue);
  --saturation: var(--base-invert-saturation);
  --background: var(--base-invert-background);
  --border:     var(--base-invert-border);
  --color:      var(--base-invert-color);
  --divider:    var(--base-invert-divider);
  --text:       var(--base-invert-text);
  
  --border-hover-delta: var(--base-border-invert-hover-delta, 8%);
  --border-active-delta: var(--base-border-invert-active-delta, 16%);
}

/*
  .base+
    alternate color variant for base, usually lighter in light mode, but in
    dark mode most color variants use the base alternate settings because it
    looks better (but can be changed)
    
    it is highly unrecommend (and unsupported, currently) to use alternate
    variants on almost every form element; the general rule is that if an
    element sets the background color (banner, box, button, card, etc.) then
    it is *safe*
*/

.base\+ {
  --hue:        var(--base-alternate-hue);
  --saturation: var(--base-alternate-saturation);
  --background: var(--base-alternate-background);
  --color:      var(--base-alternate-color);
  --border:     var(--base-alternate-border);
  --divider:    var(--base-alternate-divider);
  --text:       var(--base-alternate-text);

  /*
    hover-delta increase lightness by default, but will result in pure white
    here so we should slightly darken it instead
  */
  --hover-delta:  var(--base-alternate-hover-delta, -2%);
  --active-delta: var(--base-alternate-active-delta, -4%);

  /*
    box-shadows barely appear so we can remap some of the default button
    variables that tie into it for better contrast
  */
  --box-shadow:       var(--base-alternate-box-shadow, var(--base-alternate-color));
  --box-shadow-alpha: 1;
  --box-shadow-width: 0.125em;
  --box-shadow-inset: inset;
}




/*
  .primary
    the main or interactive color for the site which will probably match your
    brand color
*/

.primary {  
  --hue:        var(--primary-hue);
  --saturation: var(--primary-saturation);
  --background: var(--primary-background);
  --color:      var(--primary-color);
  --border:     var(--primary-border);
  --divider:    var(--primary-divider);
  --text:       var(--primary-text);

  --box-shadow:       var(--primary-alternate-box-shadow, var(--color));
  --box-shadow-alpha: 0.25;
  --box-shadow-width: 0.1875em;
  --box-shadow-inset: ;
}

/*
  ._primary
    an inverted variant of primary for use on primary color
*/

._primary {
  --hue:        var(--primary-invert-hue);
  --saturation: var(--primary-invert-saturation);
  --background: var(--primary-invert-background);
  --border:     var(--primary-invert-border);
  --color:      var(--primary-invert-color);
  --divider:    var(--primary-invert-divider);
  --text:       var(--primary-invert-text);

  --border-hover-delta: var(--primary-invert-border-hover-delta, 8%);
  --border-active-delta: var(--primary-invert-border-active-delta, 16%);
}

/*
  for special instances where you are nesting inverted colors you can manually
  adjust the border lightness
*/

._primary .primary {
  --border: 80%;
  --border-hover-delta: -8%;
  --border-active-delta: -16%;
}

/*
  .primary+
    an alternate variant of the primary color
*/

.primary\+ {
  --hue:        var(--primary-alternate-hue);
  --saturation: var(--primary-alternate-saturation);
  --background: var(--primary-alternate-background);
  --border:     var(--primary-alternate-border);
  --color:      var(--primary-alternate-color);
  --divider:    var(--primary-alternate-divider);
  --text:       var(--primary-alternate-text);

  --hover-delta:  var(--primary-alternate-hover-delta, -2%);
  --active-delta: var(--primary-alternate-active-delta, -4%);

  --box-shadow:       var(--primary-alternate-box-shadow, var(--primary-alternate-color));
  --box-shadow-alpha: 1;
  --box-shadow-width: 0.125em;
  --box-shadow-inset: inset;
}




.secondary {
  --hue:        var(--secondary-hue);
  --saturation: var(--secondary-saturation);
  --background: var(--secondary-background);
  --border:     var(--secondary-border);
  --color:      var(--secondary-color);
  --divider:    var(--secondary-divider);
  --text:       var(--secondary-text);
}

._secondary {
  --hue:        var(--secondary-invert-hue);
  --saturation: var(--secondary-invert-saturation);
  --background: var(--secondary-invert-background);
  --border:     var(--secondary-invert-border);
  --color:      var(--secondary-invert-color);
  --divider:    var(--secondary-invert-divider);
  --text:       var(--secondary-invert-text);
  
  --border-hover-delta: 8%;
  --border-active-delta: 16%;
}

.secondary\+ {
  --hue:        var(--secondary-alternate-hue);
  --saturation: var(--secondary-alternate-saturation);
  --background: var(--secondary-alternate-background);
  --border:     var(--secondary-alternate-border);
  --color:      var(--secondary-alternate-color);
  --divider:    var(--secondary-alternate-divider);
  --text:       var(--secondary-alternate-text);

  --hover-delta:  var(--secondary-alternate-hover-delta, -2%);
  --active-delta: var(--secondary-alternate-active-delta, -4%);
  
  --box-shadow: var(--secondary-box-shadow, var(--secondary-alternate-color, 48%));
  --box-shadow-alpha: 1;
  --box-shadow-inset: inset;
  --box-shadow-width: 0.125em;
}




.info {
  --hue:        var(--info-hue);
  --saturation: var(--info-saturation);
  --background: var(--info-background);
  --border:     var(--info-border);
  --color:      var(--info-color);
  --divider:    var(--info-divider);
  --text:       var(--info-text);
}

._info {
  --hue:        var(--info-invert-hue);
  --saturation: var(--info-invert-saturation);
  --background: var(--info-invert-background);
  --border:     var(--info-invert-border);
  --color:      var(--info-invert-color);
  --divider:    var(--info-invert-divider);
  --text:       var(--info-invert-text);

  --border-hover-delta: 8%;
  --border-active-delta: 16%;
}

.info\+ {
  --hue:        var(--info-alternate-hue);
  --saturation: var(--info-alternate-saturation);
  --background: var(--info-alternate-background);
  --border:     var(--info-alternate-border);
  --color:      var(--info-alternate-color);
  --divider:    var(--info-alternate-divider);
  --text:       var(--info-alternate-text);

  --hover-delta:  var(--info-alternate-hover-delta, -2%);
  --active-delta: var(--info-alternate-active-delta, -4%);

  --box-shadow:       var(--info-box-shadow, var(--info-alternate-color));
  --box-shadow-alpha: 1;
  --box-shadow-inset: inset;
  --box-shadow-width: 0.125em;
}




.success {
  --hue:        var(--success-hue);
  --saturation: var(--success-saturation);
  --background: var(--success-background);
  --border:     var(--success-border);
  --color:      var(--success-color);
  --divider:    var(--success-divider);
  --text:       var(--success-text);
}

._success {
  --hue:        var(--success-invert-hue);
  --saturation: var(--success-invert-saturation);
  --background: var(--success-invert-background);
  --border:     var(--success-invert-border);
  --color:      var(--success-invert-color);
  --divider:    var(--success-invert-divider);
  --text:       var(--success-invert-text);

  --border-hover-delta: 8%;
  --border-active-delta: 16%;
}

.success\+ {
  --hue:        var(--success-alternate-hue);
  --saturation: var(--success-alternate-saturation);
  --background: var(--success-alternate-background);
  --border:     var(--success-alternate-border);
  --color:      var(--success-alternate-color);
  --divider:    var(--success-alternate-divider);
  --text:       var(--success-alternate-text);

  --hover-delta:  var(--success-alternate-hover-delta, -2%);
  --active-delta: var(--success-alternate-active-delta, -4%);

  --box-shadow: var(--success-box-shadow, var(--success-alternate-color));
  --box-shadow-alpha: 1;
  --box-shadow-inset: inset;
  --box-shadow-width: 0.125em;
}




.warning {
  --hue:        var(--warning-hue);
  --saturation: var(--warning-saturation);
  --background: var(--warning-background);
  --border:     var(--warning-border);
  --color:      var(--warning-color);
  --divider:    var(--warning-divider);
  --text:       var(--warning-text);
}

._warning {
  --hue:        var(--warning-invert-hue);
  --saturation: var(--warning-invert-saturation);
  --background: var(--warning-invert-background);
  --border:     var(--warning-invert-border);
  --color:      var(--warning-invert-color);
  --divider:    var(--warning-invert-divider);
  --text:       var(--warning-invert-text);

  --border-hover-delta: 8%;
  --border-active-delta: 16%;
}

.warning\+ {
  --hue:        var(--warning-alternate-hue);
  --saturation: var(--warning-alternate-saturation);
  --background: var(--warning-alternate-background);
  --border:     var(--warning-alternate-border);
  --color:      var(--warning-alternate-color);
  --divider:    var(--warning-alternate-divider);
  --text:       var(--warning-alternate-text);

  --hover-delta:  var(--warning-alternate-hover-delta, -2%);
  --active-delta: var(--warning-alternate-active-delta, -4%);

  --box-shadow: var(--warning-box-shadow, var(--warning-alternate-color));
  --box-shadow-alpha: 1;
  --box-shadow-inset: inset;
  --box-shadow-width: 0.125em;
}




.error {
  --hue:        var(--error-hue);
  --saturation: var(--error-saturation);
  --background: var(--error-background);
  --border:     var(--error-border);
  --color:      var(--error-color);
  --divider:    var(--error-divider);
  --text:       var(--error-text);
}

._error {
  --hue:        var(--error-invert-hue);
  --saturation: var(--error-invert-saturation);
  --background: var(--error-invert-background);
  --border:     var(--error-invert-border);
  --color:      var(--error-invert-color);
  --divider:    var(--error-invert-divider);
  --text:       var(--error-invert-text);

  --border-hover-delta: 8%;
  --border-active-delta: 16%;
}

.error\+ {
  --hue:        var(--error-alternate-hue);
  --saturation: var(--error-alternate-saturation);
  --background: var(--error-alternate-background);
  --border:     var(--error-alternate-border);
  --color:      var(--error-alternate-color);
  --divider:    var(--error-alternate-divider);
  --text:       var(--error-alternate-text);

  --hover-delta:  var(--error-alternate-hover-delta, -2%);
  --active-delta: var(--error-alternate-active-delta, -4%);

  --box-shadow: var(--error-box-shadow, var(--error-alternate-color));
  --box-shadow-alpha: 1;
  --box-shadow-inset: inset;
  --box-shadow-width: 0.125em;
}
