/* utilities.margin.css */

.ma { margin: auto }
.mba { margin-bottom: auto }
.mla { margin-left: auto }
.mra { margin-right: auto }
.mta { margin-top: auto }
.mxa { margin-left: auto; margin-right: auto }
.mya { margin-bottom: auto; margin-top: auto }

.m0 { margin: 0 }
.m1 { margin: 0.125em }
.m2 { margin: 0.25em }
.m3 { margin: 0.5em }
.m4 { margin: 1em }
.m5 { margin: 2em }
.m6 { margin: 4em }
.m7 { margin: 8em }
.m8 { margin: 16em }

.mb0 { margin-bottom: 0 }
.mb1 { margin-bottom: 0.125em }
.mb2 { margin-bottom: 0.25em }
.mb3 { margin-bottom: 0.5em }
.mb4 { margin-bottom: 1em }
.mb5 { margin-bottom: 2em }
.mb6 { margin-bottom: 4em }
.mb7 { margin-bottom: 8em }
.mb8 { margin-bottom: 16em }

.ml0 { margin-left: 0 }
.ml1 { margin-left: 0.125em }
.ml2 { margin-left: 0.25em }
.ml3 { margin-left: 0.5em }
.ml4 { margin-left: 1em }
.ml5 { margin-left: 2em }
.ml6 { margin-left: 4em }
.ml7 { margin-left: 8em }
.ml8 { margin-left: 16em }

.mr0 { margin-right: 0 }
.mr1 { margin-right: 0.125em }
.mr2 { margin-right: 0.25em }
.mr3 { margin-right: 0.5em }
.mr4 { margin-right: 1em }
.mr5 { margin-right: 2em }
.mr6 { margin-right: 4em }
.mr7 { margin-right: 8em }
.mr8 { margin-right: 16em }

.mt0 { margin-top: 0 }
.mt1 { margin-top: 0.125em }
.mt2 { margin-top: 0.25em }
.mt3 { margin-top: 0.5em }
.mt4 { margin-top: 1em }
.mt5 { margin-top: 2em }
.mt6 { margin-top: 4em }
.mt7 { margin-top: 8em }
.mt8 { margin-top: 16em }

.mx0 { margin-left: 0; margin-right: 0 }
.mx1 { margin-left: 0.125em; margin-right: 0.125em }
.mx2 { margin-left: 0.25em; margin-right: 0.25em }
.mx3 { margin-left: 0.5em; margin-right: 0.5em }
.mx4 { margin-left: 1em; margin-right: 1em }
.mx5 { margin-left: 2em; margin-right: 2em }
.mx6 { margin-left: 4em; margin-right: 4em }
.mx7 { margin-left: 8em; margin-right: 8em }
.mx8 { margin-left: 16em; margin-right: 16em }

.my0 { margin-bottom: 0; margin-top: 0 }
.my1 { margin-bottom: 0.125em; margin-top: 0.125em }
.my2 { margin-bottom: 0.25em; margin-top: 0.25em }
.my3 { margin-bottom: 0.5em; margin-top: 0.5em }
.my4 { margin-bottom: 1em; margin-top: 1em }
.my5 { margin-bottom: 2em; margin-top: 2em }
.my6 { margin-bottom: 4em; margin-top: 4em }
.my7 { margin-bottom: 8em; margin-top: 8em }
.my8 { margin-bottom: 16em; margin-top: 16em }

@media (min-width: 768px) {
  .m0\/m { margin: 0 }
  .m1\/m { margin: 0.125em }
  .m2\/m { margin: 0.25em }
  .m3\/m { margin: 0.5em }
  .m4\/m { margin: 1em }
  .m5\/m { margin: 2em }
  .m6\/m { margin: 4em }
  .m7\/m { margin: 8em }
  .m8\/m { margin: 16em }

  .mb0\/m { margin-bottom: 0 }
  .mb1\/m { margin-bottom: 0.125em }
  .mb2\/m { margin-bottom: 0.25em }
  .mb3\/m { margin-bottom: 0.5em }
  .mb4\/m { margin-bottom: 1em }
  .mb5\/m { margin-bottom: 2em }
  .mb6\/m { margin-bottom: 4em }
  .mb7\/m { margin-bottom: 8em }
  .mb8\/m { margin-bottom: 16em }

  .ml0\/m { margin-left: 0 }
  .ml1\/m { margin-left: 0.125em }
  .ml2\/m { margin-left: 0.25em }
  .ml3\/m { margin-left: 0.5em }
  .ml4\/m { margin-left: 1em }
  .ml5\/m { margin-left: 2em }
  .ml6\/m { margin-left: 4em }
  .ml7\/m { margin-left: 8em }
  .ml8\/m { margin-left: 16em }

  .mr0\/m { margin-right: 0 }
  .mr1\/m { margin-right: 0.125em }
  .mr2\/m { margin-right: 0.25em }
  .mr3\/m { margin-right: 0.5em }
  .mr4\/m { margin-right: 1em }
  .mr5\/m { margin-right: 2em }
  .mr6\/m { margin-right: 4em }
  .mr7\/m { margin-right: 8em }
  .mr8\/m { margin-right: 16em }

  .mt0\/m { margin-top: 0 }
  .mt1\/m { margin-top: 0.125em }
  .mt2\/m { margin-top: 0.25em }
  .mt3\/m { margin-top: 0.5em }
  .mt4\/m { margin-top: 1em }
  .mt5\/m { margin-top: 2em }
  .mt6\/m { margin-top: 4em }
  .mt7\/m { margin-top: 8em }
  .mt8\/m { margin-top: 16em }

  .mx0\/m { margin-left: 0; margin-right: 0 }
  .mx1\/m { margin-left: 0.125em; margin-right: 0.125em }
  .mx2\/m { margin-left: 0.25em; margin-right: 0.25em }
  .mx3\/m { margin-left: 0.5em; margin-right: 0.5em }
  .mx4\/m { margin-left: 1em; margin-right: 1em }
  .mx5\/m { margin-left: 2em; margin-right: 2em }
  .mx6\/m { margin-left: 4em; margin-right: 4em }
  .mx7\/m { margin-left: 8em; margin-right: 8em }
  .mx8\/m { margin-left: 16em; margin-right: 16em }

  .my0\/m { margin-bottom: 0; margin-top: 0 }
  .my1\/m { margin-bottom: 0.125em; margin-top: 0.125em }
  .my2\/m { margin-bottom: 0.25em; margin-top: 0.25em }
  .my3\/m { margin-bottom: 0.5em; margin-top: 0.5em }
  .my4\/m { margin-bottom: 1em; margin-top: 1em }
  .my5\/m { margin-bottom: 2em; margin-top: 2em }
  .my6\/m { margin-bottom: 4em; margin-top: 4em }
  .my7\/m { margin-bottom: 8em; margin-top: 8em }
  .my8\/m { margin-bottom: 16em; margin-top: 16em }
}

@media (min-width: 1024px) {
  .m0\/l { margin: 0 }
  .m1\/l { margin: 0.125em }
  .m2\/l { margin: 0.25em }
  .m3\/l { margin: 0.5em }
  .m4\/l { margin: 1em }
  .m5\/l { margin: 2em }
  .m6\/l { margin: 4em }
  .m7\/l { margin: 8em }
  .m8\/l { margin: 16em }

  .mb0\/l { margin-bottom: 0 }
  .mb1\/l { margin-bottom: 0.125em }
  .mb2\/l { margin-bottom: 0.25em }
  .mb3\/l { margin-bottom: 0.5em }
  .mb4\/l { margin-bottom: 1em }
  .mb5\/l { margin-bottom: 2em }
  .mb6\/l { margin-bottom: 4em }
  .mb7\/l { margin-bottom: 8em }
  .mb8\/l { margin-bottom: 16em }

  .ml0\/l { margin-left: 0 }
  .ml1\/l { margin-left: 0.125em }
  .ml2\/l { margin-left: 0.25em }
  .ml3\/l { margin-left: 0.5em }
  .ml4\/l { margin-left: 1em }
  .ml5\/l { margin-left: 2em }
  .ml6\/l { margin-left: 4em }
  .ml7\/l { margin-left: 8em }
  .ml8\/l { margin-left: 16em }

  .mr0\/l { margin-right: 0 }
  .mr1\/l { margin-right: 0.125em }
  .mr2\/l { margin-right: 0.25em }
  .mr3\/l { margin-right: 0.5em }
  .mr4\/l { margin-right: 1em }
  .mr5\/l { margin-right: 2em }
  .mr6\/l { margin-right: 4em }
  .mr7\/l { margin-right: 8em }
  .mr8\/l { margin-right: 16em }

  .mt0\/l { margin-top: 0 }
  .mt1\/l { margin-top: 0.125em }
  .mt2\/l { margin-top: 0.25em }
  .mt3\/l { margin-top: 0.5em }
  .mt4\/l { margin-top: 1em }
  .mt5\/l { margin-top: 2em }
  .mt6\/l { margin-top: 4em }
  .mt7\/l { margin-top: 8em }
  .mt8\/l { margin-top: 16em }

  .mx0\/l { margin-left: 0; margin-right: 0 }
  .mx1\/l { margin-left: 0.125em; margin-right: 0.125em }
  .mx2\/l { margin-left: 0.25em; margin-right: 0.25em }
  .mx3\/l { margin-left: 0.5em; margin-right: 0.5em }
  .mx4\/l { margin-left: 1em; margin-right: 1em }
  .mx5\/l { margin-left: 2em; margin-right: 2em }
  .mx6\/l { margin-left: 4em; margin-right: 4em }
  .mx7\/l { margin-left: 8em; margin-right: 8em }
  .mx8\/l { margin-left: 16em; margin-right: 16em }

  .my0\/l { margin-bottom: 0; margin-top: 0 }
  .my1\/l { margin-bottom: 0.125em; margin-top: 0.125em }
  .my2\/l { margin-bottom: 0.25em; margin-top: 0.25em }
  .my3\/l { margin-bottom: 0.5em; margin-top: 0.5em }
  .my4\/l { margin-bottom: 1em; margin-top: 1em }
  .my5\/l { margin-bottom: 2em; margin-top: 2em }
  .my6\/l { margin-bottom: 4em; margin-top: 4em }
  .my7\/l { margin-bottom: 8em; margin-top: 8em }
  .my8\/l { margin-bottom: 16em; margin-top: 16em }
}