.behelit,
.behelit.day {
  --default-hue: 224;
  --default-saturation: 32%;

  --primary-hue: 350;
  --primary-saturation: 75%;
  --primary-background: 50%;
  
  --secondary-hue: 192;
  --secondary-saturation: 48%;
  --secondary-background: 48%;
  
  --info-hue: 224;
  --info-saturation: 48%;
  
  --success-hue: 144;
  --success-saturation: 48%;
  
  --warning-hue: 32;
  --warning-saturation: 48%;
  
  --error-hue: 0;
  --error-saturation: 48%;
}
