/**
 *  auto-grid.css
 *
 *  Uses the new `grid` display to automatically fill and wrap grid columns.
 */

.auto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 1rem;
}