.box-shadow {
  box-shadow: var(--box-shadow-inset, ) var(--box-shadow-x, 0) var(--box-shadow-y, 0) var(--box-shadow-blur, 0) var(--box-shadow-spread, 0) var(--box-shadow-color);
}

@each $psuedo in hover, focus, focus-within, active {
  .$(psuedo)\:box-shadow:$(psuedo) {
    box-shadow: var(--box-shadow-inset, ) var(--box-shadow-x, 0) var(--box-shadow-y, 0) var(--box-shadow-blur, 0) var(--box-shadow-spread, 0) var(--box-shadow-color);
  }
}

.box-shadow-inset {
  --box-shadow-inset: inset;
}

@each $property in x, y, blur, spread {
  @each $size, $scale in
  (0, 0.0625, 0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.5, 2, 2.5, 3,  3.5, 4),
  (0, 0\.25,  0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,   4, 6,   8, 10,  12, 14,  16) {
    .box-shadow-$(property)-$(scale) {
      --box-shadow-$(property): $(size)rem;
    }
  }
}

@each $property in x, y, blur, spread {
  @each $size, $scale in
  (0, 0.0625, 0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.5, 2, 2.5, 3,  3.5, 4),
  (0, 0\.25,  0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,   4, 6,   8, 10,  12, 14,  16) {
    .-box-shadow-$(property)-$(scale) {
      --box-shadow-$(property): -$(size)rem;
    }
  }
}

@each $property in x, y, blur, spread {
  @each $psuedo in hover, focus, focus-within, active {
    @each $size in
    (0, 0.0625, 0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.5, 2, 2.5, 3,  3.5, 4),
    (0, 0\.25,  0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,   4, 6,   8, 10,  12, 14,  16) {
      .$(psuedo)\:box-shadow-$(property)-$(scale):$(psuedo) {
        --box-shadow-$(property): $(size)px;
      }
    }
  }
}

@each $property in x, y, blur, spread {
  @each $psuedo in hover, focus, focus-within, active {
    @each $size in
    (0, 0.0625, 0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.5, 2, 2.5, 3,  3.5, 4),
    (0, 0\.25,  0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,   4, 6,   8, 10,  12, 14,  16) {
      .$(psuedo)\:-box-shadow-$(property)-$(scale):$(psuedo) {
        --box-shadow-$(property): -$(size)px;
      }
    }
  }
}

@each $color in apricot, ash, avocado, azure, bone, bronze, canary, cherry, cloud, coral, ice, indigo, ink, lavender, lime, rose, teal  {
  @each $value in 50, 100, 200, 300, 400, 500, 600, 700, 800, 900 {
    .box-shadow-$(color)-$(value) {
      --box-shadow-alpha: 1;
      --box-shadow-color: hsla(var(--$(color)-$(value)), var(--box-shadow-alpha));
    }
  }
}

@each $psuedo in hover, focus, focus-within, active {
  @each $color in apricot, ash, avocado, azure, bone, bronze, canary, cherry, cloud, coral, ice, indigo, ink, lavender, lime, rose, teal  {
    @each $value in 50, 100, 200, 300, 400, 500, 600, 700, 800, 900 {
      .$(psuedo)\:box-shadow-$(color)-$(value):$(psuedo) {
        --box-shadow-alpha: 1;
        --box-shadow-color: hsla(var(--$(color)-$(value)), var(--box-shadow-alpha));
      }
    }
  }
}

@each $alpha, $name in (0, 0.125, 0.25, 0.5, 0.75, 1), (0, 0\.125, 0\.25, 0\.5, 0\.75, 1) {
  .box-shadow-alpha-$(name) {
    --box-shadow-alpha: $(alpha);
  }
}

@each $psuedo in hover, focus, focus-within, active {
  @each $alpha, $name in (0, 0.125, 0.25, 0.5, 0.75, 1), (0, 0\.125, 0\.25, 0\.5, 0\.75, 1) {
    .$(psuedo)\:box-shadow-alpha-$(name):$(psuedo) {
      --box-shadow-alpha: $(alpha);
    }
  }
}
