/**
 *  BUTTON GROUP
 *  Adjusts the border-radius of adjacently-placed buttons.
 *  [1]   Keeps buttons within the z-index context of the button group.
 *  [2]   Allows the button to change z-index.
 *  [3]   Sets un-hovered buttons to the lowest z-index to prevent borders from
 *        overlapping.
 *  [4]   Display hovered button above all others in the group, allowing borders
 *        to overlap.
 */
 
 .button-group {
   position: relative; /* [1] */
 }

.button-group > .button.button--md {
  border-radius: 0;
  position: relative; /* [2] */
  z-index: 1; /* [3] */
}

.button-group > .button:hover {
  z-index: 9999; /* [4] */
}

.button-group > .button.button--md:first-child {
  border-top-left-radius: var(--button-md-border-radius);
  border-bottom-left-radius: var(--button-md-border-radius);
}

.button-group > .button.button--outline:first-child {
  margin-right: -1px;
}

.button-group > .button.button--md:last-child {
  border-top-right-radius: var(--button-md-border-radius);
  border-bottom-right-radius: var(--button-md-border-radius);
}

.button-group > .button.button--outline:last-child {
  margin-left: -1px;
}
