/**
 *  button.css
 */

/**
 *  .button
 *
 *  default button styles
 */
.button {
  align-items: center;
  align-self: flex-start;
  background-color: var(--button-background-color-default);
  border-style: var(--button-border-style);
  border-width: 0;
  color: var(--button-text-color-default);
  cursor: pointer;
  display: inline-flex;
  font: inherit;
  font-weight: 700;
  padding: 0;
  justify-content: center;
  transition: var(--button-transition);
}

.button:hover,
.button.button--hover {
  background-color: var(--button-background-color-hover);
  color: var(--button-text-color-hover);
}

.button:focus,
.button.button--focus {
  background-color: var(--button-background-color-focus);
  box-shadow: var(--button-focus-outline);
  color: var(--button-text-color-focus);
}

.button:active,
.button.button--active {
  background-color: var(--button-background-color-active);
  color: var(--button-text-color-active);
}

/**
 *  button primary
 */
.button.button--primary {
  background-color: var(--button-primary-background-color-default);
  color: var(--button-primary-text-color-default);
}

.button.button--primary:hover,
.button.button--primary.button--hover {
  background-color: var(--button-primary-background-color-hover);
  color: var(--button-primary-text-color-hover);
}

.button.button--primary:focus,
.button.button--primary.button--focus {
  background-color: var(--button-primary-background-color-focus);
  box-shadow: var(--button-primary-focus-outline);
  color: var(--button-primary-text-color-focus);
}

.button.button--primary:active,
.button.button--primary.button--active {
  background-color: var(--button-primary-background-color-active);
  color: var(--button-primary-text-color-active);
}

/**
 *  button secondary
 */
.button.button--secondary {
  background-color: var(--button-secondary-background-color-default);
  color: var(--button-secondary-text-color-default);
}

.button.button--secondary:hover,
.button.button--secondary.button--hover {
  background-color: var(--button-secondary-background-color-hover);
  color: var(--button-secondary-text-color-hover);
}

.button.button--secondary:focus,
.button.button--secondary.button--focus {
  background-color: var(--button-secondary-background-color-focus);
  box-shadow: var(--button-secondary-focus-outline);
  color: var(--button-secondary-text-color-focus);
}

.button.button--secondary:active,
.button.button--secondary.button--active {
  background-color: var(--button-secondary-background-color-active);
  color: var(--button-secondary-text-color-active);
}

/**
 *  button error
 */
.button.button--error {
  background-color: var(--button-error-background-color-default);
  color: var(--button-error-text-color-default);
}

.button.button--error:hover,
.button.button--error.button--hover {
  background-color: var(--button-error-background-color-hover);
  color: var(--button-error-text-color-hover);
}

.button.button--error:focus,
.button.button--error.button--focus {
  background-color: var(--button-error-background-color-focus);
  box-shadow: var(--button-error-focus-outline);
  color: var(--button-error-text-color-focus);
}

.button.button--error:active,
.button.button--error.button--active {
  background-color: var(--button-error-background-color-active);
  color: var(--button-error-text-color-active);
}

/**
 *  button success
 */
.button.button--success {
  background-color: var(--button-success-background-color-default);
  color: var(--button-success-text-color-default);
}

.button.button--success:hover,
.button.button--success.button--hover {
  background-color: var(--button-success-background-color-hover);
  color: var(--button-success-text-color-hover);
}

.button.button--success:focus,
.button.button--success.button--focus {
  background-color: var(--button-success-background-color-focus);
  box-shadow: var(--button-success-focus-outline);
  color: var(--button-success-text-color-focus);
}

.button.button--success:active,
.button.button--success.button--active {
  background-color: var(--button-success-background-color-active);
  color: var(--button-success-text-color-active);
}

/**
 *  button warning
 */
.button.button--warning {
  background-color: var(--button-warning-background-color-default);
  color: var(--button-warning-text-color-default);
}

.button.button--warning:hover,
.button.button--warning.button--hover {
  background-color: var(--button-warning-background-color-hover);
  color: var(--button-warning-text-color-hover);
}

.button.button--warning:focus,
.button.button--warning.button--focus {
  background-color: var(--button-warning-background-color-focus);
  box-shadow: var(--button-warning-focus-outline);
  color: var(--button-warning-text-color-focus);
}

.button.button--warning:active,
.button.button--warning.button--active {
  background-color: var(--button-warning-background-color-active);
  color: var(--button-warning-text-color-active);
}

/**
 *  .button--sm
 */
.button.button--sm {
  border-radius: var(--button-sm-border-radius);
  font-size: var(--button-sm-font-size);
  line-height: var(--button-sm-line-height);
  padding: var(--button-sm-padding);
}

.button.button--md {
  border-radius: var(--button-md-border-radius);
  font-size: var(--button-md-font-size);
  line-height: var(--button-md-line-height);
  padding: var(--button-md-padding);
}

.button.button--lg {
  border-radius: var(--button-lg-border-radius);
  font-size: var(--button-lg-font-size);
  line-height: var(--button-lg-line-height);
  padding: var(--button-lg-padding);
}

.button.button--sm.button--icon {
  padding: var(--button-sm-icon-padding);
}

.button.button--md.button--icon {
  padding: var(--button-md-icon-padding);
}

.button.button--lg.button--icon {
  padding: var(--button-lg-icon-padding);
}

.button.button--block {
  display: flex;
  width: 100%;
}

.button.button--link {
  background-color: transparent;
  color: inherit;
  padding: 0;
}