/* =============================================================================
   Checkbox
   ========================================================================== */

.checkbox {
  align-items: center;
  cursor: pointer;
  display: flex;
  position: relative;
}

.checkbox > input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.checkbox-icon {
  border-color: var(--checkbox-border-color-default);
  border-radius: var(--checkbox-border-radius);
  border-style: var(--checkbox-border-style);
  border-width: var(--checkbox-border-width);
  color: transparent;
  padding: var(--checkbox-padding);
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  margin-right: var(--checkbox-margin-right);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--checkbox-transition);
}

.checkbox:hover .checkbox-icon,
.checkbox-icon:hover {
  border-color: var(--checkbox-border-color-hover);
  color: var(--checkbox-color-hover);
}

.checkbox:active .checkbox-icon,
.checkbox-icon:active {
  padding: 0.25rem;
}

input[type="checkbox"]:checked + .checkbox-icon {
  border-color: transparent;
  color: var(--checkbox-icon-color-checked);
  padding: 0;
}

.checkbox:active input[type="checkbox"]:checked + .checkbox-icon,
input[type="checkbox"]:checked + .checkbox-icon:active {
  padding: 0.125rem;
}

input[type="checkbox"]:focus + .checkbox-icon,
.checkbox:focus .checkbox-icon,
.checkbox-icon:focus {
  border-color: var(--checkbox-border-color-focus);
  box-shadow: var(--checkbox-focus-outline);
  color: var(--checkbox-color-focus);
}