:root {
  --gray-50: 0, 0%, 98%;
  --gray-100: 0, 0%, 96%;
  --gray-200: 0, 0%, 88%;
  --gray-300: 0, 0%, 80%;
  --gray-400: 0, 0%, 72%;
  --gray-500: 0, 0%, 64%;
  --gray-600: 0, 0%, 56%;
  --gray-700: 0, 0%, 48%;
  --gray-800: 0, 0%, 40%;
  --gray-900: 0, 0%, 32%;
  --gray-1000: 0, 0%, 24%;
  --gray-1100: 0, 0%, 16%;
  --gray-1200: 0, 0%, 8%;

  --slate-50: 232, 32%, 98%;
  --slate-100: 232, 32%, 96%;
  --slate-200: 232, 32%, 88%;
  --slate-300: 232, 32%, 80%;
  --slate-400: 232, 32%, 72%;
  --slate-500: 232, 32%, 64%;
  --slate-600: 232, 32%, 56%;
  --slate-700: 232, 32%, 48%;
  --slate-800: 232, 32%, 40%;
  --slate-900: 232, 32%, 32%;
  --slate-1000: 232, 32%, 24%;
  --slate-1100: 232, 32%, 16%;
  --slate-1200: 232, 32%, 8%;

  --stone-50: 0, 16%, 98%;
  --stone-100: 0, 16%, 96%;
  --stone-200: 0, 16%, 88%;
  --stone-300: 0, 16%, 80%;
  --stone-400: 0, 16%, 72%;
  --stone-500: 0, 16%, 64%;
  --stone-600: 0, 16%, 56%;
  --stone-700: 0, 16%, 48%;
  --stone-800: 0, 16%, 40%;
  --stone-900: 0, 16%, 32%;
  --stone-1000: 0, 16%, 24%;
  --stone-1100: 0, 16%, 16%;
  --stone-1200: 0, 16%, 8%;

  --red-50: 0, 80%, 98%;
  --red-100: 0, 80%, 96%;
  --red-200: 0, 80%, 88%;
  --red-300: 0, 80%, 80%;
  --red-400: 0, 80%, 72%;
  --red-500: 0, 80%, 64%;
  --red-600: 0, 80%, 56%;
  --red-700: 0, 80%, 48%;
  --red-800: 0, 80%, 40%;
  --red-900: 0, 80%, 32%;
  --red-1000: 0, 80%, 24%;
  --red-1100: 0, 80%, 16%;
  --red-1200: 0, 80%, 8%;

  --orange-50: 24, 96%, 98%;
  --orange-100: 24, 96%, 96%;
  --orange-200: 24, 96%, 88%;
  --orange-300: 24, 96%, 80%;
  --orange-400: 24, 96%, 72%;
  --orange-500: 24, 96%, 64%;
  --orange-600: 24, 96%, 56%;
  --orange-700: 24, 96%, 48%;
  --orange-800: 24, 96%, 40%;
  --orange-900: 24, 96%, 32%;
  --orange-1000: 24, 96%, 24%;
  --orange-1100: 24, 96%, 16%;
  --orange-1200: 24, 96%, 8%;

  --yellow-50: 48, 96%, 98%;
  --yellow-100: 48, 96%, 96%;
  --yellow-200: 48, 96%, 88%;
  --yellow-300: 48, 96%, 80%;
  --yellow-400: 48, 96%, 72%;
  --yellow-500: 48, 96%, 64%;
  --yellow-600: 48, 96%, 56%;
  --yellow-700: 48, 96%, 48%;
  --yellow-800: 48, 96%, 40%;
  --yellow-900: 48, 96%, 32%;
  --yellow-1000: 48, 96%, 24%;
  --yellow-1100: 48, 96%, 16%;
  --yellow-1200: 48, 96%, 8%;

  --green-50: 128, 64%, 98%;
  --green-100: 128, 64%, 96%;
  --green-200: 128, 64%, 88%;
  --green-300: 128, 64%, 80%;
  --green-400: 128, 64%, 72%;
  --green-500: 128, 64%, 64%;
  --green-600: 128, 64%, 56%;
  --green-700: 128, 64%, 48%;
  --green-800: 128, 64%, 40%;
  --green-900: 128, 64%, 32%;
  --green-1000: 128, 64%, 24%;
  --green-1100: 128, 64%, 16%;
  --green-1200: 128, 64%, 8%;

  --turquoise-50: 176, 72%, 98%;
  --turquoise-100: 176, 72%, 96%;
  --turquoise-200: 176, 72%, 88%;
  --turquoise-300: 176, 72%, 80%;
  --turquoise-400: 176, 72%, 72%;
  --turquoise-500: 176, 72%, 64%;
  --turquoise-600: 176, 72%, 56%;
  --turquoise-700: 176, 72%, 48%;
  --turquoise-800: 176, 72%, 40%;
  --turquoise-900: 176, 72%, 32%;
  --turquoise-1000: 176, 72%, 24%;
  --turquoise-1100: 176, 72%, 16%;
  --turquoise-1200: 176, 72%, 8%;

  --cyan-50: 192, 80%, 98%;
  --cyan-100: 192, 80%, 96%;
  --cyan-200: 192, 80%, 88%;
  --cyan-300: 192, 80%, 80%;
  --cyan-400: 192, 80%, 72%;
  --cyan-500: 192, 80%, 64%;
  --cyan-600: 192, 80%, 56%;
  --cyan-700: 192, 80%, 48%;
  --cyan-800: 192, 80%, 40%;
  --cyan-900: 192, 80%, 32%;
  --cyan-1000: 192, 80%, 24%;
  --cyan-1100: 192, 80%, 16%;
  --cyan-1200: 192, 80%, 8%;

  --blue-50: 224, 80%, 98%;
  --blue-100: 224, 80%, 96%;
  --blue-200: 224, 80%, 88%;
  --blue-300: 224, 80%, 80%;
  --blue-400: 224, 80%, 72%;
  --blue-500: 224, 80%, 64%;
  --blue-600: 224, 80%, 56%;
  --blue-700: 224, 80%, 48%;
  --blue-800: 224, 80%, 40%;
  --blue-900: 224, 80%, 32%;
  --blue-1000: 224, 80%, 24%;
  --blue-1100: 224, 80%, 16%;
  --blue-1200: 224, 80%, 8%;

  --indigo-50: 256, 64%, 98%;
  --indigo-100: 256, 64%, 96%;
  --indigo-200: 256, 64%, 88%;
  --indigo-300: 256, 64%, 80%;
  --indigo-400: 256, 64%, 72%;
  --indigo-500: 256, 64%, 64%;
  --indigo-600: 256, 64%, 56%;
  --indigo-700: 256, 64%, 48%;
  --indigo-800: 256, 64%, 40%;
  --indigo-900: 256, 64%, 32%;
  --indigo-1000: 256, 64%, 24%;
  --indigo-1100: 256, 64%, 16%;
  --indigo-1200: 256, 64%, 8%;

  --violet-50: 272, 80%, 98%;
  --violet-100: 272, 80%, 96%;
  --violet-200: 272, 80%, 88%;
  --violet-300: 272, 80%, 80%;
  --violet-400: 272, 80%, 72%;
  --violet-500: 272, 80%, 64%;
  --violet-600: 272, 80%, 56%;
  --violet-700: 272, 80%, 48%;
  --violet-800: 272, 80%, 40%;
  --violet-900: 272, 80%, 32%;
  --violet-1000: 272, 80%, 24%;
  --violet-1100: 272, 80%, 16%;
  --violet-1200: 272, 80%, 8%;

  --magenta-50: 328, 80%, 98%;
  --magenta-100: 328, 80%, 96%;
  --magenta-200: 328, 80%, 88%;
  --magenta-300: 328, 80%, 80%;
  --magenta-400: 328, 80%, 72%;
  --magenta-500: 328, 80%, 64%;
  --magenta-600: 328, 80%, 56%;
  --magenta-700: 328, 80%, 48%;
  --magenta-800: 328, 80%, 40%;
  --magenta-900: 328, 80%, 32%;
  --magenta-1000: 328, 80%, 24%;
  --magenta-1100: 328, 80%, 16%;
  --magenta-1200: 328, 80%, 8%;
}