/**
 *  CONTROL
 *  Form input container that assists with icon layouts.
 */

.control {
  position: relative;
}

.control.control--sm {
  font-size: 0.875rem;
}

.control.control--lg {
  font-size: 1.125rem;
}