/**
 *  container.css
 */

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media (--tablet) {
  .container { max-width: var(--container-max-width) }
  .container.tablet\:container--xs { max-width: var(--container-xs-max-width) }
  .container.tablet\:container--sm { max-width: var(--container-sm-max-width) }
  .container.tablet\:container--lg { max-width: var(--container-lg-max-width) }
  .container.tablet\:container--xl { max-width: var(--container-xl-max-width) }
}

@media (--desktop) {
  .container.desktop\:container--xs { max-width: var(--container-xs-max-width) }
  .container.desktop\:container--sm { max-width: var(--container-sm-max-width) }
  .container.desktop\:container--lg { max-width: var(--container-lg-max-width) }
  .container.desktop\:container--xl { max-width: var(--container-xl-max-width) }
}
