/* ==========================================================================
   Divider
   ========================================================================== */

.divider {
  border-color: var(--divider-border-color);
  border-style: var(--divider-border-style);
  border-width: 0;
  border-bottom-width: var(--divider-border-width);
  transition: all 160ms ease;
}

.divider.divider--vertical {
  border-bottom-width: 0;
  border-right-width: var(--divider-border-width);
}
