.font-size-3 {
  font-size: 0.75rem;
}

.font-size-3\.5 {
  font-size: 0.875rem;
}

.font-size-4 {
  font-size: 1rem;
}

.font-size-4\.5 {
  font-size: 1.125rem;
}

.font-size-5 {
  font-size: 1.25rem;
}