/**
 *  grid.css
 *
 *  A flex-box based grid. This method has a few drawbacks compared to the new
 *  `grid` display, but offers much more versatility and control.
 */

.grid {
  display: flex;
  flex-wrap: nowrap;
  margin-left: var(--grid-gutter);
}

.grid.grid--xs { margin-left: var(--grid-gutter-xs) }
.grid.grid--sm { margin-left: var(--grid-gutter-sm) }
.grid.grid--lg { margin-left: var(--grid-gutter-lg) }
.grid.grid--xl { margin-left: var(--grid-gutter-xl) }

@media (--tablet) {
  .grid.tablet\:grid--xs { margin-left: var(--grid-gutter-xs) }
  .grid.tablet\:grid--sm { margin-left: var(--grid-gutter-sm) }
  .grid.tablet\:grid--lg { margin-left: var(--grid-gutter-lg) }
  .grid.tablet\:grid--xl { margin-left: var(--grid-gutter-xl) }
}

@media (--desktop) {
  .grid.dekstop\:grid--xs { margin-left: var(--grid-gutter-xs) }
  .grid.dekstop\:grid--sm { margin-left: var(--grid-gutter-sm) }
  .grid.dekstop\:grid--lg { margin-left: var(--grid-gutter-lg) }
  .grid.dekstop\:grid--xl { margin-left: var(--grid-gutter-xl) }
}
