/**
 *  grid.css
 *
 *  A flex-box based grid. This method has a few drawbacks compared to the new
 *  `grid` display, but offers much more versatility and control.
 */

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: var(--grid-gutter);
}

.grid.grid--xs { margin-left: var(--grid-xs-gutter) }
.grid.grid--sm { margin-left: var(--grid-sm-gutter) }
.grid.grid--lg { margin-left: var(--grid-lg-gutter) }
.grid.grid--xl { margin-left: var(--grid-xl-gutter) }

@media (--tablet) {

  .grid.tablet\:grid--xs { margin-left: var(--grid-xs-gutter) }
  .grid.tablet\:grid--sm { margin-left: var(--grid-sm-gutter) }
  .grid.tablet\:grid--lg { margin-left: var(--grid-lg-gutter) }
  .grid.tablet\:grid--xl { margin-left: var(--grid-xl-gutter) }
}

@media (--desktop) {
  .grid.desktop\:grid--xs { margin-left: var(--grid-xs-gutter) }
  .grid.desktop\:grid--sm { margin-left: var(--grid-sm-gutter) }
  .grid.desktop\:grid--lg { margin-left: var(--grid-lg-gutter) }
  .grid.desktop\:grid--xl { margin-left: var(--grid-xl-gutter) }
}
