html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--html-background-color);
  color: var(--html-color);
  font-family: var(--html-font-family, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif);
  font-size: var(--html-font-size);
  line-height: var(--html-line-height);
  text-rendering: optimizeLegibility;
  transition:
    background-color 160ms ease-in-out,
    color 160ms ease-in-out,
    font-size 160ms ease-in-out;
}

html.font-size--sm {
  font-size: var(--html-sm-font-size);
}

html.font-size--lg {
  font-size: var(--html-lg-font-size);
}