/**
 *  label.css
 */

.label {
  color: var(--label-text-color);
  display: block;
  font-size: var(--label-font-size);
  font-weight: var(--label-font-weight);
  line-height: var(--label-line-height);
  padding: var(--label-padding);
}

.label.label--error { color: var(--label-error-text-color) }
.label.label--success { color: var(--label-success-text-color) }
.label.label--warning { color: var(--label-warning-text-color) }
