@each $size, $scale in
(0, 0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
(0, 0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
  .m-$(scale) {
    margin: $(size)rem;
  }
}

@each $size, $scale in
(0, 0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
(0, 0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
  .mb-$(scale) {
    margin-bottom: $(size)rem;
  }
}

@each $size, $scale in
(0, 0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
(0, 0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
  .ml-$(scale) {
    margin-left: $(size)rem;
  }
}

@each $size, $scale in
(0, 0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
(0, 0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
  .mr-$(scale) {
    margin-right: $(size)rem;
  }
}

@each $size, $scale in
(0, 0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
(0, 0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
  .mt-$(scale) {
    margin-top: $(size)rem;
  }
}

@each $size, $scale in
(0, 0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
(0, 0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
  .mx-$(scale) {
    margin-left: $(size)rem;
    margin-right: $(size)rem;
  }
}

@each $size, $scale in
(0, 0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
(0, 0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
  .my-$(scale) {
    margin-bottom: $(size)rem;
    margin-top: $(size)rem;
  }
}




/* 16x9 */
.mb-56\.25\% {
  margin-bottom: 56.25%;
}

/* 4x3 */
.mb-75\% {
  margin-bottom: 75%;
}

/* 1x1 */
.mb-100\% {
  margin-bottom: 100%;
}




/*
  tablet
*/

@media (min-width: 768px) {
  @each $size, $scale in
  (0, 0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
  (0, 0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
    .m-$(scale)\:md {
      margin: $(size)rem;
    }
  }

  @each $size, $scale in
  (0, 0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
  (0, 0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
    .mb-$(scale)\:md {
      margin-bottom: $(size)rem;
    }
  }

  @each $size, $scale in
  (0, 0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
  (0, 0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
    .ml-$(scale)\:md {
      margin-left: $(size)rem;
    }
  }

  @each $size, $scale in
  (0, 0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
  (0, 0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
    .mr-$(scale)\:md {
      margin-right: $(size)rem;
    }
  }

  @each $size, $scale in
  (0, 0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
  (0, 0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
    .mt-$(scale)\:md {
      margin-top: $(size)rem;
    }
  }

  @each $size, $scale in
  (0, 0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
  (0, 0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
    .mx-$(scale)\:md {
      margin-left: $(size)rem;
      margin-right: $(size)rem;
    }
  }

  @each $size, $scale in
  (0, 0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
  (0, 0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
    .my-$(scale)\:md {
      margin-bottom: $(size)rem;
      margin-top: $(size)rem;
    }
  }
}




/*
  desktop
*/

@media (min-width: 1024px) {
  @each $size, $scale in
  (0, 0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
  (0, 0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
    .m-$(scale)\:lg {
      margin: $(size)rem;
    }
  }

  @each $size, $scale in
  (0, 0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
  (0, 0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
    .mb-$(scale)\:lg {
      margin-bottom: $(size)rem;
    }
  }

  @each $size, $scale in
  (0, 0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
  (0, 0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
    .ml-$(scale)\:lg {
      margin-left: $(size)rem;
    }
  }

  @each $size, $scale in
  (0, 0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
  (0, 0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
    .mr-$(scale)\:lg {
      margin-right: $(size)rem;
    }
  }

  @each $size, $scale in
  (0, 0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
  (0, 0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
    .mt-$(scale)\:lg {
      margin-top: $(size)rem;
    }
  }

  @each $size, $scale in
  (0, 0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
  (0, 0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
    .mx-$(scale)\:lg {
      margin-left: $(size)rem;
      margin-right: $(size)rem;
    }
  }

  @each $size, $scale in
  (0, 0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
  (0, 0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
    .my-$(scale)\:lg {
      margin-bottom: $(size)rem;
      margin-top: $(size)rem;
    }
  }
}