.modal {
  background-color: var(--modal-background-color);
  bottom: 0;
  color: var(--modal-color);
  display: flex;
  flex-direction: column;
  left: 0;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  transition:
    opacity 160ms ease-in-out,
    transform 160ms ease-in-out,
    visibility 160ms ease-in-out;
  visibility: collapse;
  width: 100vw;
  z-index: 10000;
}

.modal.modal--hidden {
  opacity: 0;
  transform: translateY(-1.5rem);
  visibility: hidden;
}

.modal.modal--visible {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}