/**
 *  nav-bar.css
 */

/**
 *  nav-bar defaults
 */
.nav-bar {
  align-items: center;
  background-color: var(--nav-bar-background-color);
  color: var(--nav-bar-text-color);
  display: flex;
  padding: var(--nav-bar-padding);
}

/**
 *  nav-bar primary
 */
.nav-bar.nav-bar--primary {
  background-color: var(--nav-bar-primary-background-color);
  color: var(--nav-bar-primary-text-color);
}