/**
 *  nav.css
 */

/**
 *  nav defaults
 */
.nav {
  align-items: center;
  display: flex;
  margin: var(--nav-margin);
  padding: var(--nav-padding);
}

.nav.nav--auto {
  flex: 1;
}

/**
 *  nav-item
 */
.nav-item {
  background-color: var(--nav-item-background-color-default);
  border-radius: var(--nav-item-border-radius);
  color: var(--nav-item-text-color-default);
  list-style: none;
  padding: var(--nav-item-padding);
}

.nav-item:not(:last-child) {
  margin: var(--nav-item-margin);
}

.nav-item:hover {
  background-color: var(--nav-item-background-color-hover);
  color: var(--nav-item-text-color-hover);
}

.nav-item:focus {
  background-color: var(--nav-item-background-color-focus);
  color: var(--nav-item-text-color-focus);
}

.nav-item:active {
  background-color: var(--nav-item-background-color-active);
  color: var(--nav-item-text-color-active);
}