@each $size, $scale in
(0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
(0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
  .p-$(scale) {
    padding: $(size)rem;
  }
}

@each $size, $scale in
(0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
(0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
  .pb-$(scale) {
    padding-bottom: $(size)rem;
  }
}

@each $size, $scale in
(0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
(0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
  .pl-$(scale) {
    padding-left: $(size)rem;
  }
}

@each $size, $scale in
(0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
(0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
  .pr-$(scale) {
    padding-right: $(size)rem;
  }
}

@each $size, $scale in
(0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
(0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
  .pt-$(scale) {
    padding-top: $(size)rem;
  }
}

@each $size, $scale in
(0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
(0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
  .px-$(scale) {
    padding-left: $(size)rem;
    padding-right: $(size)rem;
  }
}

@each $size, $scale in
(0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
(0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
  .py-$(scale) {
    padding-bottom: $(size)rem;
    padding-top: $(size)rem;
  }
}




/* 16x9 */
.pb-56\.25\% {
  padding-bottom: 56.25%;
}

/* 4x3 */
.pb-75\% {
  padding-bottom: 75%;
}

/* 1x1 */
.pb-100\% {
  padding-bottom: 100%;
}




/*
  tablet
*/

@media (min-width: 768px) {
  @each $size, $scale in
  (0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
  (0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
    .p-$(scale)\:md {
      padding: $(size)rem;
    }
  }

  @each $size, $scale in
  (0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
  (0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
    .pb-$(scale)\:md {
      padding-bottom: $(size)rem;
    }
  }

  @each $size, $scale in
  (0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
  (0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
    .pl-$(scale)\:md {
      padding-left: $(size)rem;
    }
  }

  @each $size, $scale in
  (0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
  (0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
    .pr-$(scale)\:md {
      padding-right: $(size)rem;
    }
  }

  @each $size, $scale in
  (0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
  (0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
    .pt-$(scale)\:md {
      padding-top: $(size)rem;
    }
  }

  @each $size, $scale in
  (0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
  (0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
    .px-$(scale)\:md {
      padding-left: $(size)rem;
      padding-right: $(size)rem;
    }
  }

  @each $size, $scale in
  (0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
  (0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
    .py-$(scale)\:md {
      padding-bottom: $(size)rem;
      padding-top: $(size)rem;
    }
  }
}




/*
  desktop
*/

@media (min-width: 1024px) {
  @each $size, $scale in
  (0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
  (0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
    .p-$(scale)\:lg {
      padding: $(size)rem;
    }
  }

  @each $size, $scale in
  (0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
  (0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
    .pb-$(scale)\:lg {
      padding-bottom: $(size)rem;
    }
  }

  @each $size, $scale in
  (0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
  (0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
    .pl-$(scale)\:lg {
      padding-left: $(size)rem;
    }
  }

  @each $size, $scale in
  (0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
  (0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
    .pr-$(scale)\:lg {
      padding-right: $(size)rem;
    }
  }

  @each $size, $scale in
  (0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
  (0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
    .pt-$(scale)\:lg {
      padding-top: $(size)rem;
    }
  }

  @each $size, $scale in
  (0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
  (0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
    .px-$(scale)\:lg {
      padding-left: $(size)rem;
      padding-right: $(size)rem;
    }
  }

  @each $size, $scale in
  (0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25,  1.5, 1.75,  2, 3,  4,  5,  6,  8,  10, 12, 14, 16),
  (0\.5,  1,    1\.5,  2,   2\.5,  3,    3\.5,  4, 5,     6,   7,     8, 12, 16, 20, 24, 32, 40, 48, 56, 64) {
    .py-$(scale)\:lg {
      padding-bottom: $(size)rem;
      padding-top: $(size)rem;
    }
  }
}