/**
 *  reset.css
 *
 *  Get rid of annoying default behaviors.
 */

::-moz-focus-inner {
  border: 0;
}

:-moz-focusring {
  outline: none;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle;
}

img[width],
img[height] {
  max-width: none;
}