@each $distance, $scale in
(0, 0.0625, 0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25, 1.5, 2,  3,  4,  6,  8, 12, 16),
(0,  0\.25,  0\.5,    1,  1\.5,   2,  2\.5,    3,  3\.5, 4,    5,   6, 8, 12, 16, 24, 32, 48, 64) {
  .r-$(scale) {
    right: $(distance)rem;
  }
}

@media (min-width: 768px) {
  @each $distance, $scale in
  (0, 0.0625, 0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25, 1.5, 2,  3,  4,  6,  8, 12, 16),
  (0,  0\.25,  0\.5,    1,  1\.5,   2,  2\.5,    3,  3\.5, 4,    5,   6, 8, 12, 16, 24, 32, 48, 64) {
    .md\:r-$(scale) {
      right: $(distance)rem;
    }
  }
}

@media (min-width: 1024px) {
  @each $distance, $scale in
  (0, 0.0625, 0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1, 1.25, 1.5, 2,  3,  4,  6,  8, 12, 16),
  (0,  0\.25,  0\.5,    1,  1\.5,   2,  2\.5,    3,  3\.5, 4,    5,   6, 8, 12, 16, 24, 32, 48, 64) {
    .lg\:r-$(scale) {
      right: $(distance)rem;
    }
  }
}