/**
 *  space.css
 *
 *  manually add spacing between elements
 */

.space { margin-bottom: var(--space-md-margin) }
.space.space--xs { margin-bottom: var(--space-xs-margin) }
.space.space--sm { margin-bottom: var(--space-sm-margin) }
.space.space--lg { margin-bottom: var(--space-lg-margin) }
.space.space--xl { margin-bottom: var(--space-xl-margin) }

@media (--tablet) {
  .space.tablet\:space--xs { margin-bottom: var(--space-xs-margin); }
  .space.tablet\:space--sm { margin-bottom: var(--space-sm-margin); }
  .space.tablet\:space--lg { margin-bottom: var(--space-lg-margin); }
  .space.tablet\:space--xl { margin-bottom: var(--space-xl-margin); }
}

@media (--desktop) {
  .space.desktop\:space--xs { margin-bottom: var(--space-xs-margin); }
  .space.desktop\:space--sm { margin-bottom: var(--space-sm-margin); }
  .space.desktop\:space--lg { margin-bottom: var(--space-lg-margin); }
  .space.desktop\:space--xl { margin-bottom: var(--space-xl-margin); }
}