/**
 *  tag.css
 */

/**
 *  tag / default
 */
.tag {
  background-color: var(--tag-background-color);
  border-radius: var(--tag-border-radius);
  color: var(--tag-text-color);
  display: inline-block;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  padding: 0.1875rem 0.375rem;
  position: relative;
  transform: translateY(-12.5%);
}

/**
 *  tag / colors
 */
.tag.tag--primary {  
  background-color: var(--tag-primary-background-color);
  color: var(--tag-primary-text-color);
}

.tag.tag--error {  
  background-color: var(--tag-error-background-color);
  color: var(--tag-error-text-color);
}

.tag.tag--success {  
  background-color: var(--tag-success-background-color);
  color: var(--tag-success-text-color);
}

.tag.tag--warning {  
  background-color: var(--tag-warning-background-color);
  color: var(--tag-warning-text-color);
}

/**
 *  tag / sizes
 */
.tag.tag--xs {
  font-size: var(--tag-font-size-xs);
  line-height: var(--tag-line-height-xs);
  padding: var(--tag-padding-xs);
}

.tag.tag--sm {
  font-size: var(--tag-font-size-sm);
  line-height: var(--tag-line-height-sm);
  padding: var(--tag-padding-sm);
}

.tag.tag--lg {
  font-size: var(--tag-font-size-lg);
  line-height: var(--tag-line-height-lg);
  padding: var(--tag-padding-lg);
}