/**
 *  title.css
 */

/**
 *  Title
 *
 *  Default title variables.
 *
 *  [1]   If font size is a multiple of 8px (or 0.5rem when 16px) it will always
 *        give an appropriate line height when set to 1.
 */
.title {
  line-height: 1; /* [1] */
  margin: 0;
}

/**
 *  Title / Headline
 *
 *  The main title variant that should be used for page headlines.
 */
.title.title--headline {
  font-size: var(--title-headline-font-size);
  font-weight: var(--title-headline-font-weight);
}

/**
 *  Title / Text
 *
 *  A title used to distinguish thematically different text content.
 */
.title.title--text {
  font-size: var(--title-text-font-size);
  font-weight: var(--title-text-font-weight);
}

.title.title--sub-text {
  font-size: var(--title-sub-text-font-size);
  font-weight: var(--title-sub-text-font-weight);
}
