.transform {
  --rotate: 0deg;
  --scale: 1;
  --translate-x: 0;
  --translate-y: 0;

  transform: rotate(var(--rotate)) scale(var(--scale)) translateX(var(--translate-x)) translateY(var(--translate-y));
}

.translate-x-0 {
  --translate-x: 0;
}

.translate-x-25\% {
  --translate-x: 25%;
}

.translate-x-50\% {
  --translate-x: 50%;
}

.translate-x-75\% {
  --translate-x: 75%;
}

.translate-x-100\% {
  --translate-x: 100%;
}
