.transition {
  transition-delay: var(--transition-delay, 0ms);
  transition-duration: var(--transition-duration, 160ms);
  transition-property: var(--transition-property, background-color, border-color, box-shadow, color);
  transition-timing-function: var(--transition-timing-function, ease);
}

.transition-all {
  --transition-property: all;
}
