@each $width, $index in (0, 0.125, 0.25, 0.5, 0.75, 1, 1.25, 1.5, 2, 3, 4, 6, 8, 12, 16), (0, 0.5, 1, 2, 3, 4, 5, 6, 8, 12, 24, 32, 48, 64) {
  .width-$(index) {
    width: $(width)rem;
  }
}

.w-100 {
  width: 100%;
}

.w-auto {
  width: auto;
}