/* ==========================================================================
   Column
   ========================================================================== */

.column {
  padding: var( --ruckus-column-padding );
}

.row.row--small > .column {
  padding: var( --ruckus-column-small-padding );
}

.row.row--large > .column {
  padding: var( --ruckus-column-large-padding );
}

@media (--desktop) {
  .column {
    flex: none;
  }
  
  .column.column--flex {
    flex: 1;
  }
  
  .column.column--25 {
    width: 25%;
  }
  
  .column.column--50 {
    width: 50%;
  }
  
  .column.column--100 {
    width: 100%;
  }
  
  .column.column--push-25 {
    margin-left: 25%;
  }
}
