/* ==========================================================================
   Row
   ========================================================================== */

.row {
  display: block;
  margin: var( --ancient-row-margin );
}

.row.row--small {
  margin: var( --ancient-row-small-margin );
}

.row.row--large {
  margin: var( --ancient-row-large-margin );
}

@media (--desktop) {
  .row {
    display: flex;
  }
  
  .row.row--center {
    justify-content: center;
  }
}