/* #############################################################################
   Stack
   ########################################################################## */

.stack > :not(:last-child) {
  margin-bottom: var( --ruckus-stack-margin-bottom );
}

.stack.stack--small > :not(:last-child) {
  margin-bottom: var( --ruckus-stack-small-margin-bottom );
}

.stack.stack--large > :not(:last-child) {
  margin-bottom: var( --ruckus-stack-large-margin-bottom );
}
