/* #############################################################################
   Button
   ########################################################################## */

.button {
  background-color: var( --ruckus-button-background-color );
  border-color: var( --ruckus-button-border-color );
  border-radius: var( --ruckus-button-border-radius );
  border-style: var( --ruckus-button-border-style );
  border-width: var( --ruckus-button-border-width );
  box-shadow: var( --ruckus-button-box-shadow );
  color: var( --ruckus-button-color );
  cursor: pointer;
  display: inline-block;
  font: inherit;
  font-size: var( --ruckus-button-font-size );
  font-weight: var( --ruckus-button-font-weight );
  padding: var( --ruckus-button-padding );
  transition: var( --ruckus-button-transition );
}

.button:hover {
  background-color: var( --ruckus-button-hover-background-color );
  border-color: var( --ruckus-button-hover-border-color );
  box-shadow: var( --ruckus-button-hover-box-shadow );
  color: var( --ruckus-button-hover-color );
  transition: var( --ruckus-button-hover-transition );
}

.button:focus {
  background-color: var( --ruckus-button-focus-background-color );
  border-color: var( --ruckus-button-focus-border-color );
  box-shadow: var( --ruckus-button-focus-box-shadow );
  color: var( --ruckus-button-focus-color );
  outline: none;
  transition: var( --ruckus-button-focus-transition );
}

.button:active {
  background-color: var( --ruckus-button-active-background-color );
  border-color: var( --ruckus-button-active-border-color );
  box-shadow: var( --ruckus-button-active-box-shadow );
  color: var( --ruckus-button-active-color );
  transition: var( --ruckus-button-active-transition );
}

/* Subtle
   ########################################################################## */

.button.button--subtle {
  background-color: var( --ruckus-button-subtle-background-color );
  border-color: var( --ruckus-button-subtle-border-color );
  box-shadow: var( --ruckus-button-subtle-box-shadow );
  color: var( --ruckus-button-subtle-color );
  transition: var( --ruckus-button-subtle-transition );
  text-shadow: 0 1px rgba( 255, 255, 255, 0.2 );
}

.button.button--subtle:hover {
  background-color: var( --ruckus-button-subtle-hover-background-color );
  border-color: var( --ruckus-button-subtle-hover-border-color );
  box-shadow: var( --ruckus-button-subtle-hover-box-shadow );
  color: var( --ruckus-button-subtle-hover-color );
  transition: var( --ruckus-button-subtle-hover-transition );
}

.button.button--subtle:focus {
  background-color: var( --ruckus-button-subtle-focus-background-color );
  border-color: var( --ruckus-button-subtle-focus-border-color );
  box-shadow: var( --ruckus-button-subtle-focus-box-shadow );
  color: var( --ruckus-button-subtle-focus-color );
  transition: var( --ruckus-button-subtle-focus-transition );
}

.button.button--subtle:active {
  background-color: var( --ruckus-button-subtle-active-background-color );
  border-color: var( --ruckus-button-subtle-active-border-color );
  box-shadow: var( --ruckus-button-subtle-active-box-shadow );
  color: var( --ruckus-button-subtle-active-color );
  transition: var( --ruckus-button-subtle-active-transition );
}

/* Secondary
   ########################################################################## */

.button.button--secondary {
  background-color: var( --ruckus-button-secondary-background-color );
  border-color: var( --ruckus-button-secondary-border-color );
  box-shadow: var( --ruckus-button-secondary-box-shadow );
  color: var( --ruckus-button-secondary-color );
  transition: var( --ruckus-button-secondary-transition );
  text-shadow: 0 1px rgba( 255, 255, 255, 0.2 );
}

.button.button--secondary:hover {
  background-color: var( --ruckus-button-secondary-hover-background-color );
  border-color: var( --ruckus-button-secondary-hover-border-color );
  box-shadow: var( --ruckus-button-secondary-hover-box-shadow );
  color: var( --ruckus-button-secondary-hover-color );
  transition: var( --ruckus-button-secondary-hover-transition );
}

.button.button--secondary:focus {
  background-color: var( --ruckus-button-secondary-focus-background-color );
  border-color: var( --ruckus-button-secondary-focus-border-color );
  box-shadow: var( --ruckus-button-secondary-focus-box-shadow );
  color: var( --ruckus-button-secondary-focus-color );
  transition: var( --ruckus-button-secondary-focus-transition );
}

.button.button--secondary:active {
  background-color: var( --ruckus-button-secondary-active-background-color );
  border-color: var( --ruckus-button-secondary-active-border-color );
  box-shadow: var( --ruckus-button-secondary-active-box-shadow );
  color: var( --ruckus-button-secondary-active-color );
  transition: var( --ruckus-button-secondary-active-transition );
}

/* Error
   ########################################################################## */

.button.button--error {
  background-color: var( --ruckus-button-error-background-color );
  border-color: var( --ruckus-button-error-border-color );
  box-shadow: var( --ruckus-button-error-box-shadow );
  color: var( --ruckus-button-error-color );
  transition: var( --ruckus-button-error-transition );
  text-shadow: 0 1px rgba( 255, 255, 255, 0.2 );
}

.button.button--error:hover {
  background-color: var( --ruckus-button-error-hover-background-color );
  border-color: var( --ruckus-button-error-hover-border-color );
  box-shadow: var( --ruckus-button-error-hover-box-shadow );
  color: var( --ruckus-button-error-hover-color );
  transition: var( --ruckus-button-error-hover-transition );
}

.button.button--error:focus {
  background-color: var( --ruckus-button-error-focus-background-color );
  border-color: var( --ruckus-button-error-focus-border-color );
  box-shadow: var( --ruckus-button-error-focus-box-shadow );
  color: var( --ruckus-button-error-focus-color );
  transition: var( --ruckus-button-error-focus-transition );
}

.button.button--error:active {
  background-color: var( --ruckus-button-error-active-background-color );
  border-color: var( --ruckus-button-error-active-border-color );
  box-shadow: var( --ruckus-button-error-active-box-shadow );
  color: var( --ruckus-button-error-active-color );
  transition: var( --ruckus-button-error-active-transition );
}

/* Success
   ########################################################################## */

.button.button--success {
  background-color: var( --ruckus-button-success-background-color );
  border-color: var( --ruckus-button-success-border-color );
  box-shadow: var( --ruckus-button-success-box-shadow );
  color: var( --ruckus-button-success-color );
  transition: var( --ruckus-button-success-transition );
  text-shadow: 0 1px rgba( 255, 255, 255, 0.2 );
}

.button.button--success:hover {
  background-color: var( --ruckus-button-success-hover-background-color );
  border-color: var( --ruckus-button-success-hover-border-color );
  box-shadow: var( --ruckus-button-success-hover-box-shadow );
  color: var( --ruckus-button-success-hover-color );
  transition: var( --ruckus-button-success-hover-transition );
}

.button.button--success:focus {
  background-color: var( --ruckus-button-success-focus-background-color );
  border-color: var( --ruckus-button-success-focus-border-color );
  box-shadow: var( --ruckus-button-success-focus-box-shadow );
  color: var( --ruckus-button-success-focus-color );
  transition: var( --ruckus-button-success-focus-transition );
}

.button.button--success:active {
  background-color: var( --ruckus-button-success-active-background-color );
  border-color: var( --ruckus-button-success-active-border-color );
  box-shadow: var( --ruckus-button-success-active-box-shadow );
  color: var( --ruckus-button-success-active-color );
  transition: var( --ruckus-button-success-active-transition );
}

/* Warning
   ########################################################################## */

.button.button--warning {
  background-color: var( --ruckus-button-warning-background-color );
  border-color: var( --ruckus-button-warning-border-color );
  box-shadow: var( --ruckus-button-warning-box-shadow );
  color: var( --ruckus-button-warning-color );
  transition: var( --ruckus-button-warning-transition );
  text-shadow: 0 1px rgba( 255, 255, 255, 0.2 );
}

.button.button--warning:hover {
  background-color: var( --ruckus-button-warning-hover-background-color );
  border-color: var( --ruckus-button-warning-hover-border-color );
  box-shadow: var( --ruckus-button-warning-hover-box-shadow );
  color: var( --ruckus-button-warning-hover-color );
  transition: var( --ruckus-button-warning-hover-transition );
}

.button.button--warning:focus {
  background-color: var( --ruckus-button-warning-focus-background-color );
  border-color: var( --ruckus-button-warning-focus-border-color );
  box-shadow: var( --ruckus-button-warning-focus-box-shadow );
  color: var( --ruckus-button-warning-focus-color );
  transition: var( --ruckus-button-warning-focus-transition );
}

.button.button--warning:active {
  background-color: var( --ruckus-button-warning-active-background-color );
  border-color: var( --ruckus-button-warning-active-border-color );
  box-shadow: var( --ruckus-button-warning-active-box-shadow );
  color: var( --ruckus-button-warning-active-color );
  transition: var( --ruckus-button-warning-active-transition );
}

/* Sizes
   ########################################################################## */

.button.button--small {
  border-width: var( --ruckus-button-small-border-width );
  font-size: var( --ruckus-button-small-font-size );
  line-height: var( --ruckus-button-small-line-height );
  padding: var( --ruckus-button-small-padding );
}

.button.button--large {
  border-width: var( --ruckus-button-large-border-width );
  font-size: var( --ruckus-button-large-font-size );
  line-height: var( --ruckus-button-large-line-height );
  padding: var( --ruckus-button-large-padding );
}

/* Disabled
   ########################################################################## */

.button[disabled],
.button[disabled]:hover,
.button[disabled]:focus,
.button[disabled]:active {
  background-color: var( --ruckus-button-subtle-background-color );
  border-color: var( --ruckus-button-subtle-border-color );
  color: var( --ruckus-button-subtle-color );
  cursor: not-allowed;
  opacity: 0.48;
}
