.button {
  background-color: var(--ancient-button-background-color, hsl(216, 24%, 32%));
  border-radius: var(--ancient-button-border-radius, 0.25rem);
  border-style: var(--ancient-button-border-style, solid);
  border-width: var(--ancient-button-border-width, 0);
  box-shadow: var(--ancient-button-box-shadow, 0 0.25rem 0.5rem hsl(216, 24%, 88%));
  color: var(--ancient-button-color, hsl(216, 24%, 96%));
  cursor: pointer;
  display: inline-block;
  font: inherit;
  font-size: var(--ancient-button-font-size, 1rem);
  font-weight: var(--ancient-button-font-weight, 700);
  padding: var(--ancient-button-padding, 0.5rem 1rem);
  transition: var(--ancient-button-transition, all 160ms ease);
}

.button:hover {
  background-color: var(--ancient-button-hover-background-color, hsl(216, 24%, 36%));
  border-color: var(--ancient-button-hover-border-color, hsl(216, 24%, 64%));
  box-shadow: var(--ancient-button-hover-box-shadow, 0 0.5rem 1rem hsl(216, 24%, 80%));
  color: var(--ancient-button-hover-color, hsl(216, 24%, 96%));
  transition: var(--ancient-button-hover-transition, all 160ms ease);
}

.button:focus {
  background-color: var(--ancient-button-focus-background-color, hsl(216, 24%, 32%));
  border-color: var(--ancient-button-focus-border-color, hsl(216, 24%, 64%));
  box-shadow: var(--ancient-button-focus-box-shadow, 0 0 0 0.25rem hsl(216, 24%, 80%));
  color: var(--ancient-button-focus-color, hsl(216, 24%, 96%));
  outline: none;
  transition: var(--ancient-button-focus-transition, all 160ms ease);
}

.button:active {
  background-color: var(--ancient-button-active-background-color);
  border-color: var(--ancient-button-active-border-color);
  box-shadow: var(--ancient-button-active-box-shadow);
  color: var(--ancient-button-active-color);
  transition: var(--ancient-button-active-transition, all 160ms ease);
}




/*  PRIMARY
    ========================================================================= */
.button.button--primary {
  background-color: var(--ancient-button-primary-background-color, hsl(216, 64%, 56%));
  border-color: var(--ancient-button-primary-border-color, hsl(216, 64%, 80%));
  box-shadow: var(--ancient-button-primary-box-shadow, 0 0.25rem 0.5rem hsl(216, 64%, 88%));
  color: var(--ancient-button-primary-color, white);
  transition: var(--ancient-button-primary-transition, all 160ms ease);
}

.button.button--primary:hover {
  background-color: var(--ancient-button-primary-hover-background-color);
  border-color: var(--ancient-button-primary-hover-border-color, hsl(216, 64%, 64%));
  box-shadow: var(--ancient-button-primary-hover-box-shadow);
  color: var(--ancient-button-primary-hover-color);
  transition: var(--ancient-button-primary-hover-transition);
}

.button.button--primary:focus {
  background-color: var(--ancient-button-primary-focus-background-color);
  border-color: var(--ancient-button-primary-focus-border-color);
  box-shadow: var(--ancient-button-primary-focus-box-shadow);
  color: var(--ancient-button-primary-focus-color);
  transition: var(--ancient-button-primary-focus-transition);
}

.button.button--primary:active {
  background-color: var(--ancient-button-primary-active-background-color);
  border-color: var(--ancient-button-primary-active-border-color);
  box-shadow: var(--ancient-button-primary-active-box-shadow);
  color: var(--ancient-button-primary-active-color);
  transition: var(--ancient-button-primary-active-transition);
}



/*  ERROR
    ========================================================================= */
.button.button--error {
  background-color: var(--ancient-button-error-background-color, hsl(352, 64%, 56%));
  border-color: var(--ancient-button-error-border-color, hsl(352, 64%, 80%));
  box-shadow: var(--ancient-button-error-box-shadow);
  color: var(--ancient-button-error-color, white);
  transition: var(--ancient-button-error-transition);
  text-shadow: 0 1px rgba( 255, 255, 255, 0.2);
}

.button.button--error:hover {
  background-color: var(--ancient-button-error-hover-background-color);
  border-color: var(--ancient-button-error-hover-border-color);
  box-shadow: var(--ancient-button-error-hover-box-shadow);
  color: var(--ancient-button-error-hover-color);
  transition: var(--ancient-button-error-hover-transition);
}

.button.button--error:focus {
  background-color: var(--ancient-button-error-focus-background-color);
  border-color: var(--ancient-button-error-focus-border-color);
  box-shadow: var(--ancient-button-error-focus-box-shadow);
  color: var(--ancient-button-error-focus-color);
  transition: var(--ancient-button-error-focus-transition);
}

.button.button--error:active {
  background-color: var(--ancient-button-error-active-background-color);
  border-color: var(--ancient-button-error-active-border-color);
  box-shadow: var(--ancient-button-error-active-box-shadow);
  color: var(--ancient-button-error-active-color);
  transition: var(--ancient-button-error-active-transition);
}




/*  SUCCESS
    ========================================================================= */
.button.button--success {
  background-color: var(--ancient-button-success-background-color);
  border-color: var(--ancient-button-success-border-color);
  box-shadow: var(--ancient-button-success-box-shadow);
  color: var(--ancient-button-success-color);
  transition: var(--ancient-button-success-transition);
  text-shadow: 0 1px rgba( 255, 255, 255, 0.2);
}

.button.button--success:hover {
  background-color: var(--ancient-button-success-hover-background-color);
  border-color: var(--ancient-button-success-hover-border-color);
  box-shadow: var(--ancient-button-success-hover-box-shadow);
  color: var(--ancient-button-success-hover-color);
  transition: var(--ancient-button-success-hover-transition);
}

.button.button--success:focus {
  background-color: var(--ancient-button-success-focus-background-color);
  border-color: var(--ancient-button-success-focus-border-color);
  box-shadow: var(--ancient-button-success-focus-box-shadow);
  color: var(--ancient-button-success-focus-color);
  transition: var(--ancient-button-success-focus-transition);
}

.button.button--success:active {
  background-color: var(--ancient-button-success-active-background-color);
  border-color: var(--ancient-button-success-active-border-color);
  box-shadow: var(--ancient-button-success-active-box-shadow);
  color: var(--ancient-button-success-active-color);
  transition: var(--ancient-button-success-active-transition);
}




/*  WARNING
    ========================================================================= */
.button.button--warning {
  background-color: var(--ancient-button-warning-background-color);
  border-color: var(--ancient-button-warning-border-color);
  box-shadow: var(--ancient-button-warning-box-shadow);
  color: var(--ancient-button-warning-color);
  transition: var(--ancient-button-warning-transition);
  text-shadow: 0 1px rgba( 255, 255, 255, 0.2);
}

.button.button--warning:hover {
  background-color: var(--ancient-button-warning-hover-background-color);
  border-color: var(--ancient-button-warning-hover-border-color);
  box-shadow: var(--ancient-button-warning-hover-box-shadow);
  color: var(--ancient-button-warning-hover-color);
  transition: var(--ancient-button-warning-hover-transition);
}

.button.button--warning:focus {
  background-color: var(--ancient-button-warning-focus-background-color);
  border-color: var(--ancient-button-warning-focus-border-color);
  box-shadow: var(--ancient-button-warning-focus-box-shadow);
  color: var(--ancient-button-warning-focus-color);
  transition: var(--ancient-button-warning-focus-transition);
}

.button.button--warning:active {
  background-color: var(--ancient-button-warning-active-background-color);
  border-color: var(--ancient-button-warning-active-border-color);
  box-shadow: var(--ancient-button-warning-active-box-shadow);
  color: var(--ancient-button-warning-active-color);
  transition: var(--ancient-button-warning-active-transition);
}




/*  SIZES
    ========================================================================= */
.button.button--small {
  border-width: var(--ancient-button-small-border-width, 0);
  font-size: var(--ancient-button-small-font-size, 0.875rem);
  line-height: var(--ancient-button-small-line-height, 1.7142857143);
  padding: var(--ancient-button-small-padding, 0.25rem 0.5rem);
}

.button.button--large {
  border-width: var(--ancient-button-large-border-width, 0);
  font-size: var(--ancient-button-large-font-size, 1.125rem);
  line-height: var(--ancient-button-large-line-height, 1.3333333333);
  padding: var(--ancient-button-large-padding, 1rem 1.5rem);
}

.button.button--outline {
  padding: var(--ancient-button-outline-padding, 0.4375rem 0.9375rem);
}

.button.button--outline.button--small {
  padding: var(--ancient-button-outline-padding-small, 0.4375rem 0.9375rem);
}

.button.button--outline.button--large {
  padding: var(--ancient-button-outline-padding-large, 0.4375rem 0.9375rem);
}

.button.button--outline {
  background-color: transparent;
  border-width: var(--ancient-button-outline-border-width, 1px);
  box-shadow: var(--ancient-button-outline-border-width, none);
  color: var(--ancient-button-outline-color, hsl(216, 24%, 32%));
}

.button.button--outline:focus {
  background-color: transparent;
  border-width: var(--ancient-button-outline-border-width, 1px);
  box-shadow: var(--ancient-button-outline-box-shadow, 0 0 0 0.25rem hsl(216, 24%, 88%));
  color: var(--ancient-button-outline-color, hsl(216, 24%, 16%));
}

.button.button--outline.button--primary {
  color: var(--ancient-button-outline-primary-color, hsl(216, 96%, 64%));
}




/*  DISABLED
    ========================================================================= */
.button[disabled],
.button[disabled]:hover,
.button[disabled]:focus,
.button[disabled]:active {
  background-color: var(--ancient-button-background-color);
  border-color: var(--ancient-button-border-color);
  box-shadow: var(--ancient-button-box-shadow);
  color: var(--ancient-button-color);
  cursor: not-allowed;
  opacity: 0.5;
}




/*  UTILITY
    ========================================================================= */
.button.button--block {
  display: block;
  text-align: center;
  width: 100%;
}

.button.button--flex {
  align-items: center;
  display: inline-flex;
  justify-content: center;
}
