/* =============================================================================
   Card
   ========================================================================== */

.card {
  background-color: var( --ancient-card-background-color );
  border-color: var( --ancient-card-border-color );
  border-radius: var( --ancient-card-border-radius );
  border-style: var( --ancient-card-border-style );
  border-width: var( --ancient-card-border-width );
  box-shadow: var( --ancient-card-box-shadow );
  color: var( --ancient-card-color );
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card-divider {
  border-bottom-color: var( --ancient-card-divider-color );
  border-bottom-style: var( --ancient-card-divider-style );
  border-bottom-width: var( --ancient-card-divider-width );
}

.card-section {
  flex: 1 1 auto;
  padding: var( --ancient-card-section-padding );
}

.card-section--action {
  background-color: var( --ancient-card-action-background-color );
  color: var( --ancient-card-action-color );
}

.card-figure {
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.card-figure > img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* ==========================================================================
   Card Menu
   ========================================================================== */

/**
 * @NOTE
 * Card menus are a duplicate of menu with a more appropriate color scheme.
 * I'm still not sure if I want to keep it separate or create a modifier
 * (.menu--card) so it will stay here for now.
 */

.card-menu {
  display: flex;
  flex-direction: column;
}

.card-menu > li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card-menu.card-menu--dividers > .card-menu-link:not(:last-child) {
  border-bottom-color: var( --ancient-card-menu-divider-border-color );
  border-bottom-style: var( --ancient-card-menu-divider-border-style );
  border-bottom-width: var( --ancient-card-menu-divider-border-width );
}

.card-menu-link {
  background-color: var( --ancient-card-menu-background-color );
  color: var( --ancient-card-menu-color );
  display: block;
  font-size: var( --ancient-card-menu-font-size );
  line-height: var( --ancient-card-menu-line-height );
  list-style: none;
  padding: var( --ancient-card-menu-padding );
}

.card-menu-link:hover {
  background-color: var( --ancient-card-menu-hover-background-color );
  color: var( --ancient-card-menu-hover-color );
}

.card-menu-link:focus {
  background-color: var( --ancient-card-menu-focus-background-color );
  color: var( --ancient-card-menu-focus-color );
}

.card-menu-link:active,
.card-menu-link.card-menu-link--active {
  background-color: var( --ancient-card-menu-active-background-color );
  color: var( --ancient-card-menu-active-color );
}