/* #############################################################################
   Card
   ########################################################################## */

.card {
  background-color: var( --ruckus-card-background-color );
  border-color: var( --ruckus-card-border-color );
  border-radius: var( --ruckus-card-border-radius );
  border-style: var( --ruckus-card-border-style );
  border-width: var( --ruckus-card-border-width );
  box-shadow: var( --ruckus-card-box-shadow );
  color: var( --ruckus-card-color );
  overflow: hidden;
}

.card-divider {
  border-bottom-color: var( --ruckus-card-divider-color );
  border-bottom-style: var( --ruckus-card-divider-style );
  border-bottom-width: var( --ruckus-card-divider-width );
}

.card-section {
  padding: var( --ruckus-card-section-padding );
}

.card-section--action {
  background-color: var( --ruckus-card-action-background-color );
  color: var( --ruckus-card-action-color );
}
