/* =============================================================================
   Checkbox
   ========================================================================== */

.checkbox {
  position: relative;
}

.checkbox > input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.checkbox > label {
  cursor: pointer;
  font-size: var( --ancient-checkbox-font-size );
  line-height: var( --ancient-checkbox-line-height );
  padding-left: 1.75rem;
}

/**
 * @TODO Break out the check element for easier customizability.
 */

.checkbox > label::before {
  border-color: var( --ancient-checkbox-border-color );
  border-radius: var( --ancient-checkbox-border-radius );
  border-style: var( --ancient-checkbox-border-style );
  border-width: var( --ancient-checkbox-border-width );
  box-shadow: var( --ancient-checkbox-box-shadow );
  content: "";
  display: inline-block;
  height: 0.75rem;
  left: 0;
  position: absolute;
  top: 0.375rem;
  width: 0.75rem;
}

.checkbox > label:hover::before {
  border-color: var( --ancient-checkbox-hover-border-color );
}

.checkbox > label::after {
  background-color: var( --ancient-checkbox-background-color );
  border-radius: 0.125rem;
  content: "";
  display: inline-block;
  height: 0.5rem;
  left: 0.175rem;
  opacity: 0;
  position: absolute;
  top: 0.5625rem;
  width: 0.5rem;
}

.checkbox > input:focus + label::before {
  border-color: var( --ancient-checkbox-focus-border-color );
  box-shadow: var( --ancient-checkbox-focus-box-shadow );
}

.checkbox > input:checked + label::after {
  opacity: 1;
}
