/* ==========================================================================
   Divider
   ========================================================================== */

.divider {
  border-bottom-color: var( --ruckus-divider-border-color );
  border-bottom-style: var( --ruckus-divider-border-style );
  border-bottom-width: var( --ruckus-divider-border-width );
}
