



code {
  border-color: hsl(
    var(--hue, var(--default-hue, 232)),
    var(--saturation, var(--default-saturation, 32%)),
    var(--border, var(--default-border, 80%))
  );

  border-radius: 0.25em;
  border-style: solid;
  border-width: 1px;

  color: hsl(
    var(--hue, var(--default-hue, 232)),
    var(--saturation, var(--default-saturation, 32%)),
    var(--text, var(--default-color, 24%))
  );

  display: inline-block;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.875em;
  line-height: 1;
  padding: 0.25em;
  position: relative;
  top: -0.125em;
}



