/*
  elements.table.css
    DESC  some decent styles to tables
    DONT  add "invert" colors to a table (e.g., "_primary") when on a
          primary background as the table will look strange
    DO    add "invert" colors to components within table, such as checkboxes
*/




table {
  border-spacing: 0;
  text-align: left;
  width: 100%;
}

td, th {
  border-width: 0 0 1px 0;

  border-color: hsl(
    var(--hue, var(--default-hue, 232)),
    var(--saturation, var(--default-saturation, 32%)),
    var(--divider, var(--default-divider, 92%))
  );

  border-style: solid;
  padding: 0.5em 1em;
}

tbody tr:nth-child(2n + 1):not(:hover):not(.selected) {
  background-color: hsla(
    var(--hue, var(--default-hue, 232)),
    var(--saturation, var(--default-saturation, 32%)),
    calc(var(--background, var(--default-background, 100%)) - 2%)
  );
}

tr {
  transition: var(
    --prefers-reduced-motion,
    background-color 160ms, box-shadow 160ms
  );
}

tr:last-child td {
  border-bottom: 0;
}

tr:hover {
  background-color: hsl(
    var(--hue, var(--default-hue, 232)),
    var(--saturation, var(--default-saturation, 32%)),
    calc(var(--background, var(--default-background, 100%)) - 4%)
  );

  box-shadow: 0.25em 0 0 hsl(
    var(--hue, var(--default-hue, 232)),
    var(--saturation, var(--default-saturation, 32%)),
    var(--divider, var(--default-divider, 92%))
  ) inset;
}




tr.selected {
  background-color: hsl(
    var(--hue, var(--default-hue, 232)),
    var(--saturation, var(--default-saturation, 32%)),
    calc(var(--background, var(--default-background, 100%)) - 4%)
  );

  box-shadow: 0.25em 0 0 hsl(
    var(--hue, var(--default-hue, 232)),
    var(--saturation, var(--default-saturation, 32%)),
    var(--color, var(--default-color, 24%))
  ) inset;
}