/*
  elements.input.css
    prevent some annoying default styles in input elements
*/

button,
input,
select,
textarea {
  appearance: none;
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
}
