/* ==========================================================================
   Heading
   ========================================================================== */

/**
 *  1.  Keeping `font-size` a multiple of 8px (or 0.5rem when 16px) will always
 *      give an appropriate `line-height` when set to 1.
 */

.heading {
  line-height: 1; /* 1 */
  margin: 0;
}

.heading.heading--title {
  font-size: var( --ancient-heading-title-font-size );
  font-weight: var( --ancient-heading-title-font-weight );
}

.heading.heading--content {
  font-size: var( --ancient-heading-content-font-size );
  font-weight: var( --ancient-heading-content-font-weight );
}

.heading.heading--menu {
  font-size: var( --ancient-heading-menu-font-size );
  font-weight: var( --ancient-heading-menu-font-weight );
  padding: 8px 16px;
}
