/* =============================================================================
   Label
   ========================================================================== */

.label {
  cursor: pointer;
  display: block;
  font-size: var( --ancient-label-font-size );
  font-weight: var( --ancient-label-font-weight );
  line-height: var( --ancient-label-line-height );
}