/* =============================================================================
   Link
   ========================================================================== */

/**
 *  Setting custom link styles/colors on the anchor tag can cause override
 *  issues later with menus, navigation, buttons, etc.
 *
 *  It's probably smarter to use a `link` class that we can use manually and to
 *  copy these styles in a prose-type scope later on.
 */

a {
  color: inherit;
  text-decoration: none;
}

.link {
  color: var( --ancient-link-color );
  text-decoration: var( --ancient-link-text-decoration );
  text-decoration-color: var( --ancient-link-text-decoration-color );
}

.link:hover {
  color: var( --ancient-link-hover-color );
  text-decoration: var( --ancient-link-hover-text-decoration );
  text-decoration-color: var(--ancient-link-hover-text-decoration-color);
}

.link:focus {
  background-color: var( --ancient-text-selection-background-color );
  color: var( --ancient-text-selection-color );
}