/* #############################################################################
   Link
   ########################################################################## */

a {
  color: inherit;
  text-decoration: none;
}

.link {
  color: var( --ruckus-link-color );
}
