/* =============================================================================
   Nav
   ========================================================================== */

/**
 * Vertical list of navigation elements generally used inside of NavBar.
 */

.nav {
  margin: var(--ancient-nav-margin);
  padding: var(--ancient-nav-padding);
}

/* NavItem
   ========================================================================== */

.nav-item {
  margin: var(--ancient-nav-item-margin);
  padding: var(--ancient-nav-item-padding);
}

/* Remove padding if a sub-element has its own padding, such as inputs. */
.nav-item--contract {
  padding: 0;
}