/* =============================================================================
   Notification
   ========================================================================== */

/**
 *  QuickView: Use CTRL+F or your editor's find feature to quickly search.
 *  QV01  Default
 *  QV02  Color Variants
 *  QV03  Primary
 *  QV04  Error
 *  QV05  Size Variants
 *  QV06  Small
 *  QV07  Large
 */

/* Default                                                               QV01
   ========================================================================== */
.notification {
  background-color: var( --ancient-notification-background-color );
  border-color: var( --ancient-notification-border-color );
  border-radius: var( --ancient-notification-border-radius );
  border-style: var( --ancient-notification-border-style );
  border-width: var( --ancient-notification-border-width );
  color: var( --ancient-notification-color );
  font-size: var( --ancient-notification-font-size );
  line-height: var( --ancient-notification-line-height );
  padding: var( --ancient-notification-padding );
}

/* ==========================================================================
   Color Variants                                                        QV02
   ========================================================================== */

/* Primary                                                               QV03
   ========================================================================== */
.notification.notification--primary {
  background-color: var( --ancient-notification-primary-background-color );
  border-color: var( --ancient-notification-primary-border-color );
  color: var( --ancient-notification-primary-color );
}

/* Error                                                                 QV04
   ========================================================================== */
.notification.notification--error {
  background-color: var( --ancient-notification-error-background-color );
  border-color: var( --ancient-notification-error-border-color );
  color: var( --ancient-notification-error-color );
}

/* ==========================================================================
   Size Variants                                                         QV05
   ========================================================================== */

/* Small                                                                 QV06
   ========================================================================== */
.notification.notification--small {
  border-width: var( --ancient-notification-small-border-width );
  font-size: var( --ancient-notification-small-font-size );
  line-height: var( --ancient-notification-small-line-height );
  padding: var( --ancient-notification-small-padding );
}

/* Large                                                                 QV07
   ========================================================================== */
.notification.notification--large {
  font-size: var( --ancient-notification-large-font-size );
  line-height: var( --ancient-notification-large-line-height );
  padding: var( --ancient-notification-large-padding );
}
