:root {
  /* Error Button                                                       BUT04
     ======================================================================== */
  --ancient-button-error-background-color: hsl( var(--ancient-error-hue), var(--ancient-error-sat), 64%);
  --ancient-button-error-border-color: hsl( var(--ancient-error-hue), var(--ancient-error-sat), 56%);
  --ancient-button-error-box-shadow: 0 0.5rem 0 hsla( var(--ancient-error-hue), var(--ancient-error-sat), 56%, 0.5);
  --ancient-button-error-color: hsl( var(--ancient-error-hue), var(--ancient-error-sat), 100%);
  --ancient-button-error-transition: none;
  --ancient-button-error-hover-background-color: hsl( var(--ancient-error-hue), var(--ancient-error-sat), 68%);
  --ancient-button-error-hover-border-color: hsl( var(--ancient-error-hue), var(--ancient-error-sat), 48%);
  --ancient-button-error-hover-box-shadow: 0 0.5rem 0 hsla( var(--ancient-error-hue), var(--ancient-error-sat), 48%, 0.5);
  --ancient-button-error-hover-color: hsl( var(--ancient-error-hue), var(--ancient-error-sat), 100%);
  --ancient-button-error-hover-transition: none;
  --ancient-button-error-focus-background-color: hsl( var(--ancient-error-hue), var(--ancient-error-sat), 64%);
  --ancient-button-error-focus-border-color: hsl( var(--ancient-error-hue), var(--ancient-error-sat), 48%);
  --ancient-button-error-focus-box-shadow:  0 0 0 0.25rem hsla( var(--ancient-error-hue), var(--ancient-error-sat), 48%, 0.25);
  --ancient-button-error-focus-color: hsl( var(--ancient-error-hue), var(--ancient-error-sat), 100%);
  --ancient-button-error-focus-transition: none;
  --ancient-button-error-active-background-color: hsl( var(--ancient-error-hue), var(--ancient-error-sat), 64%);
  --ancient-button-error-active-border-color: hsl( var(--ancient-error-hue), var(--ancient-error-sat), 40%);
  --ancient-button-error-active-box-shadow: inset 0 0.5rem 0 hsla( var(--ancient-error-hue), var(--ancient-error-sat), 40%, 0.5);
  --ancient-button-error-active-color: hsl( var(--ancient-error-hue), var(--ancient-error-sat), 100%);
  --ancient-button-error-active-transition: none;

  /* Success Button                                                     BUT05
     ======================================================================== */
  --ancient-button-success-background-color: hsl( var(--ancient-success-hue), var(--ancient-success-sat), 64%);
  --ancient-button-success-border-color: hsl( var(--ancient-success-hue), var(--ancient-success-sat), 56%);
  --ancient-button-success-box-shadow: 0 0.5rem 0 hsla( var(--ancient-success-hue), var(--ancient-success-sat), 56%, 0.5);
  --ancient-button-success-color: hsl( var(--ancient-success-hue), var(--ancient-success-sat), 24%);
  --ancient-button-success-transition: none;
  --ancient-button-success-hover-background-color: hsl( var(--ancient-success-hue), var(--ancient-success-sat), 68%);
  --ancient-button-success-hover-border-color: hsl( var(--ancient-success-hue), var(--ancient-success-sat), 48%);
  --ancient-button-success-hover-box-shadow: 0 0.5rem 0 hsla( var(--ancient-success-hue), var(--ancient-success-sat), 48%, 0.5);
  --ancient-button-success-hover-color: hsl( var(--ancient-success-hue), var(--ancient-success-sat), 24%);
  --ancient-button-success-hover-transition: none;
  --ancient-button-success-focus-background-color: hsl( var(--ancient-success-hue), var(--ancient-success-sat), 64%);
  --ancient-button-success-focus-border-color: hsl( var(--ancient-success-hue), var(--ancient-success-sat), 48%);
  --ancient-button-success-focus-box-shadow:  0 0 0 0.25rem hsla( var(--ancient-success-hue), var(--ancient-success-sat), 48%, 0.25);
  --ancient-button-success-focus-color: hsl( var(--ancient-success-hue), var(--ancient-success-sat), 24%);
  --ancient-button-success-focus-transition: none;
  --ancient-button-success-active-background-color: hsl( var(--ancient-success-hue), var(--ancient-success-sat), 64%);
  --ancient-button-success-active-border-color: hsl( var(--ancient-success-hue), var(--ancient-success-sat), 40%);
  --ancient-button-success-active-box-shadow: inset 0 0.5rem 0 hsla( var(--ancient-success-hue), var(--ancient-success-sat), 40%, 0.5);
  --ancient-button-success-active-color: hsl( var(--ancient-success-hue), var(--ancient-success-sat), 24%);
  --ancient-button-success-active-transition: none;

  /* Warning Button                                                     BUT06
     ======================================================================== */
  --ancient-button-warning-background-color: hsl( var(--ancient-warning-hue), var(--ancient-warning-sat), 72%);
  --ancient-button-warning-border-color: hsl( var(--ancient-warning-hue), var(--ancient-warning-sat), 64%);
  --ancient-button-warning-box-shadow: 0 0.5rem 0 hsla( var(--ancient-warning-hue), var(--ancient-warning-sat), 64%, 0.5);
  --ancient-button-warning-color: hsl( var(--ancient-warning-hue), var(--ancient-warning-sat), 24%);
  --ancient-button-warning-transition: none;
  --ancient-button-warning-hover-background-color: hsl( var(--ancient-warning-hue), var(--ancient-warning-sat), 76%);
  --ancient-button-warning-hover-border-color: hsl( var(--ancient-warning-hue), var(--ancient-warning-sat), 56%);
  --ancient-button-warning-hover-box-shadow: 0 0.5rem 0 hsla( var(--ancient-warning-hue), var(--ancient-warning-sat), 56%, 0.5);
  --ancient-button-warning-hover-color: hsl( var(--ancient-warning-hue), var(--ancient-warning-sat), 24%);
  --ancient-button-warning-hover-transition: none;
  --ancient-button-warning-focus-background-color: hsl( var(--ancient-warning-hue), var(--ancient-warning-sat), 72%);
  --ancient-button-warning-focus-border-color: hsl( var(--ancient-warning-hue), var(--ancient-warning-sat), 56%);
  --ancient-button-warning-focus-box-shadow:  0 0 0 0.25rem hsla( var(--ancient-warning-hue), var(--ancient-warning-sat), 56%, 0.25);
  --ancient-button-warning-focus-color: hsl( var(--ancient-warning-hue), var(--ancient-warning-sat), 24%);
  --ancient-button-warning-focus-transition: none;
  --ancient-button-warning-active-background-color: hsl( var(--ancient-warning-hue), var(--ancient-warning-sat), 72%);
  --ancient-button-warning-active-border-color: hsl( var(--ancient-warning-hue), var(--ancient-warning-sat), 48%);
  --ancient-button-warning-active-box-shadow: inset 0 0.5rem 0 hsla( var(--ancient-warning-hue), var(--ancient-warning-sat), 48%, 0.5);
  --ancient-button-warning-active-color: hsl( var(--ancient-warning-hue), var(--ancient-warning-sat), 24%);
  --ancient-button-warning-active-transition: none;

  /* Small Button                                                       BUT07
     ======================================================================== */
  --ancient-button-small-border-width: 1px;
  --ancient-button-small-font-size: var(--ancient-font-size-xs);
  --ancient-button-small-line-height: 1.5;
  --ancient-button-small-padding: 0 0.25rem;

  /* Large Button                                                       BUT08
     ======================================================================== */
  --ancient-button-large-border-width: 1px;
  --ancient-button-large-font-size: var(--ancient-font-size);
  --ancient-button-large-line-height: 1.5;
  --ancient-button-large-padding: 0.5rem 1rem;

  /* ========================================================================
     Card                                                               CAR00
     ======================================================================== */

  --ancient-card-background-color: hsl(216, 24%, 100%);
  --ancient-card-border-color: hsl(216, 24%, 88%);
  --ancient-card-border-radius: 0.25rem;
  --ancient-card-border-style: solid;
  --ancient-card-border-width: 1px;
  --ancient-card-box-shadow: 0 0.5rem 0 hsla(216, 24%, var(--ancient-card-border-color), 0.5);
  --ancient-card-color: hsl(216, 24%, 48%);
  --ancient-card-divider-color: hsl(216, 24%, 96%);
  --ancient-card-divider-style: solid;
  --ancient-card-divider-width: 1px;
  --ancient-card-section-padding: 1rem;
  --ancient-card-action-background-color: hsl(216, 24%, 98%);
  --ancient-card-action-color: hsl(216, 24%, 48%);
  
  --ancient-card-menu-background-color: transparent;
  --ancient-card-menu-color: inherit;
  --ancient-card-menu-hover-background-color: hsl(216, 24%, 98%);
  --ancient-card-menu-hover-color: inherit;
  --ancient-card-menu-focus-background-color: hsl(216, 24%, 98%);
  --ancient-card-menu-focus-color: inherit;
  --ancient-card-menu-active-background-color: hsl(216, 24%, 96%);
  --ancient-card-menu-active-color: inherit;
  --ancient-card-menu-font-size: 0.875rem;
  --ancient-card-menu-line-height: 1.5;
  --ancient-card-menu-divider-border-color: hsl(216, 24%, 96%);
  --ancient-card-menu-divider-border-style: solid;
  --ancient-card-menu-divider-border-width: 1px;
  --ancient-card-menu-padding: 0.5rem 1rem;

  /* ========================================================================
     Checkbox                                                           CHE00
     ======================================================================== */
  
  --ancient-checkbox-background-color: hsl(216, 80%, 64%);
  --ancient-checkbox-border-color: hsl(216, 24%, 88%);
  --ancient-checkbox-border-radius: 0.25rem;
  --ancient-checkbox-border-style: solid;
  --ancient-checkbox-border-width: 1px;
  --ancient-checkbox-box-shadow: inset 0 0.5rem 0 hsla(216, 24%, 88%, 0.5);
  --ancient-checkbox-hover-border-color: hsl(216, 24%, 80%);
  --ancient-checkbox-focus-border-color: hsl(216, 80%, 64%);
  --ancient-checkbox-focus-box-shadow: 0 0 0 0.25rem hsla(216, 80%, 64%, 0.25);
  --ancient-checkbox-font-size: 0.875rem;
  --ancient-checkbox-line-height: 1.5;
  
  /* ========================================================================
     Column                                                             COL00
     ======================================================================== */
  
  --ancient-column-padding: 0.5rem;
  --ancient-column-small-padding: 0.25rem;
  --ancient-column-large-padding: 1rem;

  /* ========================================================================
     Container                                                          CON00
     ======================================================================== */

  --ancient-container-max-width: 960px;
  --ancient-container-small-max-width: 640px;
  --ancient-container-large-max-width: 1200px;

  /* ========================================================================
     Divider                                                            DIV00
     ======================================================================== */

  --ancient-divider-border-color: hsl(216, 24%, 88%);
  --ancient-divider-border-style: solid;
  --ancient-divider-border-width: 1px;

  /* ========================================================================
     Heading                                                            HEA00
     ======================================================================== */

  --ancient-heading-title-font-size: 2.5rem;
  --ancient-heading-title-font-weight: 400;
  --ancient-heading-content-font-size: 1.5rem;
  --ancient-heading-content-font-weight: 500;
  --ancient-heading-menu-font-size: 1rem;
  --ancient-heading-menu-font-weight: 700;

  /* ========================================================================
     Input                                                              INP00
     ======================================================================== */

   /* Default Input                                                      INP01
      ======================================================================== */
  --ancient-input-background-color: transparent;
  --ancient-input-border-color: hsl(216, 24%, 88%);
  --ancient-input-border-radius: 0.25rem;
  --ancient-input-border-style: solid;
  --ancient-input-border-width: 1px;
  --ancient-input-box-shadow: inset 0 0.5rem 0 hsla(216, 24%, 88%, 0.5); 
  --ancient-input-hover-background-color: transparent;
  --ancient-input-hover-border-color: hsl(216, 24%, 80%);
  --ancient-input-hover-box-shadow: inset 0 0.5rem 0 hsla(216, 24%, 80%, 0.5); 
  --ancient-input-hover-color: inherit;
  --ancient-input-focus-background-color: transparent;
  --ancient-input-focus-border-color: hsl(216, 80%, 64%);
  --ancient-input-focus-box-shadow: 0 0 0 0.25rem hsla(216, 80%, 64%, 0.25); 
  --ancient-input-focus-color: inherit;
  --ancient-input-active-background-color: transparent;
  --ancient-input-active-border-color: hsl(216, 80%, 64%);
  --ancient-input-active-box-shadow: 0 0 0 0.25rem hsla(216, 80%, 64%, 0.25); 
  --ancient-input-active-color: inherit;
  --ancient-input-color: inherit;
  --ancient-input-font-size: 0.875rem;
  --ancient-input-line-height: 1.5;
  --ancient-input-padding: 0.25rem 0.5rem;

  /* Error Input                                                        INP02
     ======================================================================== */
  --ancient-input-error-background-color: transparent;
  --ancient-input-error-border-color: hsl( var(--ancient-error-hue), var(--ancient-error-sat), 64%);
  --ancient-input-error-box-shadow: inset 0 0.5rem 0 hsla( var(--ancient-error-hue), var(--ancient-error-sat), 64%, 0.5); 
  --ancient-input-error-color: hsl( var(--ancient-error-hue), var(--ancient-error-sat), 64%);
  --ancient-input-error-hover-background-color: transparent;
  --ancient-input-error-hover-border-color: hsl( var(--ancient-error-hue), var(--ancient-error-sat), 56%);
  --ancient-input-error-hover-box-shadow: inset 0 0.5rem 0 hsla( var(--ancient-error-hue), var(--ancient-error-sat), 56%, 0.5); 
  --ancient-input-error-hover-color: hsl( var(--ancient-error-hue), var(--ancient-error-sat), 64%);
  --ancient-input-error-focus-background-color: transparent;
  --ancient-input-error-focus-border-color: hsl( var(--ancient-error-hue), var(--ancient-error-sat), 56%);
  --ancient-input-error-focus-box-shadow: 0 0 0 0.25rem hsla( var(--ancient-error-hue), var(--ancient-error-sat), 56%, 0.25); 
  --ancient-input-error-focus-color: hsl( var(--ancient-error-hue), var(--ancient-error-sat), 64%);
  --ancient-input-error-active-background-color: transparent;
  --ancient-input-error-active-border-color: hsl( var(--ancient-error-hue), var(--ancient-error-sat), 56%);
  --ancient-input-error-active-box-shadow: 0 0 0 0.25rem hsla( var(--ancient-error-hue), var(--ancient-error-sat), 56%, 0.25); 
  --ancient-input-error-active-color: hsl( var(--ancient-error-hue), var(--ancient-error-sat), 64%);

  /* ========================================================================
     Label                                                              LAB00
     ======================================================================== */

  --ancient-label-font-size: 0.875rem;
  --ancient-label-font-weight: 600;
  --ancient-label-line-height: 1.5;

  /* ========================================================================
     Link                                                               LIN00
     ======================================================================== */

  --ancient-link-color: hsl(216, 80%, 64%);
  --ancient-link-text-decoration: underline;
  --ancient-link-text-decoration-color: hsla(216, 80%, 64%, 0.25);

  --ancient-link-hover-color: hsl(216, 80%, 64%);
  --ancient-link-hover-text-decoration: underline;
  --ancient-link-hover-text-decoration-color: hsl(216, 80%, 64%);
  
  /* ========================================================================
     Menu                                                               MEN00
     ======================================================================== */

  --ancient-menu-link-background-color: transparent;
  --ancient-menu-link-color: inherit;
  --ancient-menu-link-hover-background-color: hsl(216, 24%, 94%);
  --ancient-menu-link-hover-color: inherit;
  --ancient-menu-link-focus-background-color: hsl(216, 24%, 94%);
  --ancient-menu-link-focus-color: inherit;
  --ancient-menu-link-active-background-color: hsl(216, 24%, 92%);
  --ancient-menu-link-active-color: inherit;
  --ancient-menu-link-font-size: 0.875rem;
  --ancient-menu-link-padding: 0.5rem 1rem;

  /* ========================================================================
     Modal
     ======================================================================== */
  
  --ancient-modal-background-color: hsla(216, 24%, 96%, 0.75);
  --ancient-modal-color: hsl(216, 24%, 48%);
  --ancient-modal-padding: 1rem;

  /* ========================================================================
     Navbar                                                             NAV00
     ======================================================================== */

  --ancient-nav-margin: 0 1rem 0 0;
  --ancient-nav-padding: 0;
  
  --ancient-nav-item-margin: 0;
  --ancient-nav-item-padding: 0.5rem 1rem;

  /* ========================================================================
     Navbar                                                             NVB00
     ======================================================================== */

  --ancient-navbar-background-color: hsl(216, 80%, 64%);
  --ancient-navbar-color: hsl(216, 80%, 100%);
  --ancient-navbar-padding: 1rem;

  /* ========================================================================
     Notification                                                       NOT00
     ======================================================================== */
  
  /* Default Notification                                               NOT01
     ======================================================================== */
  --ancient-notification-background-color: transparent;
  --ancient-notification-border-color: hsl(216, 24%, 88%);
  --ancient-notification-border-style: solid;
  --ancient-notification-border-radius: 0;
  --ancient-notification-border-width: 0 0 0 0.25rem;
  --ancient-notification-color: inherit;
  --ancient-notification-font-size: 0.875rem;
  --ancient-notification-line-height: 1.5;
  --ancient-notification-padding: 0 0 0 1rem;
  
  
  /* Primary Notification                                               NOT02
     ======================================================================== */
  --ancient-notification-primary-background-color: transparent;
  --ancient-notification-primary-border-color: hsl(216, 80%, 64%);
  --ancient-notification-primary-color: inherit;
  
  
  /* Error Notification                                                 NOT03
     ======================================================================== */
  --ancient-notification-error-background-color: transparent;
  --ancient-notification-error-border-color: hsl( var(--ancient-error-hue), var(--ancient-error-sat), 64%);
  --ancient-notification-error-color: var( --ancient-notification-color);  
  
  /* Small Notification                                                 NOT04
     ======================================================================== */
  --ancient-notification-small-border-width: 0 0 0 0.25rem;
  --ancient-notification-small-font-size: var(--ancient-font-size-xs);
  --ancient-notification-small-line-height: 1.5;
  --ancient-notification-small-padding: 0 0 0 0.5rem;

  /* Large Notification                                                 NOT05
     ======================================================================== */
  --ancient-notification-large-border-width: 0 0 0 0.25rem;
  --ancient-notification-large-font-size: var(--ancient-font-size);
  --ancient-notification-large-line-height: 1.5;
  --ancient-notification-large-padding: 0 0 0 1.5rem;

  /* ========================================================================
     Path                                                               PAT00
     ======================================================================== */
  
  --ancient-path-primary-fill: currentColor;
  --ancient-path-primary-opacity: 1;
  --ancient-path-secondary-fill: currentColor;
  --ancient-path-secondary-opacity: 0.5;
  
  /* ========================================================================
     Row                                                                ROW00
     ======================================================================== */
     
  --ancient-row-margin: -0.5rem;
  --ancient-row-small-margin: -0.25rem;
  --ancient-row-large-margin: -1rem;

  /* ========================================================================
     Section                                                            SEC00
     ======================================================================== */

  --ancient-section-padding: 1rem;
  --ancient-section-small-padding: 0.5rem;
  --ancient-section-large-padding: 2rem;

  /* ========================================================================
     Select                                                             SEL00
     ======================================================================== */

 --ancient-select-background-color: hsl(216, 24%,  100%);
 --ancient-select-border-color: hsl(216, 24%, 88%);
 --ancient-select-border-radius: 0.25rem;
 --ancient-select-border-style: solid;
 --ancient-select-border-width: 1px;
 --ancient-select-color: hsl(216, 24%, 48%);
 --ancient-select-font-size: 0.875rem;
 --ancient-select-padding: 0.25rem 0.5rem;

  /* ========================================================================
     Stack                                                              STA00
     ======================================================================== */

  --ancient-stack-margin-bottom: 1rem;
  --ancient-stack-small-margin-bottom: 0.5rem;
  --ancient-stack-large-margin-bottom: 2rem;

  /* ========================================================================
     Tag                                                                TAG00
     ======================================================================== */

  /* Default Tag                                                        TAG01
     ======================================================================== */
  --ancient-tag-background-color: hsl(216, 24%, 100%);
  --ancient-tag-border-color: hsl(216, 24%, 88%);
  --ancient-tag-border-radius: 0.25rem;
  --ancient-tag-border-style: solid;
  --ancient-tag-border-width: 1px;
  --ancient-tag-color: hsl(216, 24%, 48%);
  --ancient-tag-font-size: var(--ancient-font-size);
  --ancient-tag-font-weight: 500;
  --ancient-tag-line-height: 1.5;
  --ancient-tag-padding: 0 0.25rem;
  
  /* Primary Tag                                                        TAG02
     ======================================================================== */
  --ancient-tag-primary-background-color: hsl(216, 80%, 64%);
  --ancient-tag-primary-border-color: transparent;
  --ancient-tag-primary-color: hsl(216, 80%, 100%);
  
  /* Secondary Tag                                                      TAG03
     ======================================================================== */
  --ancient-tag-secondary-background-color: hsl(216, 24%, 40%);
  --ancient-tag-secondary-border-color: transparent;
  --ancient-tag-secondary-color: hsl(216, 24%, 100%);
  
  /* Error Tag                                                          TAG04
     ======================================================================== */
  --ancient-tag-error-background-color: hsl( var(--ancient-error-hue), var(--ancient-error-sat), 64%);
  --ancient-tag-error-border-color: transparent;
  --ancient-tag-error-color: hsl( var(--ancient-error-hue), var(--ancient-error-sat), 100%);

  /* Success Tag                                                        TAG05
     ======================================================================== */  
  --ancient-tag-success-background-color: hsl( var(--ancient-success-hue), var(--ancient-success-sat), 64%);
  --ancient-tag-success-border-color: transparent;
  --ancient-tag-success-color: hsl( var(--ancient-success-hue), var(--ancient-success-sat), 24%);

  /* Warning Tag                                                        TAG06
     ======================================================================== */  
  --ancient-tag-warning-background-color: hsl( var(--ancient-warning-hue), var(--ancient-warning-sat), 72%);
  --ancient-tag-warning-border-color: transparent;
  --ancient-tag-warning-color: hsl( var(--ancient-warning-hue), var(--ancient-warning-sat), 24%);

  /* Extra-small Tag                                                    TAG07
     ======================================================================== */
  --ancient-tag-xs-font-size: 0.625rem;
  --ancient-tag-xs-font-weight: 500;
  --ancient-tag-xs-line-height: 1.5;
  --ancient-tag-xs-padding: 0 0.25rem;

  /* Small Tag                                                          TAG08
     ======================================================================== */
  --ancient-tag-sm-font-size: 0.75rem;
  --ancient-tag-sm-font-weight: 500;
  --ancient-tag-sm-line-height: 1.5;
  --ancient-tag-sm-padding: 0 0.25rem;

  /* Large Tag                                                          TAG09
     ======================================================================== */
  --ancient-tag-lg-font-size: 1rem;
  --ancient-tag-lg-font-weight: 500;
  --ancient-tag-lg-line-height: 1.5;
  --ancient-tag-lg-padding: 0 0.25rem;

  /* ========================================================================
     Text Selection                                                     TEX00
     ======================================================================== */

  --ancient-text-selection-background-color: hsl(216, 80%, 88%);
  --ancient-text-selection-color: hsl(216, 80%, 64%);

  /* ========================================================================
     Utilities                                                          UTI00
     ======================================================================== */

  /* Margin                                                             MAR00
     ======================================================================== */
  --ancient-utility-margin: var( --ancient-spacing);
  --ancient-utility-margin-small: var( --ancient-spacing-sm);
  --ancient-utility-margin-large: var( --ancient-spacing-lg);

  /* Padding                                                            PAD00
     ======================================================================== */
  --ancient-utility-padding: var( --ancient-spacing);
  --ancient-utility-padding-small: var( --ancient-spacing-sm);
  --ancient-utility-padding-large: var( --ancient-spacing-lg);
}

@media (--desktop) {
  :root {
    --ancient-html-font-size: 16px;
  }
}
