.day,
:root {
  /* default */
  --default-hue: 248;
  --default-saturation: 32%;
  --default-background: 100%;
  --default-border: 84%;
  --default-color: 24%;
  --default-divider: 92%;
  --default-html: 98%;

  /* base */
  --base-hue: var(--default-hue);
  --base-saturation: var(--default-saturation);
  --base-background: 24%;
  --base-border: var(--default-border);
  --base-color: 96%;
  --base-divider: 32%;
  --base-text: 24%;
  --base-hover-delta: 8%;
  --base-active-delta: -8%;
  --base-border-hover-delta: -8%;
  --base-border-active-delta: -16%;

  /* _base */
  --base-invert-hue: var(--base-hue);
  --base-invert-saturation: var(--base-saturation);
  --base-invert-background: var(--base-color);
  --base-invert-border: 80%;
  --base-invert-color: var(--base-background);
  --base-invert-divider: 88%;
  --base-invert-text: var(--base-background);

  /* base+ */
  --base-alternate-hue: var(--base-hue);
  --base-alternate-saturation: var(--base-saturation);
  --base-alternate-background: 96%;
  --base-alternate-border: 80%;
  --base-alternate-color: var(--base-background);
  --base-alternate-divider: 88%;
  --base-alternate-text: var(--base-background);


  /* primary */
  --primary-hue: 248;
  --primary-saturation: 56%;
  --primary-background: 56%;
  --primary-border: var(--default-border);
  --primary-color: 100%;
  --primary-divider: 64%;
  --primary-text: 56%;

  /* _primary */
  --primary-invert-hue: var(--primary-hue);
  --primary-invert-saturation: var(--primary-saturation);
  --primary-invert-background: var(--primary-color);
  --primary-invert-border: 84%;
  --primary-invert-color: var(--primary-background);
  --primary-invert-divider: 92%;
  --primary-invert-text: var(--primary-color);

  /* primary+ */
  --primary-alternate-hue: var(--primary-hue);
  --primary-alternate-saturation: var(--primary-saturation);
  --primary-alternate-background: 96%;
  --primary-alternate-border: 80%;
  --primary-alternate-color: var(--primary-background);
  --primary-alternate-divider: 88%;
  --primary-alternate-text: var(--primary-background);


  /* secondary */
  --secondary-hue: 160;
  --secondary-saturation: 56%;
  --secondary-background: 56%;
  --secondary-border: var(--default-border);
  --secondary-color: 100%;
  --secondary-divider: 64%;
  --secondary-text: 56%;

  /* _secondary */
  --secondary-invert-hue: var(--secondary-hue);
  --secondary-invert-saturation: var(--secondary-saturation);
  --secondary-invert-background: var(--secondary-color);
  --secondary-invert-border: 84%;
  --secondary-invert-color: var(--secondary-background);
  --secondary-invert-divider: 92%;
  --secondary-invert-text: var(--secondary-color);

  /* secondary+ */
  --secondary-alternate-hue: var(--secondary-hue);
  --secondary-alternate-saturation: var(--secondary-saturation);
  --secondary-alternate-background: 96%;
  --secondary-alternate-border: 80%;
  --secondary-alternate-color: var(--secondary-background);
  --secondary-alternate-divider: 88%;
  --secondary-alternate-text: var(--secondary-background);


  /* info */
  --info-hue: 208;
  --info-saturation: 64%;
  --info-background: 56%;
  --info-border: var(--default-border);
  --info-color: 100%;
  --info-divider: 64%;
  --info-text: 56%;

  /* _info */
  --info-invert-hue: var(--info-hue);
  --info-invert-saturation: var(--info-saturation);
  --info-invert-background: var(--info-color);
  --info-invert-border: 84%;
  --info-invert-color: var(--info-background);
  --info-invert-divider: 92%;
  --info-invert-text: var(--info-color);

  /* info+ */
  --info-alternate-hue: var(--info-hue);
  --info-alternate-saturation: var(--info-saturation);
  --info-alternate-background: 96%;
  --info-alternate-border: 80%;
  --info-alternate-color: var(--info-background);
  --info-alternate-divider: 88%;
  --info-alternate-text: var(--info-background);


  /* success */
  --success-hue: 144;
  --success-saturation: 56%;
  --success-background: 48%;
  --success-border: var(--default-border);
  --success-color: 100%;
  --success-divider: 64%;
  --success-text: 56%;

  /* _success */
  --success-invert-hue: var(--success-hue);
  --success-invert-saturation: var(--success-saturation);
  --success-invert-background: var(--success-color);
  --success-invert-border: 84%;
  --success-invert-color: var(--success-background);
  --success-invert-divider: 92%;
  --success-invert-text: var(--success-color);

  /* success+ */
  --success-alternate-hue: var(--success-hue);
  --success-alternate-saturation: var(--success-saturation);
  --success-alternate-background: 96%;
  --success-alternate-border: 80%;
  --success-alternate-color: var(--success-background);
  --success-alternate-divider: 88%;
  --success-alternate-text: var(--success-background);


  /* warning */
  --warning-hue: 32;
  --warning-saturation: 64%;
  --warning-background: 56%;
  --warning-border: var(--default-border);
  --warning-color: 100%;
  --warning-divider: 64%;
  --warning-text: 56%;

  /* _warning */
  --warning-invert-hue: var(--warning-hue);
  --warning-invert-saturation: var(--warning-saturation);
  --warning-invert-background: var(--warning-color);
  --warning-invert-border: 84%;
  --warning-invert-color: var(--warning-background);
  --warning-invert-divider: 92%;
  --warning-invert-text: var(--warning-color);

  /* warning+ */
  --warning-alternate-hue: var(--warning-hue);
  --warning-alternate-saturation: var(--warning-saturation);
  --warning-alternate-background: 96%;
  --warning-alternate-border: 80%;
  --warning-alternate-color: var(--warning-background);
  --warning-alternate-divider: 88%;
  --warning-alternate-text: var(--warning-background);


  /* error */
  --error-hue: 352;
  --error-saturation: 64%;
  --error-background: 56%;
  --error-border: var(--default-border);
  --error-color: 100%;
  --error-divider: 64%;
  --error-text: 56%;

  /* _error */
  --error-invert-hue: var(--error-hue);
  --error-invert-saturation: var(--error-saturation);
  --error-invert-background: var(--error-color);
  --error-invert-border: 84%;
  --error-invert-color: var(--error-background);
  --error-invert-divider: 92%;
  --error-invert-text: var(--error-color);

  /* error+ */
  --error-alternate-hue: var(--error-hue);
  --error-alternate-saturation: var(--error-saturation);
  --error-alternate-background: 96%;
  --error-alternate-border: 80%;
  --error-alternate-color: var(--error-background);
  --error-alternate-divider: 88%;
  --error-alternate-text: var(--error-background);
}
