.night {
  --default-background: 16%;
  --default-border: 32%;
  --default-divider: 24%;
  --default-color: 96%;
  --default-html: 14%; /* for a *slightly* dark background color */

  --default-border-hover-delta: 8%;
  --default-border-active-delta: 16%;

  --base-background: 96%;
  --base-border: var(--default-border);
  --base-color: 24%;
  --base-divider: 88%;
  --base-text: 96%;

  --base-invert-background: 20%;
  --base-invert-border: 80%;
  --base-invert-color: 96%;
  --base-invert-divider: 28%;
  --base-invert-text: 24%;
  --base-invert-hover-delta: 2%;
  --base-invert-active-delta: 4%;

  --base-border-invert-hover-delta: -8%;
  --base-border-invert-active-delta: -16%;

  --base-alternate-background: 20%;
  --base-alternate-border: 32%;
  --base-alternate-color: 96%;
  --base-alternate-divider: 28%;
  --base-alternate-text: 96%;
  --base-alternate-hover-delta: 2%;
  --base-alternate-active-delta: 4%;
  
  --primary-border: var(--default-border);
  --secondary-border: var(--default-border);
  --info-border: var(--default-border);
  --success-border: var(--default-border);
  --warning-border: var(--default-border);
  --error-border: var(--default-border);

  --primary-text: 64%;
  
  --primary-alternate-hue: var(--base-alternate-hue);
  --primary-alternate-saturation: var(--base-alternate-saturation);
  --primary-alternate-background: var(--base-alternate-background);
  --primary-alternate-border: var(--base-alternate-border);
  --primary-alternate-color: var(--base-alternate-color);
  --primary-alternate-divider: var(--base-alternate-divider);
  --primary-alternate-text: var(--base-alternate-text);
  --primary-alternate-hover-delta: var(--base-alternate-hover-delta);
  --primary-alternate-active-delta: var(--base-alternate-active-delta);
  
  --secondary-alternate-hue: var(--base-alternate-hue);
  --secondary-alternate-saturation: var(--base-alternate-saturation);
  --secondary-alternate-background: var(--base-alternate-background);
  --secondary-alternate-border: var(--base-alternate-border);
  --secondary-alternate-color: var(--base-alternate-color);
  --secondary-alternate-divider: var(--base-alternate-divider);
  --secondary-alternate-text: var(--base-alternate-text);
  --secondary-alternate-hover-delta: var(--base-alternate-hover-delta);
  --secondary-alternate-active-delta: var(--base-alternate-active-delta);
  
  --info-alternate-hue: var(--base-alternate-hue);
  --info-alternate-saturation: var(--base-alternate-saturation);
  --info-alternate-background: var(--base-alternate-background);
  --info-alternate-border: var(--base-alternate-border);
  --info-alternate-color: var(--base-alternate-color);
  --info-alternate-divider: var(--base-alternate-divider);
  --info-alternate-text: var(--base-alternate-text);
  --info-alternate-hover-delta: var(--base-alternate-hover-delta);
  --info-alternate-active-delta: var(--base-alternate-active-delta);
  
  --success-alternate-hue: var(--base-alternate-hue);
  --success-alternate-saturation: var(--base-alternate-saturation);
  --success-alternate-background: var(--base-alternate-background);
  --success-alternate-border: var(--base-alternate-border);
  --success-alternate-color: var(--base-alternate-color);
  --success-alternate-divider: var(--base-alternate-divider);
  --success-alternate-text: var(--base-alternate-text);
  --success-alternate-hover-delta: var(--base-alternate-hover-delta);
  --success-alternate-active-delta: var(--base-alternate-active-delta);
  
  --warning-alternate-hue: var(--base-alternate-hue);
  --warning-alternate-saturation: var(--base-alternate-saturation);
  --warning-alternate-background: var(--base-alternate-background);
  --warning-alternate-border: var(--base-alternate-border);
  --warning-alternate-color: var(--base-alternate-color);
  --warning-alternate-divider: var(--base-alternate-divider);
  --warning-alternate-text: var(--base-alternate-text);
  --warning-alternate-hover-delta: var(--base-alternate-hover-delta);
  --warning-alternate-active-delta: var(--base-alternate-active-delta);
  
  --error-alternate-hue: var(--base-alternate-hue);
  --error-alternate-saturation: var(--base-alternate-saturation);
  --error-alternate-background: var(--base-alternate-background);
  --error-alternate-border: var(--base-alternate-border);
  --error-alternate-color: var(--base-alternate-color);
  --error-alternate-divider: var(--base-alternate-divider);
  --error-alternate-text: var(--base-alternate-text);
  --error-alternate-hover-delta: var(--base-alternate-hover-delta);
  --error-alternate-active-delta: var(--base-alternate-active-delta);
}
