.content-around {
  align-content: space-around;
}

.content-between {
  align-content: space-between;
}

.content-center {
  align-content: center;
}

.content-end {
  align-content: flex-end;
}

.content-start {
  align-content: flex-start;
}

.content-stretch {
  align-content: stretch;
}

@media (min-width: 768px) {
  .sm\:content-around {
    align-content: space-around;
  }

  .sm\:content-between {
    align-content: space-between;
  }

  .sm\:content-center {
    align-content: center;
  }

  .sm\:content-end {
    align-content: flex-end;
  }

  .sm\:content-start {
    align-content: flex-start;
  }

  .sm\:content-stretch {
    align-content: stretch;
  }
}

@media (min-width: 1024px) {
  .md\:content-around {
    align-content: space-around;
  }

  .md\:content-between {
    align-content: space-between;
  }

  .md\:content-center {
    align-content: center;
  }

  .md\:content-end {
    align-content: flex-end;
  }

  .md\:content-start {
    align-content: flex-start;
  }

  .md\:content-stretch {
    align-content: stretch;
  }
}

@media (min-width: 1280px) {
  .lg\:content-around {
    align-content: space-around;
  }

  .lg\:content-between {
    align-content: space-between;
  }

  .lg\:content-center {
    align-content: center;
  }

  .lg\:content-end {
    align-content: flex-end;
  }

  .lg\:content-start {
    align-content: flex-start;
  }

  .lg\:content-stretch {
    align-content: stretch;
  }
}