.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.items-start {
  align-items: flex-start;
}

.items-stretch {
  align-items: stretch;
}

@media (min-width: 768px) {
  .sm\:items-center {
    align-items: center;
  }

  .sm\:items-end {
    align-items: flex-end;
  }

  .sm\:items-start {
    align-items: flex-start;
  }

  .sm\:items-stretch {
    align-items: stretch;
  }
}

@media (min-width: 1024px) {
  .md\:items-center {
    align-items: center;
  }

  .md\:items-end {
    align-items: flex-end;
  }

  .md\:items-start {
    align-items: flex-start;
  }

  .md\:items-stretch {
    align-items: stretch;
  }
}

@media (min-width: 1280px) {
  .lg\:items-center {
    align-items: center;
  }

  .lg\:items-end {
    align-items: flex-end;
  }

  .lg\:items-start {
    align-items: flex-start;
  }

  .lg\:items-stretch {
    align-items: stretch;
  }
}