.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-stretch {
  justify-content: stretch;
}

@media (min-width: 768px) {
  .sm\:justify-around {
    justify-content: space-around;
  }

  .sm\:justify-between {
    justify-content: space-between;
  }

  .sm\:justify-center {
    justify-content: center;
  }

  .sm\:justify-end {
    justify-content: flex-end;
  }

  .sm\:justify-start {
    justify-content: flex-start;
  }

  .sm\:justify-stretch {
    justify-content: stretch;
  }
}

@media (min-width: 1024px) {
  .md\:justify-around {
    justify-content: space-around;
  }

  .md\:justify-between {
    justify-content: space-between;
  }

  .md\:justify-center {
    justify-content: center;
  }

  .md\:justify-end {
    justify-content: flex-end;
  }

  .md\:justify-start {
    justify-content: flex-start;
  }

  .md\:justify-stretch {
    justify-content: stretch;
  }
}

@media (min-width: 1280px) {
  .lg\:justify-around {
    justify-content: space-around;
  }

  .lg\:justify-between {
    justify-content: space-between;
  }

  .lg\:justify-center {
    justify-content: center;
  }

  .lg\:justify-end {
    justify-content: flex-end;
  }

  .lg\:justify-start {
    justify-content: flex-start;
  }

  .lg\:justify-stretch {
    justify-content: stretch;
  }
}