.l-1px {
  left: 1px;
}

.l-2px {
  left: 2px;
}

.l-3px {
  left: 3px;
}

.l-0 {
  left: 0;
}

.l-1 {
  left: 0.25rem;
}

.l-2 {
  left: 0.5rem;
}

.l-3 {
  left: 0.75rem;
}

.l-4 {
  left: 1rem;
}

.l-5 {
  left: 1.25rem;
}

.l-6 {
  left: 1.5rem;
}

.l-7 {
  left: 1.75rem;
}

.l-8 {
  left: 2rem;
}

.l-10 {
  left: 2.5rem;
}

.l-12 {
  left: 3rem;
}

.l-14 {
  left: 3.5rem;
}

.l-16 {
  left: 4rem;
}

.l-20 {
  left: 5rem;
}

.l-24 {
  left: 6rem;
}

.l-32 {
  left: 8rem;
}

.l-48 {
  left: 12rem;
}

.l-64 {
  left: 16rem;
}

.l-1\/1 {
  left: 100%;
}

.l-1\/2 {
  left: 50%;
}

.l-1\/3 {
  left: 33.33%;
}

.l-1\/4 {
  left: 25%;
}

.l-2\/3 {
  left: 66.67%;
}

.l-3\/4 {
  left: 75%;
}

.l-auto {
  left: auto;
}

.-l-1px {
  left: -1px;
}

.-l-2px {
  left: -2px;
}

.-l-3px {
  left: -3px;
}

.-l-1 {
  left: -0.25rem;
}

.-l-2 {
  left: -0.5rem;
}

.-l-3 {
  left: -0.75rem;
}

.-l-4 {
  left: -1rem;
}

.-l-5 {
  left: -1.25rem;
}

.-l-6 {
  left: -1.5rem;
}

.-l-7 {
  left: -1.75rem;
}

.-l-8 {
  left: -2rem;
}

.-l-10 {
  left: -2.5rem;
}

.-l-12 {
  left: -3rem;
}

.-l-14 {
  left: -3.5rem;
}

.-l-16 {
  left: -4rem;
}

.-l-20 {
  left: -5rem;
}

.-l-24 {
  left: -6rem;
}

.-l-32 {
  left: -8rem;
}

.-l-48 {
  left: -12rem;
}

.-l-64 {
  left: -16rem;
}

.-l-1\/1 {
  left: -100%;
}

.-l-1\/2 {
  left: -50%;
}

.-l-1\/3 {
  left: -33.33%;
}

.-l-1\/4 {
  left: -25%;
}

.-l-2\/3 {
  left: -66.67%;
}

.-l-3\/4 {
  left: -75%;
}

@media (min-width: 768px) {
  .sm\:l-1px {
    left: 1px;
  }

  .sm\:l-2px {
    left: 2px;
  }

  .sm\:l-3px {
    left: 3px;
  }

  .sm\:l-0 {
    left: 0;
  }

  .sm\:l-1 {
    left: 0.25rem;
  }

  .sm\:l-2 {
    left: 0.5rem;
  }

  .sm\:l-3 {
    left: 0.75rem;
  }

  .sm\:l-4 {
    left: 1rem;
  }

  .sm\:l-5 {
    left: 1.25rem;
  }

  .sm\:l-6 {
    left: 1.5rem;
  }

  .sm\:l-7 {
    left: 1.75rem;
  }

  .sm\:l-8 {
    left: 2rem;
  }

  .sm\:l-10 {
    left: 2.5rem;
  }

  .sm\:l-12 {
    left: 3rem;
  }

  .sm\:l-14 {
    left: 3.5rem;
  }

  .sm\:l-16 {
    left: 4rem;
  }

  .sm\:l-20 {
    left: 5rem;
  }

  .sm\:l-24 {
    left: 6rem;
  }

  .sm\:l-32 {
    left: 8rem;
  }

  .sm\:l-48 {
    left: 12rem;
  }

  .sm\:l-64 {
    left: 16rem;
  }

  .sm\:l-1\/1 {
    left: 100%;
  }

  .sm\:l-1\/2 {
    left: 50%;
  }

  .sm\:l-1\/3 {
    left: 33.33%;
  }

  .sm\:l-1\/4 {
    left: 25%;
  }

  .sm\:l-2\/3 {
    left: 66.67%;
  }

  .sm\:l-3\/4 {
    left: 75%;
  }

  .sm\:l-auto {
    left: auto;
  }

  .sm\:-l-1px {
    left: -1px;
  }

  .sm\:-l-2px {
    left: -2px;
  }

  .sm\:-l-3px {
    left: -3px;
  }

  .sm\:-l-1 {
    left: -0.25rem;
  }

  .sm\:-l-2 {
    left: -0.5rem;
  }

  .sm\:-l-3 {
    left: -0.75rem;
  }

  .sm\:-l-4 {
    left: -1rem;
  }

  .sm\:-l-5 {
    left: -1.25rem;
  }

  .sm\:-l-6 {
    left: -1.5rem;
  }

  .sm\:-l-7 {
    left: -1.75rem;
  }

  .sm\:-l-8 {
    left: -2rem;
  }

  .sm\:-l-10 {
    left: -2.5rem;
  }

  .sm\:-l-12 {
    left: -3rem;
  }

  .sm\:-l-14 {
    left: -3.5rem;
  }

  .sm\:-l-16 {
    left: -4rem;
  }

  .sm\:-l-20 {
    left: -5rem;
  }

  .sm\:-l-24 {
    left: -6rem;
  }

  .sm\:-l-32 {
    left: -8rem;
  }

  .sm\:-l-48 {
    left: -12rem;
  }

  .sm\:-l-64 {
    left: -16rem;
  }

  .sm\:-l-1\/1 {
    left: -100%;
  }

  .sm\:-l-1\/2 {
    left: -50%;
  }

  .sm\:-l-1\/3 {
    left: -33.33%;
  }

  .sm\:-l-1\/4 {
    left: -25%;
  }

  .sm\:-l-2\/3 {
    left: -66.67%;
  }

  .sm\:-l-3\/4 {
    left: -75%;
  }
}

@media (min-width: 1024px) {
  .md\:l-1px {
    left: 1px;
  }

  .md\:l-2px {
    left: 2px;
  }

  .md\:l-3px {
    left: 3px;
  }

  .md\:l-0 {
    left: 0;
  }

  .md\:l-1 {
    left: 0.25rem;
  }

  .md\:l-2 {
    left: 0.5rem;
  }

  .md\:l-3 {
    left: 0.75rem;
  }

  .md\:l-4 {
    left: 1rem;
  }

  .md\:l-5 {
    left: 1.25rem;
  }

  .md\:l-6 {
    left: 1.5rem;
  }

  .md\:l-7 {
    left: 1.75rem;
  }

  .md\:l-8 {
    left: 2rem;
  }

  .md\:l-10 {
    left: 2.5rem;
  }

  .md\:l-12 {
    left: 3rem;
  }

  .md\:l-14 {
    left: 3.5rem;
  }

  .md\:l-16 {
    left: 4rem;
  }

  .md\:l-20 {
    left: 5rem;
  }

  .md\:l-24 {
    left: 6rem;
  }

  .md\:l-32 {
    left: 8rem;
  }

  .md\:l-48 {
    left: 12rem;
  }

  .md\:l-64 {
    left: 16rem;
  }

  .md\:l-1\/1 {
    left: 100%;
  }

  .md\:l-1\/2 {
    left: 50%;
  }

  .md\:l-1\/3 {
    left: 33.33%;
  }

  .md\:l-1\/4 {
    left: 25%;
  }

  .md\:l-2\/3 {
    left: 66.67%;
  }

  .md\:l-3\/4 {
    left: 75%;
  }

  .md\:l-auto {
    left: auto;
  }

  .md\:-l-1px {
    left: -1px;
  }

  .md\:-l-2px {
    left: -2px;
  }

  .md\:-l-3px {
    left: -3px;
  }

  .md\:-l-1 {
    left: -0.25rem;
  }

  .md\:-l-2 {
    left: -0.5rem;
  }

  .md\:-l-3 {
    left: -0.75rem;
  }

  .md\:-l-4 {
    left: -1rem;
  }

  .md\:-l-5 {
    left: -1.25rem;
  }

  .md\:-l-6 {
    left: -1.5rem;
  }

  .md\:-l-7 {
    left: -1.75rem;
  }

  .md\:-l-8 {
    left: -2rem;
  }

  .md\:-l-10 {
    left: -2.5rem;
  }

  .md\:-l-12 {
    left: -3rem;
  }

  .md\:-l-14 {
    left: -3.5rem;
  }

  .md\:-l-16 {
    left: -4rem;
  }

  .md\:-l-20 {
    left: -5rem;
  }

  .md\:-l-24 {
    left: -6rem;
  }

  .md\:-l-32 {
    left: -8rem;
  }

  .md\:-l-48 {
    left: -12rem;
  }

  .md\:-l-64 {
    left: -16rem;
  }

  .md\:-l-1\/1 {
    left: -100%;
  }

  .md\:-l-1\/2 {
    left: -50%;
  }

  .md\:-l-1\/3 {
    left: -33.33%;
  }

  .md\:-l-1\/4 {
    left: -25%;
  }

  .md\:-l-2\/3 {
    left: -66.67%;
  }

  .md\:-l-3\/4 {
    left: -75%;
  }
}

@media (min-width: 1280px) {
  .lg\:l-1px {
    left: 1px;
  }

  .lg\:l-2px {
    left: 2px;
  }

  .lg\:l-3px {
    left: 3px;
  }

  .lg\:l-0 {
    left: 0;
  }

  .lg\:l-1 {
    left: 0.25rem;
  }

  .lg\:l-2 {
    left: 0.5rem;
  }

  .lg\:l-3 {
    left: 0.75rem;
  }

  .lg\:l-4 {
    left: 1rem;
  }

  .lg\:l-5 {
    left: 1.25rem;
  }

  .lg\:l-6 {
    left: 1.5rem;
  }

  .lg\:l-7 {
    left: 1.75rem;
  }

  .lg\:l-8 {
    left: 2rem;
  }

  .lg\:l-10 {
    left: 2.5rem;
  }

  .lg\:l-12 {
    left: 3rem;
  }

  .lg\:l-14 {
    left: 3.5rem;
  }

  .lg\:l-16 {
    left: 4rem;
  }

  .lg\:l-20 {
    left: 5rem;
  }

  .lg\:l-24 {
    left: 6rem;
  }

  .lg\:l-32 {
    left: 8rem;
  }

  .lg\:l-48 {
    left: 12rem;
  }

  .lg\:l-64 {
    left: 16rem;
  }

  .lg\:l-1\/1 {
    left: 100%;
  }

  .lg\:l-1\/2 {
    left: 50%;
  }

  .lg\:l-1\/3 {
    left: 33.33%;
  }

  .lg\:l-1\/4 {
    left: 25%;
  }

  .lg\:l-2\/3 {
    left: 66.67%;
  }

  .lg\:l-3\/4 {
    left: 75%;
  }

  .lg\:l-auto {
    left: auto;
  }

  .lg\:-l-1px {
    left: -1px;
  }

  .lg\:-l-2px {
    left: -2px;
  }

  .lg\:-l-3px {
    left: -3px;
  }

  .lg\:-l-1 {
    left: -0.25rem;
  }

  .lg\:-l-2 {
    left: -0.5rem;
  }

  .lg\:-l-3 {
    left: -0.75rem;
  }

  .lg\:-l-4 {
    left: -1rem;
  }

  .lg\:-l-5 {
    left: -1.25rem;
  }

  .lg\:-l-6 {
    left: -1.5rem;
  }

  .lg\:-l-7 {
    left: -1.75rem;
  }

  .lg\:-l-8 {
    left: -2rem;
  }

  .lg\:-l-10 {
    left: -2.5rem;
  }

  .lg\:-l-12 {
    left: -3rem;
  }

  .lg\:-l-14 {
    left: -3.5rem;
  }

  .lg\:-l-16 {
    left: -4rem;
  }

  .lg\:-l-20 {
    left: -5rem;
  }

  .lg\:-l-24 {
    left: -6rem;
  }

  .lg\:-l-32 {
    left: -8rem;
  }

  .lg\:-l-48 {
    left: -12rem;
  }

  .lg\:-l-64 {
    left: -16rem;
  }

  .lg\:-l-1\/1 {
    left: -100%;
  }

  .lg\:-l-1\/2 {
    left: -50%;
  }

  .lg\:-l-1\/3 {
    left: -33.33%;
  }

  .lg\:-l-1\/4 {
    left: -25%;
  }

  .lg\:-l-2\/3 {
    left: -66.67%;
  }

  .lg\:-l-3\/4 {
    left: -75%;
  }
}