.t-1px {
  top: 1px;
}

.t-2px {
  top: 2px;
}

.t-3px {
  top: 3px;
}

.t-0 {
  top: 0;
}

.t-1 {
  top: 0.25rem;
}

.t-2 {
  top: 0.5rem;
}

.t-3 {
  top: 0.75rem;
}

.t-4 {
  top: 1rem;
}

.t-5 {
  top: 1.25rem;
}

.t-6 {
  top: 1.5rem;
}

.t-7 {
  top: 1.75rem;
}

.t-8 {
  top: 2rem;
}

.t-10 {
  top: 2.5rem;
}

.t-12 {
  top: 3rem;
}

.t-14 {
  top: 3.5rem;
}

.t-16 {
  top: 4rem;
}

.t-20 {
  top: 5rem;
}

.t-24 {
  top: 6rem;
}

.t-32 {
  top: 8rem;
}

.t-48 {
  top: 12rem;
}

.t-64 {
  top: 16rem;
}

.t-1\/1 {
  top: 100%;
}

.t-1\/2 {
  top: 50%;
}

.t-1\/3 {
  top: 33.33%;
}

.t-1\/4 {
  top: 25%;
}

.t-2\/3 {
  top: 66.67%;
}

.t-3\/4 {
  top: 75%;
}

.t-auto {
  top: auto;
}

.-t-1px {
  top: -1px;
}

.-t-2px {
  top: -2px;
}

.-t-3px {
  top: -3px;
}

.-t-1 {
  top: -0.25rem;
}

.-t-2 {
  top: -0.5rem;
}

.-t-3 {
  top: -0.75rem;
}

.-t-4 {
  top: -1rem;
}

.-t-5 {
  top: -1.25rem;
}

.-t-6 {
  top: -1.5rem;
}

.-t-7 {
  top: -1.75rem;
}

.-t-8 {
  top: -2rem;
}

.-t-10 {
  top: -2.5rem;
}

.-t-12 {
  top: -3rem;
}

.-t-14 {
  top: -3.5rem;
}

.-t-16 {
  top: -4rem;
}

.-t-20 {
  top: -5rem;
}

.-t-24 {
  top: -6rem;
}

.-t-32 {
  top: -8rem;
}

.-t-48 {
  top: -12rem;
}

.-t-64 {
  top: -16rem;
}

.-t-1\/1 {
  top: -100%;
}

.-t-1\/2 {
  top: -50%;
}

.-t-1\/3 {
  top: -33.33%;
}

.-t-1\/4 {
  top: -25%;
}

.-t-2\/3 {
  top: -66.67%;
}

.-t-3\/4 {
  top: -75%;
}

@media (min-width: 768px) {
  .sm\:t-1px {
    top: 1px;
  }

  .sm\:t-2px {
    top: 2px;
  }

  .sm\:t-3px {
    top: 3px;
  }

  .sm\:t-0 {
    top: 0;
  }

  .sm\:t-1 {
    top: 0.25rem;
  }

  .sm\:t-2 {
    top: 0.5rem;
  }

  .sm\:t-3 {
    top: 0.75rem;
  }

  .sm\:t-4 {
    top: 1rem;
  }

  .sm\:t-5 {
    top: 1.25rem;
  }

  .sm\:t-6 {
    top: 1.5rem;
  }

  .sm\:t-7 {
    top: 1.75rem;
  }

  .sm\:t-8 {
    top: 2rem;
  }

  .sm\:t-10 {
    top: 2.5rem;
  }

  .sm\:t-12 {
    top: 3rem;
  }

  .sm\:t-14 {
    top: 3.5rem;
  }

  .sm\:t-16 {
    top: 4rem;
  }

  .sm\:t-20 {
    top: 5rem;
  }

  .sm\:t-24 {
    top: 6rem;
  }

  .sm\:t-32 {
    top: 8rem;
  }

  .sm\:t-48 {
    top: 12rem;
  }

  .sm\:t-64 {
    top: 16rem;
  }

  .sm\:t-1\/1 {
    top: 100%;
  }

  .sm\:t-1\/2 {
    top: 50%;
  }

  .sm\:t-1\/3 {
    top: 33.33%;
  }

  .sm\:t-1\/4 {
    top: 25%;
  }

  .sm\:t-2\/3 {
    top: 66.67%;
  }

  .sm\:t-3\/4 {
    top: 75%;
  }

  .sm\:t-auto {
    top: auto;
  }

  .sm\:-t-1px {
    top: -1px;
  }

  .sm\:-t-2px {
    top: -2px;
  }

  .sm\:-t-3px {
    top: -3px;
  }

  .sm\:-t-1 {
    top: -0.25rem;
  }

  .sm\:-t-2 {
    top: -0.5rem;
  }

  .sm\:-t-3 {
    top: -0.75rem;
  }

  .sm\:-t-4 {
    top: -1rem;
  }

  .sm\:-t-5 {
    top: -1.25rem;
  }

  .sm\:-t-6 {
    top: -1.5rem;
  }

  .sm\:-t-7 {
    top: -1.75rem;
  }

  .sm\:-t-8 {
    top: -2rem;
  }

  .sm\:-t-10 {
    top: -2.5rem;
  }

  .sm\:-t-12 {
    top: -3rem;
  }

  .sm\:-t-14 {
    top: -3.5rem;
  }

  .sm\:-t-16 {
    top: -4rem;
  }

  .sm\:-t-20 {
    top: -5rem;
  }

  .sm\:-t-24 {
    top: -6rem;
  }

  .sm\:-t-32 {
    top: -8rem;
  }

  .sm\:-t-48 {
    top: -12rem;
  }

  .sm\:-t-64 {
    top: -16rem;
  }

  .sm\:-t-1\/1 {
    top: -100%;
  }

  .sm\:-t-1\/2 {
    top: -50%;
  }

  .sm\:-t-1\/3 {
    top: -33.33%;
  }

  .sm\:-t-1\/4 {
    top: -25%;
  }

  .sm\:-t-2\/3 {
    top: -66.67%;
  }

  .sm\:-t-3\/4 {
    top: -75%;
  }
}

@media (min-width: 1024px) {
  .md\:t-1px {
    top: 1px;
  }

  .md\:t-2px {
    top: 2px;
  }

  .md\:t-3px {
    top: 3px;
  }

  .md\:t-0 {
    top: 0;
  }

  .md\:t-1 {
    top: 0.25rem;
  }

  .md\:t-2 {
    top: 0.5rem;
  }

  .md\:t-3 {
    top: 0.75rem;
  }

  .md\:t-4 {
    top: 1rem;
  }

  .md\:t-5 {
    top: 1.25rem;
  }

  .md\:t-6 {
    top: 1.5rem;
  }

  .md\:t-7 {
    top: 1.75rem;
  }

  .md\:t-8 {
    top: 2rem;
  }

  .md\:t-10 {
    top: 2.5rem;
  }

  .md\:t-12 {
    top: 3rem;
  }

  .md\:t-14 {
    top: 3.5rem;
  }

  .md\:t-16 {
    top: 4rem;
  }

  .md\:t-20 {
    top: 5rem;
  }

  .md\:t-24 {
    top: 6rem;
  }

  .md\:t-32 {
    top: 8rem;
  }

  .md\:t-48 {
    top: 12rem;
  }

  .md\:t-64 {
    top: 16rem;
  }

  .md\:t-1\/1 {
    top: 100%;
  }

  .md\:t-1\/2 {
    top: 50%;
  }

  .md\:t-1\/3 {
    top: 33.33%;
  }

  .md\:t-1\/4 {
    top: 25%;
  }

  .md\:t-2\/3 {
    top: 66.67%;
  }

  .md\:t-3\/4 {
    top: 75%;
  }

  .md\:t-auto {
    top: auto;
  }

  .md\:-t-1px {
    top: -1px;
  }

  .md\:-t-2px {
    top: -2px;
  }

  .md\:-t-3px {
    top: -3px;
  }

  .md\:-t-1 {
    top: -0.25rem;
  }

  .md\:-t-2 {
    top: -0.5rem;
  }

  .md\:-t-3 {
    top: -0.75rem;
  }

  .md\:-t-4 {
    top: -1rem;
  }

  .md\:-t-5 {
    top: -1.25rem;
  }

  .md\:-t-6 {
    top: -1.5rem;
  }

  .md\:-t-7 {
    top: -1.75rem;
  }

  .md\:-t-8 {
    top: -2rem;
  }

  .md\:-t-10 {
    top: -2.5rem;
  }

  .md\:-t-12 {
    top: -3rem;
  }

  .md\:-t-14 {
    top: -3.5rem;
  }

  .md\:-t-16 {
    top: -4rem;
  }

  .md\:-t-20 {
    top: -5rem;
  }

  .md\:-t-24 {
    top: -6rem;
  }

  .md\:-t-32 {
    top: -8rem;
  }

  .md\:-t-48 {
    top: -12rem;
  }

  .md\:-t-64 {
    top: -16rem;
  }

  .md\:-t-1\/1 {
    top: -100%;
  }

  .md\:-t-1\/2 {
    top: -50%;
  }

  .md\:-t-1\/3 {
    top: -33.33%;
  }

  .md\:-t-1\/4 {
    top: -25%;
  }

  .md\:-t-2\/3 {
    top: -66.67%;
  }

  .md\:-t-3\/4 {
    top: -75%;
  }
}

@media (min-width: 1280px) {
  .lg\:t-1px {
    top: 1px;
  }

  .lg\:t-2px {
    top: 2px;
  }

  .lg\:t-3px {
    top: 3px;
  }

  .lg\:t-0 {
    top: 0;
  }

  .lg\:t-1 {
    top: 0.25rem;
  }

  .lg\:t-2 {
    top: 0.5rem;
  }

  .lg\:t-3 {
    top: 0.75rem;
  }

  .lg\:t-4 {
    top: 1rem;
  }

  .lg\:t-5 {
    top: 1.25rem;
  }

  .lg\:t-6 {
    top: 1.5rem;
  }

  .lg\:t-7 {
    top: 1.75rem;
  }

  .lg\:t-8 {
    top: 2rem;
  }

  .lg\:t-10 {
    top: 2.5rem;
  }

  .lg\:t-12 {
    top: 3rem;
  }

  .lg\:t-14 {
    top: 3.5rem;
  }

  .lg\:t-16 {
    top: 4rem;
  }

  .lg\:t-20 {
    top: 5rem;
  }

  .lg\:t-24 {
    top: 6rem;
  }

  .lg\:t-32 {
    top: 8rem;
  }

  .lg\:t-48 {
    top: 12rem;
  }

  .lg\:t-64 {
    top: 16rem;
  }

  .lg\:t-1\/1 {
    top: 100%;
  }

  .lg\:t-1\/2 {
    top: 50%;
  }

  .lg\:t-1\/3 {
    top: 33.33%;
  }

  .lg\:t-1\/4 {
    top: 25%;
  }

  .lg\:t-2\/3 {
    top: 66.67%;
  }

  .lg\:t-3\/4 {
    top: 75%;
  }

  .lg\:t-auto {
    top: auto;
  }

  .lg\:-t-1px {
    top: -1px;
  }

  .lg\:-t-2px {
    top: -2px;
  }

  .lg\:-t-3px {
    top: -3px;
  }

  .lg\:-t-1 {
    top: -0.25rem;
  }

  .lg\:-t-2 {
    top: -0.5rem;
  }

  .lg\:-t-3 {
    top: -0.75rem;
  }

  .lg\:-t-4 {
    top: -1rem;
  }

  .lg\:-t-5 {
    top: -1.25rem;
  }

  .lg\:-t-6 {
    top: -1.5rem;
  }

  .lg\:-t-7 {
    top: -1.75rem;
  }

  .lg\:-t-8 {
    top: -2rem;
  }

  .lg\:-t-10 {
    top: -2.5rem;
  }

  .lg\:-t-12 {
    top: -3rem;
  }

  .lg\:-t-14 {
    top: -3.5rem;
  }

  .lg\:-t-16 {
    top: -4rem;
  }

  .lg\:-t-20 {
    top: -5rem;
  }

  .lg\:-t-24 {
    top: -6rem;
  }

  .lg\:-t-32 {
    top: -8rem;
  }

  .lg\:-t-48 {
    top: -12rem;
  }

  .lg\:-t-64 {
    top: -16rem;
  }

  .lg\:-t-1\/1 {
    top: -100%;
  }

  .lg\:-t-1\/2 {
    top: -50%;
  }

  .lg\:-t-1\/3 {
    top: -33.33%;
  }

  .lg\:-t-1\/4 {
    top: -25%;
  }

  .lg\:-t-2\/3 {
    top: -66.67%;
  }

  .lg\:-t-3\/4 {
    top: -75%;
  }
}