/**
 *  civics.css
 *
 *  civics theme for ancient
 *
 *  1   allows the dark theme variant to extend the light theme variant
 */

/**
 *  .theme--civics
 *
 *  light theme
 */
.theme--civics, /* [1] */
.theme--civics.theme--light {
  /**
   *  banner
   */
   --banner-background-color: hsl(224, 24%, 98%);
   --banner-text-color: hsl(224, 24%, 32%);
   --banner-primary-background-color: hsl(224, 64%, 56%);
   --banner-primary-background-gradient: linear-gradient(170deg, hsl(192, 80%, 56%), hsl(224, 80%, 56%));
   --banner-primary-text-color: white;
   --banner-secondary-background-color: hsl(0, 64%, 56%);
   --banner-secondary-background-gradient: linear-gradient(170deg, hsl(344, 64%, 56%), hsl(0, 64%, 56%));
   --banner-secondary-text-color: white;

  /**
   *  button defaults
   */
  --button-background-color-default: hsl(224, 24%, 96%);
  --button-background-color-hover: hsl(224, 24%, 92%);
  --button-background-color-focus: hsl(224, 24%, 32%);
  --button-background-color-active: hsl(224, 24%, 88%);
  --button-focus-outline: 0 0 0 0.25rem hsla(224, 24%, 32%, 0.25);
  --button-text-color-default: hsl(224, 24%, 48%);
  --button-text-color-hover: hsl(224, 24%, 48%);
  --button-text-color-focus: hsl(224, 24%, 96%);
  --button-text-color-active: hsl(224, 24%, 48%);

  /**
   *  button primary
   */
  --button-primary-background-color-default: hsl(224, 80%, 56%);
  --button-primary-background-color-hover: hsl(224, 80%, 64%);
  --button-primary-background-color-focus: hsl(224, 80%, 56%);
  --button-primary-background-color-active: hsl(224, 80%, 48%);
  --button-primary-focus-outline: 0 0 0 0.25rem hsla(224, 80%, 56%, 0.25);
  --button-primary-text-color-default: white;
  --button-primary-text-color-hover: white;
  --button-primary-text-color-focus: white;
  --button-primary-text-color-active: white;

  /**
   *  button secondary
   */
  --button-secondary-background-color-default: hsl(0, 48%, 56%);
  --button-secondary-background-color-hover: hsl(0, 48%, 64%);
  --button-secondary-background-color-focus: hsl(0, 48%, 56%);
  --button-secondary-background-color-active: hsl(0, 48%, 48%);
  --button-secondary-focus-outline: 0 0 0 0.25rem hsla(0, 48%, 56%, 0.25);
  --button-secondary-text-color-default: white;
  --button-secondary-text-color-hover: white;
  --button-secondary-text-color-focus: white;
  --button-secondary-text-color-active: white;

  /**
   *  button subtle error
   */
  --button-error-background-color-default: hsl(0, 64%, 92%);
  --button-error-background-color-hover: hsl(0, 64%, 96%);
  --button-error-background-color-focus: hsl(0, 64%, 56%);
  --button-error-background-color-active: hsl(0, 64%, 88%);
  --button-error-focus-outline: 0 0 0 0.25rem hsla(0, 64%, 56%, 0.25);
  --button-error-text-color-default: hsl(0, 64%, 40%);
  --button-error-text-color-hover: hsl(0, 64%, 40%);
  --button-error-text-color-focus: white;
  --button-error-text-color-active: hsl(0, 64%, 40%);

  /**
   *  button success
   */
  --button-success-background-color-default: hsl(144, 48%, 96%);
  --button-success-background-color-hover: hsl(144, 48%, 92%);
  --button-success-background-color-focus: hsl(144, 48%, 64%);
  --button-success-background-color-active: hsl(144, 48%, 88%);
  --button-success-focus-outline: 0 0 0 0.25rem hsla(144, 48%, 64%, 0.25);
  --button-success-text-color-default: hsl(144, 48%, 32%);
  --button-success-text-color-hover: hsl(144, 48%, 32%);
  --button-success-text-color-focus: white;
  --button-success-text-color-active: hsl(144, 48%, 32%);

  /**
   *  button warning
   */
  --button-warning-background-color-default: hsl(16, 72%, 96%);
  --button-warning-background-color-hover: hsl(16, 72%, 92%);
  --button-warning-background-color-focus: hsl(16, 72%, 72%);
  --button-warning-background-color-active: hsl(16, 72%, 88%);
  --button-warning-focus-outline: 0 0 0 0.25rem hsla(16, 72%, 72%, 0.25);
  --button-warning-text-color-default: hsl(16, 72%, 40%);
  --button-warning-text-color-hover: hsl(16, 72%, 40%);
  --button-warning-text-color-focus: white;
  --button-warning-text-color-active: hsl(16, 72%, 40%);

  /**
   *  Card
   */
  --card-background-color: white;
  --card-border-color: hsl(224, 16%, 96%);
  --card-color: hsl(224, 16%, 32%);
  --card-divider-color: hsl(224, 16%, 96%);

  /**
   *  divider
   */
  --divider-border-color: hsl(224, 24%, 96%);

  /**
   *  HTML
   */
  --html-background-color: white;
  --html-color: hsl(224, 24%, 32%);

  /**
   *  Input
   */
  --input-base-border-color-default: hsl(224, 24%, 88%);
  --input-base-border-color-hover: hsl(224, 24%, 72%);
  --input-base-border-color-focus: hsl(224, 64%, 64%);
  --input-base-border-color-active: hsl(224, 64%, 64%);
  --input-base-box-shadow-default: none;
  --input-base-box-shadow-hover: none;
  --input-base-box-shadow-focus: 0 0 0 0.25rem hsla(224, 64%, 64%, 0.25);
  --input-base-box-shadow-active: 0 0 0 0.25rem hsla(224, 64%, 64%, 0.25);
  --input-base-text-color-default: inherit;
  --input-base-text-color-hover: inherit;
  --input-base-text-color-focus: inherit;
  --input-base-text-color-active: inherit;
  --input-error-border-color-default: hsl(0, 64%, 72%);
  --input-error-border-color-hover: hsl(0, 64%, 64%);
  --input-error-border-color-focus: hsl(0, 64%, 56%);
  --input-error-border-color-active: hsl(0, 64%, 56%);
  --input-error-box-shadow-default: none;
  --input-error-box-shadow-hover: none;
  --input-error-box-shadow-focus: 0 0 0 0.25rem hsla(0, 64%, 56%, 0.25);
  --input-error-box-shadow-active: 0 0 0 0.25rem hsla(0, 64%, 56%, 0.25);
  --input-error-text-color-default: inherit;
  --input-error-text-color-hover: inherit;
  --input-error-text-color-focus: inherit;
  --input-error-text-color-active: inherit;
  --input-success-border-color-default: hsl(144, 64%, 64%);
  --input-success-border-color-hover: hsl(144, 64%, 56%);
  --input-success-border-color-focus: hsl(144, 64%, 48%);
  --input-success-border-color-active: hsl(144, 64%, 48%);
  --input-success-box-shadow-default: none;
  --input-success-box-shadow-hover: none;
  --input-success-box-shadow-focus: 0 0 0 0.25rem hsla(144, 64%, 48%, 0.25);
  --input-success-box-shadow-active: 0 0 0 0.25rem hsla(144, 64%, 48%, 0.25);
  --input-success-text-color-default: inherit;
  --input-success-text-color-hover: inherit;
  --input-success-text-color-focus: inherit;
  --input-success-text-color-active: inherit;
  --input-warning-border-color-default: hsl(16, 72%, 72%);
  --input-warning-border-color-hover: hsl(16, 72%, 64%);
  --input-warning-border-color-focus: hsl(16, 72%, 56%);
  --input-warning-border-color-active: hsl(16, 72%, 56%);
  --input-warning-box-shadow-default: none;
  --input-warning-box-shadow-hover: none;
  --input-warning-box-shadow-focus: 0 0 0 0.25rem hsla(16, 72%, 56%, 0.25);
  --input-warning-box-shadow-active: 0 0 0 0.25rem hsla(16, 72%, 56%, 0.25);
  --input-warning-text-color-default: inherit;
  --input-warning-text-color-hover: inherit;
  --input-warning-text-color-focus: inherit;
  --input-warning-text-color-active: inherit;

  /**
   *  link
   */
  --link-text-color: hsl(224, 64%, 56%);
  --link-text-decoration-color: hsl(224, 64%, 88%);
  --link-text-color-hover: hsl(224, 64%, 56%);
  --link-text-decoration-color-hover: hsl(224, 64%, 56%);

  /**
   *  menu
   */
  --menu-item-background-color-hover: hsl(224, 24%, 96%);
  --menu-item-background-color-focus: hsl(224, 24%, 96%);
  --menu-item-background-color-active: hsl(224, 24%, 88%);

  /**
   *  Modal
   */
  --modal-background-color: hsla(224, 16%, 16%, 0.5);
  --modal-color: hsl(224, 16%, 96%);

  /**
   *  Nav
   */
  --nav-bar-primary-background-color: hsl(224, 64%, 56%);
  --nav-bar-primary-text-color: white;

  /**
   *  Notification
   */
  --notification-error-background-color: hsl(0, 64%, 96%);
  --notification-error-text-color: hsl(0, 64%, 40%);
  --notification-success-background-color: hsl(144, 48%, 96%);
  --notification-success-text-color: hsl(144, 48%, 32%);
  --notification-warning-background-color: hsl(16, 72%, 96%);
  --notification-warning-text-color: hsl(16, 72%, 40%);

  /**
   *  tag
   */
  --tag-background-color: hsl(224, 16%, 96%);
  --tag-border-color: hsl(224, 16%, 88%);
  --tag-color: hsl(224, 16%, 32%);
  --tag-background-color-error: hsl(0, 72%, 64%);
  --tag-primary-background-color: hsl(224, 64%, 56%);
  --tag-primary-text-color: white;
  --tag-color-error: hsl(0, 72%, 100%);

  --text-selection-background-color: hsl(224, 64%, 96%);
  --text-selection-color: hsl(224, 64%, 56%);
  
  --toggle-background-color-default: hsl(224, 24%, 92%);
  --toggle-background-color-hover: hsl(224, 24%, 96%);
  --toggle-checked-background-color: hsl(224, 64%, 56%);
  --toggle-slider-color: white;
}

/**
 *  Dark Theme
 */
.theme--civics.theme--dark {
  --banner-background-color: hsl(224, 24%, 12%);
  --banner-text-color: hsl(224, 24%, 96%);
  --banner-primary-background-color: hsl(224, 64%, 64%);
  --banner-primary-background-gradient: linear-gradient(165deg, hsl(200, 64%, 64%), hsl(224, 64%, 64%));
  --banner-primary-text-color: white;
  --banner-secondary-background-color: hsl(0, 64%, 64%);
  --banner-secondary-background-gradient: linear-gradient(165deg, hsl(16, 64%, 64%), hsl(0, 64%, 64%));
  --banner-secondary-text-color: white;

  /**
   *  Box
   */
  --box-base-background-color: hsl(224, 24%, 20%);
  --box-subtle-base-background-color: hsl(224, 24%, 20%);
  --box-subtle-base-text-color: hsl(224, 24%, 96%);
  --box-subtle-primary-background-color: hsl(224, 24%, 20%);
  --box-subtle-primary-text-color: hsl(224, 64%, 80%);
  --box-subtle-error-background-color: hsl(224, 24%, 20%);
  --box-subtle-error-text-color: hsl(0, 64%, 80%);
  --box-subtle-success-background-color: hsl(224, 24%, 20%);
  --box-subtle-success-text-color: hsl(144, 48%, 80%);
  --box-subtle-warning-background-color: hsl(224, 24%, 20%);
  --box-subtle-warning-text-color: hsl(16, 72%, 80%);
  
  --button-background-color-default: hsl(224, 24%, 24%);
  --button-background-color-hover: hsl(224, 24%, 28%);
  --button-background-color-focus: hsl(224, 24%, 88%);
  --button-background-color-active: hsl(224, 24%, 24%);
  --button-focus-outline: 0 0 0 0.25rem hsla(224, 24%, 96%, 0.25);
  --button-text-color-default: hsl(224, 24%, 96%);
  --button-text-color-hover: hsl(224, 24%, 96%);
  --button-text-color-focus: hsl(224, 24%, 32%);
  --button-text-color-active: hsl(224, 24%, 96%);
  --button-primary-background-color-default: hsl(224, 64%, 64%);
  --button-primary-background-color-hover: hsl(224, 64%, 68%);
  --button-primary-background-color-focus: hsl(224, 64%, 64%);
  --button-primary-background-color-active: hsl(224, 64%, 60%);
  --button-primary-focus-outline: 0 0 0 0.25rem hsla(224, 64%, 64%, 0.25);
  --button-primary-text-color-default: hsl(224, 64%, 100%);
  --button-primary-text-color-hover: hsl(224, 64%, 100%);
  --button-primary-text-color-focus: hsl(224, 64%, 100%);
  --button-primary-text-color-active: hsl(224, 64%, 100%);
  --button-secondary-background-color-default: hsl(0, 64%, 64%);
  --button-secondary-background-color-hover: hsl(0, 64%, 72%);
  --button-secondary-background-color-focus: hsl(0, 64%, 64%);
  --button-secondary-background-color-active: hsl(0, 64%, 56%);
  --button-secondary-focus-outline: 0 0 0 0.25rem hsla(0, 64%, 64%, 0.25);
  --button-secondary-text-color-default: hsl(0, 64%, 24%);
  --button-secondary-text-color-hover: hsl(0, 64%, 24%);
  --button-secondary-text-color-focus: hsl(0, 64%, 24%);
  --button-secondary-text-color-active: hsl(0, 64%, 24%);
  --button-error-background-color-default: hsl(0, 64%, 80%);
  --button-error-background-color-hover: hsl(0, 64%, 84%);
  --button-error-background-color-focus: hsl(0, 64%, 64%);
  --button-error-background-color-active: hsl(0, 64%, 76%);
  --button-error-focus-outline: 0 0 0 0.25rem hsla(0, 64%, 64%, 0.25);
  --button-error-text-color-default: hsl(0, 64%, 24%);
  --button-error-text-color-hover: hsl(0, 64%, 24%);
  --button-error-text-color-focus: hsl(0, 64%, 16%);
  --button-error-text-color-active: hsl(0, 64%, 24%);
  --button-success-background-color-default: hsl(144, 48%, 80%);
  --button-success-background-color-hover: hsl(144, 48%, 84%);
  --button-success-background-color-focus: hsl(144, 48%, 56%);
  --button-success-background-color-active: hsl(144, 48%, 76%);
  --button-success-focus-outline: 0 0 0 0.25rem hsla(144, 48%, 64%, 0.25);
  --button-success-text-color-default: hsl(144, 48%, 24%);
  --button-success-text-color-hover: hsl(144, 48%, 24%);
  --button-success-text-color-focus: hsl(144, 48%, 16%);
  --button-success-text-color-active: hsl(144, 48%, 24%);
  --button-warning-background-color-default: hsl(16, 72%, 80%);
  --button-warning-background-color-hover: hsl(16, 72%, 84%);
  --button-warning-background-color-focus: hsl(16, 72%, 64%);
  --button-warning-background-color-active: hsl(16, 72%, 76%);
  --button-warning-focus-outline: 0 0 0 0.25rem hsla(16, 72%, 64%, 0.25);
  --button-warning-text-color-default: hsl(16, 72%, 24%);
  --button-warning-text-color-hover: hsl(16, 72%, 24%);
  --button-warning-text-color-focus: hsl(16, 72%, 16%);
  --button-warning-text-color-active: hsl(16, 72%, 24%);

  /**
   *  card
   */
  --card-background-color: hsl(224, 24%, 20%);
  --card-border-color: hsl(224, 24%, 24%);
  --card-border-width: 0;
  --card-color: hsl(224, 24%, 96%);
  --card-divider-color: hsl(224, 24%, 24%);
  --card-section-padding: 1.5rem;

  --divider-border-color: hsl(224, 24%, 20%);

  /**
   *  input
   */
  --input-base-border-color-default: hsl(224, 24%, 32%);
  --input-base-border-color-hover: hsl(224, 24%, 40%);
  --input-base-border-color-focus: hsl(224, 64%, 64%);
  --input-base-border-color-active: hsl(224, 64%, 64%);

  /**
   *  menu
   */
  --menu-item-background-color-hover: hsl(224, 24%, 20%);

  --notification-error-background-color: hsl(0, 64%, 80%);
  --notification-error-text-color: hsl(0, 64%, 24%);
  --notification-success-background-color: hsl(144, 48%, 80%);
  --notification-success-text-color: hsl(144, 48%, 24%);
  --notification-warning-background-color: hsl(16, 72%, 80%);
  --notification-warning-text-color: hsl(16, 72%, 24%);

  /**
   *  HTML
   */
  --html-background-color: hsl(224, 24%, 16%);
  --html-color: hsl(224, 24%, 96%);
  
  --toggle-background-color-default: hsl(224, 24%, 20%);
  --toggle-background-color-hover: hsl(224, 24%, 24%);
  --toggle-checked-background-color: hsl(224, 64%, 64%);
  --toggle-slider-color: hsl(224, 24%, 32%);
}
