/* =============================================================================
   Aurora
   ========================================================================== */

/**
 *  A theme for Ruckus inspired by Skyrim's music.
 */

.theme--aurora {

  --aurora-primary-hue: 232;
  --aurora-secondary-hue: 160;

  /* Button
     ======================================================================== */

  /* Default */
  --ruckus-button-background-color: hsl( var( --aurora-primary-hue ), 24%, 24% );
  --ruckus-button-border-color: hsl( var( --aurora-primary-hue ), 24%, 32% );
  --ruckus-button-box-shadow: 0 1px 0 hsla( var( --aurora-primary-hue ), 24%, 24%, 0.5 );
  --ruckus-button-color: hsl( var( --aurora-primary-hue ), 24%, 80% );
  --ruckus-button-hover-background-color: hsl( var( --aurora-primary-hue ), 24%, 36% );
  --ruckus-button-hover-border-color: hsl( var( --aurora-primary-hue ), 24%, 16% );
  --ruckus-button-hover-box-shadow: 0 1px 0 hsla( var( --aurora-primary-hue ), 24%, 16%, 0.5 );
  --ruckus-button-hover-color: hsl( var( --aurora-primary-hue ), 24%, 80% );
  --ruckus-button-focus-background-color: var( --ruckus-button-background-color );
  --ruckus-button-focus-border-color: hsl( var( --aurora-primary-hue ), 64%, 56% );
  --ruckus-button-focus-box-shadow:  0 0 0 2px hsla( var( --aurora-primary-hue ), 64%, 56%, 0.5 );
  --ruckus-button-focus-color: hsl( 96, 48%, 16% );
  --ruckus-button-active-background-color: hsl( var( --aurora-primary-hue ), 24%, 96% );
  --ruckus-button-active-border-color: hsl( var( --aurora-primary-hue ), 24%, 80% );
  --ruckus-button-active-box-shadow: inset 0 1px 0 hsl( var( --aurora-primary-hue ), 24%, 88% );
  --ruckus-button-active-color: hsl( var( --aurora-primary-hue ), 24%, 48% );

  /* Subtle */
  --ruckus-button-primary-background-color: hsl( var( --aurora-primary-hue ), 56%, 64% );
  --ruckus-button-primary-border-color: hsl( var( --aurora-primary-hue ), 56%, 72% );
  --ruckus-button-primary-box-shadow: 0 1px 0 hsla( var( --aurora-primary-hue ), 64%, 56%, 0.5 );
  --ruckus-button-primary-color:  hsl( var( --aurora-primary-hue ), 64%, 100% );
  --ruckus-button-primary-hover-background-color: hsl( var( --aurora-primary-hue ), 64%, 68% );
  --ruckus-button-primary-hover-border-color: hsl( var( --aurora-primary-hue ), 64%, 48% );
  --ruckus-button-primary-hover-box-shadow: 0 1px 0 hsla( var( --aurora-primary-hue ), 64%, 48%, 0.5 );
  --ruckus-button-primary-hover-color: hsl( var( --aurora-primary-hue ), 64%, 100% );
  --ruckus-button-primary-focus-background-color: hsl( var( --aurora-primary-hue ), 64%, 64% );
  --ruckus-button-primary-focus-border-color: hsl( var( --aurora-primary-hue ), 64%, 56% );
  --ruckus-button-primary-focus-box-shadow: 0 0 0 2px hsla( var( --aurora-primary-hue ), 64%, 56%, 0.5 );
  --ruckus-button-primary-focus-color: hsl( var( --aurora-primary-hue ), 64%, 100% );
  --ruckus-button-primary-active-background-color: hsl( var( --aurora-primary-hue ), 64%, 60% );
  --ruckus-button-primary-active-border-color: hsl( var( --aurora-primary-hue ), 64%, 40% );
  --ruckus-button-primary-active-box-shadow: inset 0 1px 0 hsl( var( --aurora-primary-hue ), 64%, 56% );
  --ruckus-button-primary-active-color: hsl( var( --aurora-primary-hue ), 64%, 100% );

  /* Secondary */
  --ruckus-button-secondary-background-color: hsl( var( --aurora-secondary-hue ), 56%, 56% );
  --ruckus-button-secondary-border-color: hsl( var( --aurora-secondary-hue ), 56%, 64% );
  --ruckus-button-secondary-box-shadow: 0 1px 0 hsla( var( --aurora-secondary-hue ), 64%, 56%, 0.5 );
  --ruckus-button-secondary-color:  hsl( var( --aurora-secondary-hue ), 64%, 24% );
  --ruckus-button-secondary-hover-background-color: hsl( var( --aurora-secondary-hue ), 24%, 44% );
  --ruckus-button-secondary-hover-border-color: hsl( var( --aurora-secondary-hue ), 24%, 24% );
  --ruckus-button-secondary-hover-box-shadow: 0 1px 0 hsla( var( --aurora-secondary-hue ), 24%, 24%, 0.5 );
  --ruckus-button-secondary-hover-color: hsl( var( --aurora-secondary-hue ), 24%, 100% );
  --ruckus-button-secondary-focus-background-color: hsl( var( --aurora-secondary-hue ), 24%, 40% );
  --ruckus-button-secondary-focus-border-color: hsl( var( --aurora-secondary-hue ), 24%, 32% );
  --ruckus-button-secondary-focus-box-shadow: 0 0 0 2px hsla( var( --aurora-secondary-hue ), 24%, 32%, 0.5 );
  --ruckus-button-secondary-focus-color: hsl( var( --aurora-secondary-hue ), 24%, 100% );
  --ruckus-button-secondary-active-background-color: hsl( var( --aurora-secondary-hue ), 24%, 36% );
  --ruckus-button-secondary-active-border-color: hsl( var( --aurora-secondary-hue ), 24%, 16% );
  --ruckus-button-secondary-active-box-shadow: inset 0 1px 0 hsl( var( --aurora-secondary-hue ), 24%, 12% );
  --ruckus-button-secondary-active-color: hsl( var( --aurora-secondary-hue ), 24%, 100% );

  /* Error */
  --ruckus-button-error-background-color: hsl( 344, 48%, 56% );
  --ruckus-button-error-border-color: hsl( 344, 48%, 64% );
  --ruckus-button-error-box-shadow: 0 1px 0 hsla( 344, 64%, 48%, 0.5 );
  --ruckus-button-error-color:  hsl( 344, 64%, 100% );
  --ruckus-button-error-hover-background-color: hsl( 344, 64%, 68% );
  --ruckus-button-error-hover-border-color: hsl( 344, 64%, 40% );
  --ruckus-button-error-hover-box-shadow: 0 1px 0 hsla( 344, 64%, 40%, 0.5 );
  --ruckus-button-error-hover-color: hsl( 344, 64%, 100% );
  --ruckus-button-error-focus-background-color: hsl( 344, 64%, 64% );
  --ruckus-button-error-focus-border-color: hsl( 344, 64%, 40% );
  --ruckus-button-error-focus-box-shadow: 0 0 0 2px hsla( 344, 64%, 40%, 0.5 );
  --ruckus-button-error-focus-color: hsl( 344, 64%, 100% );
  --ruckus-button-error-active-background-color: hsl( 344, 64%, 60% );
  --ruckus-button-error-active-border-color: hsl( 344, 64%, 32% );
  --ruckus-button-error-active-box-shadow: inset 0 1px 0 hsl( 344, 64%, 56% );
  --ruckus-button-error-active-color: hsl( 344, 64%, 100% );

  /* Success */
  --ruckus-button-success-background-color: hsl( 160, 48%, 56% );
  --ruckus-button-success-border-color: hsl( 160, 48%, 64% );
  --ruckus-button-success-box-shadow: 0 1px 0 hsla( 160, 48%, 48%, 0.5 );
  --ruckus-button-success-color:  hsl( 160, 48%, 24% );
  --ruckus-button-success-hover-background-color: hsl( 160, 48%, 68% );
  --ruckus-button-success-hover-border-color: hsl( 160, 48%, 40% );
  --ruckus-button-success-hover-box-shadow: 0 1px 0 hsla( 160, 48%, 40%, 0.5 );
  --ruckus-button-success-hover-color: hsl( 160, 48%, 24% );
  --ruckus-button-success-focus-background-color: hsl( 160, 48%, 64% );
  --ruckus-button-success-focus-border-color: hsl( 160, 48%, 40% );
  --ruckus-button-success-focus-box-shadow: 0 0 0 2px hsla( 160, 48%, 40%, 0.5 );
  --ruckus-button-success-focus-color: hsl( 160, 48%, 24% );
  --ruckus-button-success-active-background-color: hsl( 160, 48%, 60% );
  --ruckus-button-success-active-border-color: hsl( 160, 48%, 32% );
  --ruckus-button-success-active-box-shadow: inset 0 1px 0 hsl( 160, 48%, 56% );
  --ruckus-button-success-active-color: hsl( 160, 48%, 24% );

  /* Warning */
  --ruckus-button-warning-background-color: hsl( 16, 48%, 64% );
  --ruckus-button-warning-border-color: hsl( 16, 48%, 72% );
  --ruckus-button-warning-box-shadow: 0 1px 0 hsla( 16, 64%, 56%, 0.5 );
  --ruckus-button-warning-color:  hsl( 16, 64%, 24% );
  --ruckus-button-warning-hover-background-color: hsl( 16, 64%, 76% );
  --ruckus-button-warning-hover-border-color: hsl( 16, 64%, 48% );
  --ruckus-button-warning-hover-box-shadow: 0 1px 0 hsla( 16, 64%, 48%, 0.5 );
  --ruckus-button-warning-hover-color: hsl( 16, 64%, 24% );
  --ruckus-button-warning-focus-background-color: hsl( 16, 64%, 72% );
  --ruckus-button-warning-focus-border-color: hsl( 16, 64%, 48% );
  --ruckus-button-warning-focus-box-shadow: 0 0 0 2px hsla( 16, 64%, 48%, 0.5 );
  --ruckus-button-warning-focus-color: hsl( 16, 64%, 24% );
  --ruckus-button-warning-active-background-color: hsl( 16, 64%, 68% );
  --ruckus-button-warning-active-border-color: hsl( 16, 64%, 40% );
  --ruckus-button-warning-active-box-shadow: inset 0 1px 0 hsl( 16, 64%, 64% );
  --ruckus-button-warning-active-color: hsl( 16, 64%, 24% );

  /* Card
     ======================================================================== */

  --ruckus-card-background-color: hsl( var( --aurora-primary-hue ), 24%, 20% );
  --ruckus-card-border-color: hsl( var( --aurora-primary-hue ), 24%, 28% );
  --ruckus-card-box-shadow: 0 1px 0 hsl( var( --aurora-primary-hue ), 24%, 16% );
  --ruckus-card-color: hsl( var( --aurora-primary-hue ), 24%, 80% );
  --ruckus-card-divider-color: hsl( var( --aurora-primary-hue ), 24%, 28% );
  --ruckus-card-action-background-color: hsl( var( --aurora-primary-hue ), 24%, 22% );
  --ruckus-card-action-color: hsl( var( --aurora-primary-hue ), 24%, 80% );

  /* Divider
     ======================================================================== */

  --ruckus-divider-border-color: hsl( var( --aurora-primary-hue ), 24%, 20% );

  /* HTML
     ======================================================================== */

  --ruckus-html-background-color: hsl( var( --aurora-primary-hue ), 24%, 16% );
  --ruckus-html-color: hsl( var( --aurora-primary-hue ), 24%, 80% );

  /* Input
     ======================================================================== */

  --ruckus-input-border-color: hsl( var( --aurora-primary-hue ), 24%, 32% );
  --ruckus-input-box-shadow: inset 0 1px 0 hsla( var( --aurora-primary-hue ), 24%, 16%, 0.5 ); 

  --ruckus-input-hover-border-color: hsl( var( --aurora-primary-hue ), 24%, 40% );
  --ruckus-input-hover-box-shadow: inset 0 1px 0 hsla( var( --aurora-primary-hue ), 24%, 16%, 0.5 );

  --ruckus-input-focus-border-color: hsl( var( --aurora-primary-hue ), 64%, 64% );
  --ruckus-input-focus-box-shadow: 0 0 0 2px hsla( var( --aurora-primary-hue ), 64%, 64%, 0.5 ); 

  --ruckus-input-active-border-color: hsl( var( --aurora-primary-hue ), 64%, 64% );
  --ruckus-input-active-box-shadow: 0 0 0 2px hsla( var( --aurora-primary-hue ), 64%, 64%, 0.5 ); 

  /* Link
     ======================================================================== */

  --ruckus-link-color: hsl( 96, 48%, 72% );
  --ruckus-link-decoration-color: hsl( 240, 8%, 32% );

  /* Navbar
     ======================================================================== */

  --ruckus-navbar-background-color: hsl( var( --aurora-secondary-hue ), 64%, 64% );
  --ruckus-navbar-color: hsl( var( --aurora-secondary-hue ), 64%, 24% );

  /* Notification
     ======================================================================== */
  
  --ruckus-notification-border-color: hsl( var( --aurora-primary-hue ), 24%, 88% );
  --ruckus-notification-primary-border-color: hsl( var( --aurora-primary-hue ), 64%, 64% );
  --ruckus-notification-error-border-color: hsl( 352, 80%, 64% );

  /* Select
     ======================================================================== */

   --ruckus-select-background-color: hsl( var( --aurora-primary-hue ), 24%,  24% );
   --ruckus-select-border-color: hsl( var( --aurora-primary-hue ), 24%, 32% );
   --ruckus-select-color: hsl( var( --aurora-primary-hue ), 24%, 80% );

  /* Tag
     ======================================================================== */

  --ruckus-tag-background-color: hsl( var( --aurora-primary-hue ), 24%, 88% );
  --ruckus-tag-color: hsl( var( --aurora-primary-hue ), 24%, 44% );
  
  --ruckus-tag-error-background-color: hsl( 344, 64%, 64% );
  --ruckus-tag-error-color: hsl( 344, 64%, 100% );
  
  --ruckus-tag-success-background-color: hsl( 160, 48%, 64% );
  --ruckus-tag-success-color: hsl( 160, 48%, 24% );
}
