/* =============================================================================
   Civics Theme
   ========================================================================== */

/**
 *  Quickview: Use CTRL+F or your editor's find feature to quickly search.
 *  CLR00 Colors
 *  SIZ00 Sizes
 *  FON00 Fonts
 *  BUT00 Button
 *    BUT01 Default Button
 *    BUT02 Primary Button
 *    BUT03 Secondary Button
 *    BUT04 Error Button
 *    BUT05 Success Button
 *    BUT06 Warning Button
 *    BUT07 Small Button
 *    BUT08 Large Button
 *  CAR00 Card
 *  CHE00 Checkbox
 *  COL00 Column
 *  CON00 Container
 *  DIV00 Divider
 *  HEA00 Heading
 *  HTM00 HTML
 *  INP00 Input
 *    INP01 Default Input
 *    INP02 Error Input
 *  MEN00 Menu
 *  LIN00 Link
 *  NAV00 Navbar
 *  NOT00 Notification
 *    NOT01 Default Notification
 *    NOT02 Primary Notification
 *    NOT03 Error Notification
 *    NOT04 Small Notification
 *    NOT05 Large Notification
 *  PAT00 Path
 *  ROW00 Row
 *  SEC00 Section
 *  SEL00 Select
 *  STA00 Stack
 *  TAG00 Tag
 *    TAG01 Default Tag
 *    TAG02 Primary Tag
 *    TAG03 Secondary Tag
 *    TAG04 Error Tag
 *    TAG05 Success Tag
 *    TAG06 Warning Tag
 *    TAG07 Extra-small Tag
 *    TAG08 Small Tag
 *    TAG09 Large Tag
 *  TEX00 Text Selection
 */

.theme--civics {
  
  /* ========================================================================
     Colors                                                             CLR00
     ======================================================================== */

  --ruckus-default-hue: 224;
  --ruckus-default-sat: 24%;
  --ruckus-primary-hue: 224;
  --ruckus-primary-sat: 64%;
  --ruckus-secondary-hue: 224;
  --ruckus-secondary-sat: 24%;
  --ruckus-error-hue: 352;
  --ruckus-error-sat: 56%;
  --ruckus-success-hue: 120;
  --ruckus-success-sat: 40%;
  --ruckus-warning-hue: 24;
  --ruckus-warning-sat: 64%;

  /* ========================================================================
     Button                                                             BUT00
     ======================================================================== */

  /* Default Button                                                     BUT01
     ======================================================================== */
  --ruckus-button-background-color: hsl( var(--ruckus-default-hue), var(--ruckus-default-sat), 100% );
  --ruckus-button-border-color: hsl( var(--ruckus-default-hue), var(--ruckus-default-sat), 88% );
  --ruckus-button-box-shadow: 0 var(--ruckus-shadow-depth) 0 hsla( var(--ruckus-default-hue), var(--ruckus-default-sat), 88%, var(--ruckus-shadow-opacity) );
  --ruckus-button-color: hsl( var(--ruckus-default-hue), var(--ruckus-default-sat), 48% );
  --ruckus-button-hover-background-color: hsl( var(--ruckus-default-hue), var(--ruckus-default-sat), 100% );
  --ruckus-button-hover-border-color: hsl( var(--ruckus-default-hue), var(--ruckus-default-sat), 80% );
  --ruckus-button-hover-box-shadow: 0 var(--ruckus-shadow-depth) 0 hsla( var(--ruckus-default-hue), var(--ruckus-default-sat), 80%, var(--ruckus-shadow-opacity) );
  --ruckus-button-hover-color: hsl( var(--ruckus-default-hue), var(--ruckus-default-sat), 48% );
  --ruckus-button-focus-background-color: hsl( var(--ruckus-default-hue), var(--ruckus-default-sat), 100% );
  --ruckus-button-focus-border-color: hsl( var(--ruckus-primary-hue), var(--ruckus-primary-sat), 56% );
  --ruckus-button-focus-box-shadow:  0 0 0 var(--ruckus-outline-width) hsla( var(--ruckus-primary-hue), var(--ruckus-primary-sat), 56%, var(--ruckus-outline-opacity) );
  --ruckus-button-focus-color: hsl( var(--ruckus-default-hue), var(--ruckus-default-sat), 48% );
  --ruckus-button-active-background-color: hsl( var(--ruckus-default-hue), var(--ruckus-default-sat), 96% );
  --ruckus-button-active-border-color: hsl( var(--ruckus-default-hue), var(--ruckus-default-sat), 80% );
  --ruckus-button-active-box-shadow: inset 0 var(--ruckus-shadow-depth) 0 hsla( var(--ruckus-default-hue), var(--ruckus-default-sat), 80%, var(--ruckus-shadow-opacity) );
  --ruckus-button-active-color: hsl( var(--ruckus-default-hue), var(--ruckus-default-sat), 48% );

  /* Primary Button                                                    BUT02
     =======================================================================  */
  --ruckus-button-primary-background-color: hsl( var(--ruckus-primary-hue), var(--ruckus-primary-sat), 56% );
  --ruckus-button-primary-border-color: hsl( var(--ruckus-primary-hue), var(--ruckus-primary-sat), 48% );
  --ruckus-button-primary-box-shadow: 0 var(--ruckus-shadow-depth) 0 hsla( var(--ruckus-primary-hue), var(--ruckus-primary-sat), 48%, var(--ruckus-shadow-opacity) );
  --ruckus-button-primary-color: hsl( var(--ruckus-primary-hue), var(--ruckus-primary-sat), 100% );
  --ruckus-button-primary-hover-background-color: hsl( var(--ruckus-primary-hue), var(--ruckus-primary-sat), 60% );
  --ruckus-button-primary-hover-border-color: hsl( var(--ruckus-primary-hue), var(--ruckus-primary-sat), 40% );
  --ruckus-button-primary-hover-box-shadow: 0 var(--ruckus-shadow-depth) 0 hsla( var(--ruckus-primary-hue), var(--ruckus-primary-sat), 40%, var(--ruckus-shadow-opacity) );
  --ruckus-button-primary-hover-color: hsl( var(--ruckus-primary-hue), var(--ruckus-primary-sat), 100% );
  --ruckus-button-primary-focus-background-color: hsl( var(--ruckus-primary-hue), var(--ruckus-primary-sat), 56% );
  --ruckus-button-primary-focus-border-color: hsl( var(--ruckus-primary-hue), var(--ruckus-primary-sat), 40% );
  --ruckus-button-primary-focus-box-shadow:  0 0 0 var(--ruckus-outline-width) hsla( var(--ruckus-primary-hue), var(--ruckus-primary-sat), 40%, var(--ruckus-outline-opacity) );
  --ruckus-button-primary-focus-color: hsl( var(--ruckus-primary-hue), var(--ruckus-primary-sat), 100% );
  --ruckus-button-primary-active-background-color: hsl( var(--ruckus-primary-hue), var(--ruckus-primary-sat), 56% );
  --ruckus-button-primary-active-border-color: hsl( var(--ruckus-primary-hue), var(--ruckus-primary-sat), 32% );
  --ruckus-button-primary-active-box-shadow: inset 0 var(--ruckus-shadow-depth) 0 hsla( var(--ruckus-primary-hue), var(--ruckus-primary-sat), 32%, var(--ruckus-shadow-opacity) );
  --ruckus-button-primary-active-color: hsl( var(--ruckus-primary-hue), var(--ruckus-primary-sat), 100% );

  /* Secondary Button                                                   BUT03
     ======================================================================== */
  --ruckus-button-secondary-background-color: hsl( var(--ruckus-secondary-hue), var(--ruckus-secondary-sat), 40% );
  --ruckus-button-secondary-border-color: hsl( var(--ruckus-secondary-hue), var(--ruckus-secondary-sat), 32% );
  --ruckus-button-secondary-box-shadow: 0 var(--ruckus-shadow-depth) 0 hsla( var(--ruckus-secondary-hue), var(--ruckus-secondary-sat), 32%, var(--ruckus-shadow-opacity) );
  --ruckus-button-secondary-color: hsl( var(--ruckus-secondary-hue), var(--ruckus-secondary-sat), 100% );
  --ruckus-button-secondary-hover-background-color: hsl( var(--ruckus-secondary-hue), var(--ruckus-secondary-sat), 44% );
  --ruckus-button-secondary-hover-border-color: hsl( var(--ruckus-secondary-hue), var(--ruckus-secondary-sat), 24% );
  --ruckus-button-secondary-hover-box-shadow: 0 var(--ruckus-shadow-depth) 0 hsla( var(--ruckus-secondary-hue), var(--ruckus-secondary-sat), 24%, var(--ruckus-shadow-opacity) );
  --ruckus-button-secondary-hover-color: hsl( var(--ruckus-secondary-hue), var(--ruckus-secondary-sat), 100% );
  --ruckus-button-secondary-focus-background-color: hsl( var(--ruckus-secondary-hue), var(--ruckus-secondary-sat), 40% );
  --ruckus-button-secondary-focus-border-color: hsl( var(--ruckus-secondary-hue), var(--ruckus-secondary-sat), 24% );
  --ruckus-button-secondary-focus-box-shadow:  0 0 0 var(--ruckus-outline-width) hsla( var(--ruckus-secondary-hue), var(--ruckus-secondary-sat), 24%, var(--ruckus-outline-opacity) );
  --ruckus-button-secondary-focus-color: hsl( var(--ruckus-secondary-hue), var(--ruckus-secondary-sat), 100% );
  --ruckus-button-secondary-active-background-color: hsl( var(--ruckus-secondary-hue), var(--ruckus-secondary-sat), 40% );
  --ruckus-button-secondary-active-border-color: hsl( var(--ruckus-secondary-hue), var(--ruckus-secondary-sat), 16% );
  --ruckus-button-secondary-active-box-shadow: inset 0 var(--ruckus-shadow-depth) 0 hsla( var(--ruckus-secondary-hue), var(--ruckus-secondary-sat), 16%, var(--ruckus-shadow-opacity) );
  --ruckus-button-secondary-active-color: hsl( var(--ruckus-secondary-hue), var(--ruckus-secondary-sat), 100% );

  /* Error Button                                                       BUT04
     ======================================================================== */
  --ruckus-button-error-background-color: hsl( var(--ruckus-error-hue), var(--ruckus-error-sat), 64% );
  --ruckus-button-error-border-color: hsl( var(--ruckus-error-hue), var(--ruckus-error-sat), 56% );
  --ruckus-button-error-box-shadow: 0 var(--ruckus-shadow-depth) 0 hsla( var(--ruckus-error-hue), var(--ruckus-error-sat), 56%, var(--ruckus-shadow-opacity) );
  --ruckus-button-error-color: hsl( var(--ruckus-error-hue), var(--ruckus-error-sat), 100% );
  --ruckus-button-error-hover-background-color: hsl( var(--ruckus-error-hue), var(--ruckus-error-sat), 68% );
  --ruckus-button-error-hover-border-color: hsl( var(--ruckus-error-hue), var(--ruckus-error-sat), 48% );
  --ruckus-button-error-hover-box-shadow: 0 var(--ruckus-shadow-depth) 0 hsla( var(--ruckus-error-hue), var(--ruckus-error-sat), 48%, var(--ruckus-shadow-opacity) );
  --ruckus-button-error-hover-color: hsl( var(--ruckus-error-hue), var(--ruckus-error-sat), 100% );
  --ruckus-button-error-focus-background-color: hsl( var(--ruckus-error-hue), var(--ruckus-error-sat), 64% );
  --ruckus-button-error-focus-border-color: hsl( var(--ruckus-error-hue), var(--ruckus-error-sat), 48% );
  --ruckus-button-error-focus-box-shadow:  0 0 0 var(--ruckus-outline-width) hsla( var(--ruckus-error-hue), var(--ruckus-error-sat), 48%, var(--ruckus-outline-opacity) );
  --ruckus-button-error-focus-color: hsl( var(--ruckus-error-hue), var(--ruckus-error-sat), 100% );
  --ruckus-button-error-active-background-color: hsl( var(--ruckus-error-hue), var(--ruckus-error-sat), 64% );
  --ruckus-button-error-active-border-color: hsl( var(--ruckus-error-hue), var(--ruckus-error-sat), 40% );
  --ruckus-button-error-active-box-shadow: inset 0 var(--ruckus-shadow-depth) 0 hsla( var(--ruckus-error-hue), var(--ruckus-error-sat), 40%, var(--ruckus-shadow-opacity) );
  --ruckus-button-error-active-color: hsl( var(--ruckus-error-hue), var(--ruckus-error-sat), 100% );

  /* Success Button                                                     BUT05
     ======================================================================== */
  --ruckus-button-success-background-color: hsl( var(--ruckus-success-hue), var(--ruckus-success-sat), 72% );
  --ruckus-button-success-border-color: hsl( var(--ruckus-success-hue), var(--ruckus-success-sat), 64% );
  --ruckus-button-success-box-shadow: 0 var(--ruckus-shadow-depth) 0 hsla( var(--ruckus-success-hue), var(--ruckus-success-sat), 64%, var(--ruckus-shadow-opacity) );
  --ruckus-button-success-color: hsl( var(--ruckus-success-hue), var(--ruckus-success-sat), 24% );
  --ruckus-button-success-hover-background-color: hsl( var(--ruckus-success-hue), var(--ruckus-success-sat), 76% );
  --ruckus-button-success-hover-border-color: hsl( var(--ruckus-success-hue), var(--ruckus-success-sat), 56% );
  --ruckus-button-success-hover-box-shadow: 0 var(--ruckus-shadow-depth) 0 hsla( var(--ruckus-success-hue), var(--ruckus-success-sat), 56%, var(--ruckus-shadow-opacity) );
  --ruckus-button-success-hover-color: hsl( var(--ruckus-success-hue), var(--ruckus-success-sat), 24% );
  --ruckus-button-success-focus-background-color: hsl( var(--ruckus-success-hue), var(--ruckus-success-sat), 72% );
  --ruckus-button-success-focus-border-color: hsl( var(--ruckus-success-hue), var(--ruckus-success-sat), 56% );
  --ruckus-button-success-focus-box-shadow:  0 0 0 var(--ruckus-outline-width) hsla( var(--ruckus-success-hue), var(--ruckus-success-sat), 56%, var(--ruckus-outline-opacity) );
  --ruckus-button-success-focus-color: hsl( var(--ruckus-success-hue), var(--ruckus-success-sat), 24% );
  --ruckus-button-success-active-background-color: hsl( var(--ruckus-success-hue), var(--ruckus-success-sat), 72% );
  --ruckus-button-success-active-border-color: hsl( var(--ruckus-success-hue), var(--ruckus-success-sat), 48% );
  --ruckus-button-success-active-box-shadow: inset 0 var(--ruckus-shadow-depth) 0 hsla( var(--ruckus-success-hue), var(--ruckus-success-sat), 48%, var(--ruckus-shadow-opacity) );
  --ruckus-button-success-active-color: hsl( var(--ruckus-success-hue), var(--ruckus-success-sat), 24% );

  /* Warning Button                                                     BUT06
     ======================================================================== */
  --ruckus-button-warning-background-color: hsl( var(--ruckus-warning-hue), var(--ruckus-warning-sat), 72% );
  --ruckus-button-warning-border-color: hsl( var(--ruckus-warning-hue), var(--ruckus-warning-sat), 64% );
  --ruckus-button-warning-box-shadow: 0 var(--ruckus-shadow-depth) 0 hsla( var(--ruckus-warning-hue), var(--ruckus-warning-sat), 64%, var(--ruckus-shadow-opacity) );
  --ruckus-button-warning-color: hsl( var(--ruckus-warning-hue), var(--ruckus-warning-sat), 24% );
  --ruckus-button-warning-hover-background-color: hsl( var(--ruckus-warning-hue), var(--ruckus-warning-sat), 76% );
  --ruckus-button-warning-hover-border-color: hsl( var(--ruckus-warning-hue), var(--ruckus-warning-sat), 56% );
  --ruckus-button-warning-hover-box-shadow: 0 var(--ruckus-shadow-depth) 0 hsla( var(--ruckus-warning-hue), var(--ruckus-warning-sat), 56%, var(--ruckus-shadow-opacity) );
  --ruckus-button-warning-hover-color: hsl( var(--ruckus-warning-hue), var(--ruckus-warning-sat), 24% );
  --ruckus-button-warning-focus-background-color: hsl( var(--ruckus-warning-hue), var(--ruckus-warning-sat), 72% );
  --ruckus-button-warning-focus-border-color: hsl( var(--ruckus-warning-hue), var(--ruckus-warning-sat), 56% );
  --ruckus-button-warning-focus-box-shadow:  0 0 0 var(--ruckus-outline-width) hsla( var(--ruckus-warning-hue), var(--ruckus-warning-sat), 56%, var(--ruckus-outline-opacity) );
  --ruckus-button-warning-focus-color: hsl( var(--ruckus-warning-hue), var(--ruckus-warning-sat), 24% );
  --ruckus-button-warning-active-background-color: hsl( var(--ruckus-warning-hue), var(--ruckus-warning-sat), 72% );
  --ruckus-button-warning-active-border-color: hsl( var(--ruckus-warning-hue), var(--ruckus-warning-sat), 48% );
  --ruckus-button-warning-active-box-shadow: inset 0 var(--ruckus-shadow-depth) 0 hsla( var(--ruckus-warning-hue), var(--ruckus-warning-sat), 48%, var(--ruckus-shadow-opacity) );
  --ruckus-button-warning-active-color: hsl( var(--ruckus-warning-hue), var(--ruckus-warning-sat), 24% );

  /* ========================================================================
     Card                                                               CAR00
     ======================================================================== */

  --ruckus-card-background-color: hsl( var(--ruckus-default-hue), var(--ruckus-default-sat), 100% );
  --ruckus-card-border-color: hsl( var(--ruckus-default-hue), var(--ruckus-default-sat), 88% );
  --ruckus-card-box-shadow: 0 var(--ruckus-shadow-depth) 0 hsla( var(--ruckus-default-hue), var(--ruckus-default-sat), var(--ruckus-card-border-color), var(--ruckus-shadow-opacity) );
  --ruckus-card-color: hsl( var(--ruckus-default-hue), var(--ruckus-default-sat), 48% );
  --ruckus-card-divider-color: hsl( var(--ruckus-default-hue), var(--ruckus-default-sat), 96% );
  --ruckus-card-action-background-color: hsl( var(--ruckus-default-hue), var(--ruckus-default-sat), 98% );
  --ruckus-card-action-color: hsl( var(--ruckus-default-hue), var(--ruckus-default-sat), 48% );
  
  --ruckus-card-menu-background-color: transparent;
  --ruckus-card-menu-color: inherit;
  --ruckus-card-menu-hover-background-color: hsl( var(--ruckus-default-hue), var(--ruckus-default-sat), 98% );
  --ruckus-card-menu-hover-color: inherit;
  --ruckus-card-menu-focus-background-color: hsl( var(--ruckus-default-hue), var(--ruckus-default-sat), 98% );
  --ruckus-card-menu-focus-color: inherit;
  --ruckus-card-menu-active-background-color: hsl( var(--ruckus-default-hue), var(--ruckus-default-sat), 96% );
  --ruckus-card-menu-active-color: inherit;
  --ruckus-card-menu-divider-border-color: hsl( var(--ruckus-default-hue), var(--ruckus-default-sat), 96% );

  /* ========================================================================
     Checkbox                                                           CHE00
     ======================================================================== */
  
  --ruckus-checkbox-background-color: hsl( var(--ruckus-primary-hue), var(--ruckus-primary-sat), 56% );
  --ruckus-checkbox-border-color: hsl( var(--ruckus-default-hue), var(--ruckus-default-sat), 88% );
  --ruckus-checkbox-box-shadow: inset 0 var(--ruckus-shadow-depth) 0 hsla( var(--ruckus-primary-hue), var(--ruckus-default-sat), 88%, var(--ruckus-shadow-opacity) );
  --ruckus-checkbox-hover-border-color: hsl( var(--ruckus-primary-hue), var(--ruckus-default-sat), 80% );
  --ruckus-checkbox-focus-border-color: hsl( var(--ruckus-primary-hue), var(--ruckus-primary-sat), 56% );
  --ruckus-checkbox-focus-box-shadow: 0 0 0 var(--ruckus-outline-width) hsla( var(--ruckus-primary-hue), var(--ruckus-primary-sat), 56%, var(--ruckus-outline-opacity) );

  /* ========================================================================
     Divider                                                            DIV00
     ======================================================================== */

  --ruckus-divider-border-color: hsl( var(--ruckus-default-hue), var(--ruckus-default-sat), 24% );

  /* ========================================================================
     HTML                                                               HTM00
     ======================================================================== */

  --ruckus-html-background-color: hsl( var(--ruckus-default-hue), var(--ruckus-default-sat), 16% );
  --ruckus-html-color: hsl( var(--ruckus-default-hue), var(--ruckus-default-sat), 80% );

  /* ========================================================================
     Input                                                              INP00
     ======================================================================== */

   /* Default Input                                                      INP01
      ======================================================================== */
  --ruckus-input-border-color: hsl( var(--ruckus-default-hue), var(--ruckus-default-sat), 88% );
  --ruckus-input-box-shadow: inset 0 var(--ruckus-shadow-depth) 0 hsla( var(--ruckus-default-hue), var(--ruckus-default-sat), 88%, var(--ruckus-shadow-opacity) ); 
  --ruckus-input-hover-border-color: hsl( var(--ruckus-default-hue), var(--ruckus-default-sat), 80% );
  --ruckus-input-hover-box-shadow: inset 0 var(--ruckus-shadow-depth) 0 hsla( var(--ruckus-default-hue), var(--ruckus-default-sat), 80%, var(--ruckus-shadow-opacity) ); 
  --ruckus-input-focus-border-color: hsl( var(--ruckus-primary-hue), var(--ruckus-primary-sat), 56% );
  --ruckus-input-focus-box-shadow: 0 0 0 var(--ruckus-outline-width) hsla( var(--ruckus-primary-hue), var(--ruckus-primary-sat), 56%, var(--ruckus-outline-opacity) ); 
  --ruckus-input-active-border-color: hsl( var(--ruckus-primary-hue), var(--ruckus-primary-sat), 56% );
  --ruckus-input-active-box-shadow: 0 0 0 var(--ruckus-outline-width) hsla( var(--ruckus-primary-hue), var(--ruckus-primary-sat), 56%, var(--ruckus-outline-opacity) ); 

  /* Error Input                                                        INP02
     ======================================================================== */
  --ruckus-input-error-border-color: hsl( var(--ruckus-error-hue), var(--ruckus-error-sat), 64% );
  --ruckus-input-error-box-shadow: inset 0 var(--ruckus-shadow-depth) 0 hsla( var(--ruckus-error-hue), var(--ruckus-error-sat), 64%, var(--ruckus-shadow-opacity) ); 
  --ruckus-input-error-color: hsl( var(--ruckus-error-hue), var(--ruckus-error-sat), 64% );
  --ruckus-input-error-hover-border-color: hsl( var(--ruckus-error-hue), var(--ruckus-error-sat), 56% );
  --ruckus-input-error-hover-box-shadow: inset 0 var(--ruckus-shadow-depth) 0 hsla( var(--ruckus-error-hue), var(--ruckus-error-sat), 56%, var(--ruckus-shadow-opacity) ); 
  --ruckus-input-error-hover-color: hsl( var(--ruckus-error-hue), var(--ruckus-error-sat), 64% );
  --ruckus-input-error-focus-border-color: hsl( var(--ruckus-error-hue), var(--ruckus-error-sat), 56% );
  --ruckus-input-error-focus-box-shadow: 0 0 0 var(--ruckus-outline-width) hsla( var(--ruckus-error-hue), var(--ruckus-error-sat), 56%, var(--ruckus-outline-opacity) ); 
  --ruckus-input-error-focus-color: hsl( var(--ruckus-error-hue), var(--ruckus-error-sat), 64% );
  --ruckus-input-error-active-border-color: hsl( var(--ruckus-error-hue), var(--ruckus-error-sat), 56% );
  --ruckus-input-error-active-box-shadow: 0 0 0 var(--ruckus-outline-width) hsla( var(--ruckus-error-hue), var(--ruckus-error-sat), 56%, var(--ruckus-outline-opacity) ); 
  --ruckus-input-error-active-color: hsl( var(--ruckus-error-hue), var(--ruckus-error-sat), 64% );

  /* ========================================================================
     Link                                                               LIN00
     ======================================================================== */

  --ruckus-link-color: hsl( var(--ruckus-primary-hue), var(--ruckus-primary-sat), 56% );
  --ruckus-link-text-decoration-color: hsla( var(--ruckus-primary-hue), var(--ruckus-primary-sat), 56%, var(--ruckus-outline-opacity) );

  --ruckus-link-hover-color: hsl( var(--ruckus-primary-hue), var(--ruckus-primary-sat), 56% );
  --ruckus-link-hover-text-decoration-color: hsl( var(--ruckus-primary-hue), var(--ruckus-primary-sat), 56% );
  
  /* ========================================================================
     Menu                                                               MEN00
     ======================================================================== */

  --ruckus-menu-link-hover-background-color: hsl( var(--ruckus-default-hue), var(--ruckus-default-sat), 18% );
  --ruckus-menu-link-focus-background-color: hsl( var(--ruckus-default-hue), var(--ruckus-default-sat), 18% );
  --ruckus-menu-link-active-background-color: hsl( var(--ruckus-default-hue), var(--ruckus-default-sat), 20% );

  /* ========================================================================
     Modal
     ======================================================================== */
  
  --ruckus-modal-background-color: hsla( var(--ruckus-default-hue), var(--ruckus-default-sat), 16%, 0.75 );

  /* ========================================================================
     Navbar                                                             NAV00
     ======================================================================== */

  --ruckus-navbar-background-color: hsl( var(--ruckus-primary-hue), var(--ruckus-primary-sat), 56% );
  --ruckus-navbar-color: hsl( var(--ruckus-primary-hue), var(--ruckus-primary-sat), 100% );

  /* ========================================================================
     Notification                                                       NOT00
     ======================================================================== */
  
  /* Default Notification                                               NOT01
     ======================================================================== */
  --ruckus-notification-border-color: hsl( var(--ruckus-default-hue), var(--ruckus-default-sat), 24% );
  
  
  /* Primary Notification                                               NOT02
     ======================================================================== */
  --ruckus-notification-primary-border-color: hsl( var(--ruckus-primary-hue), var(--ruckus-primary-sat), 56% );
  
  
  /* Error Notification                                                 NOT03
     ======================================================================== */
  --ruckus-notification-error-border-color: hsl( var(--ruckus-error-hue), var(--ruckus-error-sat), 64% );

  /* ========================================================================
     Select                                                             SEL00
     ======================================================================== */

  --ruckus-select-background-color: hsl( var(--ruckus-default-hue), var(--ruckus-default-sat),  100% );
  --ruckus-select-border-color: hsl( var(--ruckus-default-hue), var(--ruckus-default-sat), 88% );
  --ruckus-select-color: hsl( var(--ruckus-default-hue), var(--ruckus-default-sat), 48% );

  /* ========================================================================
     Tag                                                                TAG00
     ======================================================================== */

  /* Default Tag                                                        TAG01
     ======================================================================== */
  --ruckus-tag-background-color: hsl( var(--ruckus-default-hue), var(--ruckus-default-sat), 100% );
  --ruckus-tag-border-color: hsl( var(--ruckus-default-hue), var(--ruckus-default-sat), 88% );
  --ruckus-tag-color: hsl( var(--ruckus-default-hue), var(--ruckus-default-sat), 48% );
  
  /* Primary Tag                                                        TAG02
     ======================================================================== */
  --ruckus-tag-primary-background-color: hsl( var(--ruckus-primary-hue), var(--ruckus-primary-sat), 56% );
  --ruckus-tag-primary-color: hsl( var(--ruckus-primary-hue), var(--ruckus-primary-sat), 100% );
  
  /* Secondary Tag                                                      TAG03
     ======================================================================== */
  --ruckus-tag-secondary-background-color: hsl( var(--ruckus-default-hue), var(--ruckus-default-sat), 40% );
  --ruckus-tag-secondary-color: hsl( var(--ruckus-default-hue), var(--ruckus-default-sat), 100% );
  
  /* Error Tag                                                          TAG04
     ======================================================================== */
  --ruckus-tag-error-background-color: hsl( var(--ruckus-error-hue), var(--ruckus-error-sat), 64% );
  --ruckus-tag-error-color: hsl( var(--ruckus-error-hue), var(--ruckus-error-sat), 100% );

  /* Success Tag                                                        TAG05
     ======================================================================== */  
  --ruckus-tag-success-background-color: hsl( var(--ruckus-success-hue), var(--ruckus-success-sat), 72% );
  --ruckus-tag-success-color: hsl( var(--ruckus-success-hue), var(--ruckus-success-sat), 24% );

  /* Warning Tag                                                        TAG06
     ======================================================================== */  
  --ruckus-tag-warning-background-color: hsl( var(--ruckus-warning-hue), var(--ruckus-warning-sat), 72% );
  --ruckus-tag-warning-color: hsl( var(--ruckus-warning-hue), var(--ruckus-warning-sat), 24% );

  /* ========================================================================
     Text Selection                                                     TEX00
     ======================================================================== */

  --ruckus-text-selection-background-color: hsl( var(--ruckus-primary-hue), var(--ruckus-primary-sat), 88% );
  --ruckus-text-selection-color: hsl( var(--ruckus-primary-hue), var(--ruckus-primary-sat), 56% );

}

