/*
  components.tooltip.css
*/

.tooltip {
  position: relative;
}

.tooltip-content {
  background-color: hsl(
    var(--hue, var(--base-hue)),
    var(--saturation, var(--base-saturation)),
    var(--background, var(--base-background))
  );

  border-radius: 0.25em;
  bottom: 100%;

  /* box-shadow: 0 1em 1em -0.5em hsla(232, 32%, 24%, 0.5); */

  color: hsl(
    var(--hue, var(--base-hue)),
    var(--saturation, var(--base-saturation)),
    var(--color, var(--base-color))
  );

  content: attr(data-text);
  display: block;
  font-size: 0.75em;
  font-weight: 600;
  left: 50%;
  line-height: 1.25;
  margin-bottom: 1em;
  max-width: 16em;
  min-width: 12em;
  opacity: 0;
  padding: 0.5em 1em;
  pointer-events: none;
  position: absolute;
  text-align: left;
  transform: translateX(-50%) translateY(1em);

  transition: var(
    --prefers-reduced-motion,
    opacity 160ms, transform 160ms, visibility 160ms
  );

  visibility: hidden;
}

.tooltip:hover .tooltip-content,
.tooltip:focus .tooltip-content {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
  visibility: visible;
}

.tooltip-content::before {
  background-color: hsl(
    var(--hue, var(--base-hue)),
    var(--saturation, var(--base-saturation)),
    var(--background, var(--base-background))
  );

  border-bottom-right-radius: 0.125em;
  bottom: -0.25em;
  content: "";
  height: 0.5em;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) rotate(45deg);
  width: 0.5em;
  z-index: -1;
}
