/*
  components.nav-bar.css
    a generic flex container that applies background and text colors to nav
*/

.nav-bar {
  background-color: hsl(
    var(--hue, var(--default-hue)),
    var(--saturation, var(--default-saturation)),
    var(--background, var(--default-html))
  );

  color: hsl(
    var(--hue, var(--default-hue)),
    var(--saturation, var(--default-saturation)),
    var(--color, var(--default-color))
  );

  align-items: center;
  display: flex;

  transition: var(
    --prefers-reduced-motion,
    background-color 160ms, color 160ms
  );
}
