.notification {
  background-color: hsl(
    var(--hue, var(--base-hue)),
    var(--saturation, var(--base-saturation)),
    var(--background, var(--base-background))
  );

  color: hsl(
    var(--hue, var(--base-hue)),
    var(--saturation, var(--base-saturation)),
    var(--color, var(--base-color))
  );

  border-radius: 0.25em;
  padding: 1em;

  transition: var(
    --prefers-reduced-motion,
    background-color 160ms, color 160ms
  );
}




/*
  .notification hr
    set the default divider color inside notifications to base since the
    notification is set to base color
*/

.notification hr {
  color: hsl(
    var(--hue, var(--base-hue)),
    var(--saturation, var(--base-saturation)),
    var(--divider, var(--base-divider))
  );
}
