/*
  components.auto-grid.css
    uses the new grid display to layout cards or element that plan on having
    dynamic widths and wrapping
*/

.auto-grid {
  --auto-grid-gap: 1em;
  --auto-grid-min-width: 20em;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-width), 1fr));
  grid-gap: var(--auto-grid-gap);
}

.auto-grid-xs {
  --auto-grid-gap: 0.25em;
  --auto-grid-min-width: 8em;
}

.auto-grid-s {
  --auto-grid-gap: 0.5em;
  --auto-grid-min-width: 16em;
}

.auto-grid-l {
  --auto-grid-gap: 2em;
  --auto-grid-min-width: 24em;
}

.auto-grid-xl {
  --auto-grid-gap: 4em;
  --auto-grid-min-width: 32em;
}
