/*
  components.banner.css
    a banner or hero brings great attention to a section of content
*/

.banner {
  --banner-background: hsl(var(--hue), var(--saturation), var(--background));

  background-color: hsl(
    var(--hue),
    var(--saturation),
    var(--background)
  );

  color: hsl(
    var(--hue),
    var(--saturation),
    var(--color)
  );

  padding: 2em;

  transition: var(
    --prefers-reduced-motion,
    background-color 160ms, color 160ms
  );
}
