/*
  components.modal.css
    display content on a new layer
*/

.modal {
  background-color: hsla(
    var(--hue, var(--base-hue)),
    var(--saturation, var(--base-saturation)),
    var(--background, var(--base-background)),
    0.75
  );

  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;

  transition: var(
    --prefers-reduced-motion,
    background-color 160ms, opacity 160ms, transform 160ms, visibility 160ms
  );

  visibility: hidden;
  width: 100vw;
  z-index: 10000;
}

.modal.hidden {
  opacity: 0;
  transform: scale(1.1);
}

.modal.visible {
  opacity: 1;
  transform: scale(1);
}
