/*
  components.box.css
    generic container that changes background and text color
*/

.box {
  background-color: hsl(
    var(--hue, var(--base-hue)),
    var(--saturation, var(--base-saturation)),
    var(--background, var(--base-background))
  );

  border-radius: 0.25em;

  color: hsl(
    var(--hue, var(--base-hue)),
    var(--saturation, var(--base-saturation)),
    var(--color, var(--base-color))
  );

  padding: 1em;
  text-decoration: none;

  transition: var(
    --prefers-reduced-motion,
    background-color 160ms, color 160ms
  );
}
