/*
  components.link.css
    styles link elements with special decorations
*/

.link {
  background-color: transparent;

  color: hsl(
    var(--hue, var(--default-hue)),
    var(--saturation, var(--default-saturation)),
    var(--text, var(--default-color))
  );

  box-shadow: 0 -0.375em 0 hsla(
    var(--hue, var(--default-hue)),
    var(--saturation, var(--default-saturation)),
    var(--text, var(--default-color)),
    0.1875
  ) inset;

  padding: 0.125em 0.1875em;  
  text-decoration: none;

  transition: var(
    --prefers-reduced-motion,
    background-color 160ms, box-shadow 160ms
  );
}

.link:hover {
  background-color: hsla(
    var(--hue, var(--default-hue)),
    var(--saturation, var(--default-saturation)),
    var(--text, var(--default-color)),
    0.1875
  );

  box-shadow: 0 -0.25em 0 transparent inset;
}
