.control {
  position: relative;
}

.control > .icon:last-child {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
}

.control-group :not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}

.control-group :not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}