/*
  components.button.css
    the standard button in an array of flavors: colors, light, ghost, invert
*/

.button {
  background-color: hsl(
    var(--hue),
    var(--saturation),
    var(--background)
  );

  border: none;
  border-radius: 0.25em;

  color: hsl(
    var(--hue),
    var(--saturation),
    var(--color)
  );

  cursor: pointer;
  display: inline-block;
  font: inherit;
  font-weight: 700;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;

  transition: var(
    --prefers-reduced-motion,
    background-color 160ms, border-color 160ms, box-shadow 160ms, color 160ms
  );
}

.button:hover {
  background-color: hsl(
    var(--hue),
    var(--saturation),
    calc(var(--background) / 0.88)
  );
}

.button:focus {
  box-shadow:
    0 0 0 var(--box-shadow-width, 0.1875em)
    hsl(
      var(--hue),
      var(--saturation),
      var(--box-shadow),
      var(--box-shadow-alpha, 0.25)
    )
    var(--box-shadow-inset);

  outline: var(--outline, none);
}

.button:active {
  background-color: hsl(
    var(--hue),
    var(--saturation),
    calc(var(--background) * 0.88)
  );
}




/*
  .button.ghost
    make background transparent and add a border
*/

.button.ghost {
  background-color: transparent;

  border-color: hsl(
    var(--hue),
    var(--saturation),
    var(--border)
  );

  border-style: solid;
  border-width: 1px;

  color: hsl(
    var(--hue),
    var(--saturation),
    var(--color)
  );

  padding: calc(0.5em - 1px) calc(1em - 1px);
}

.button.ghost:hover {
  border-color: hsl(
    var(--hue),
    var(--saturation),
    calc(var(--border) / 0.88)
  );
}

.button.ghost:focus {
  border-color: hsl(
    var(--hue),
    var(--saturation),
    calc(var(--border) / 0.64)
  );

  box-shadow:
    0 0 0 var(--box-shadow-width, 0.1875em)
    hsla(
      var(--hue),
      var(--saturation),
      calc(var(--border) / 0.64),
      var(--box-shadow-alpha, 0.25)
    );
}

.button.ghost:active {
  border-color: hsl(
    var(--hue),
    var(--saturation),
    calc(var(--border) / 0.64)
  );
}
