.section {
  background-color: hsl(
    var(--hue),
    var(--saturation),
    var(--background)
  );

  color: hsl(
    var(--hue),
    var(--saturation),
    var(--color)
  );

  padding: 2em;

  transition: var(
    --prefers-reduced-motion,
    background-color 160ms, color 160ms
  );
}
